﻿@model GCSOFT.MVC.STNHD.Models.PageViewModels.AgencyViewModel
@using GCSOFT.MVC.STNHD.Models
@using GCSOFT.MVC.STNHD.Resource
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
    var ratings = new List<string>();
    ratings.Add("1000");
    ratings.Add("700");
    ratings.Add("600");
    ratings.Add("500");
    ratings.Add("400");
    ratings.Add("300");
    ratings.Add("200");
    ratings.Add("100");
    var classOffer = string.Empty;
    int firstRow = 0;
    var _agencyList = Model.AgencyList.Where(d => !string.IsNullOrEmpty(d.RatingCode));
    var styleClass = string.Empty;
}
<link href="@Url.Content("~/Content/agency.css")" rel="stylesheet" />
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>@stnhd.Hello2 @Model.UserInfo.fullName</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-md-12 bootstrap snippets bootdeys">
            <center><h3 class="h-agency-title">@stnhd.Partners</h3></center>
            <div class="x_panel">
                <div class="x_content">
                    <div class="row row-agency">
                        @foreach (var rating in ratings)
                        {
                            var agencyList = _agencyList.Where(d => d.RatingCode.Equals(rating)) ?? new List<AgencyList>();
                            //if (agencyList.Count() == 1)
                            //{
                            //    classOffer = "col-md-offset-0 col-sm-offset-0";
                            //}
                            //else if (agencyList.Count() == 2)
                            //{
                            //    classOffer = "col-md-offset-3 col-sm-offset-3";
                            //}
                            //else if (rating.Equals("1000"))
                            //{
                            //    classOffer = "col-md-offset-4 col-sm-offset-4";
                            //}
                            //else
                            //{
                            //    classOffer = "col-md-offset-0 col-sm-offset-0";
                            //}
                            if (rating.Equals("1000"))
                            {
                                classOffer = "col-md-offset-2 col-sm-offset-2";
                                styleClass = "style='left: 62px'";
                            }
                            else
                            {
                                classOffer = "col-md-offset-0 col-sm-offset-0";
                            }
                            firstRow = 0;
                            <div class="clearfix"></div>
                            foreach (var item in agencyList.OrderBy(d => d.DateCreate))
                            {
                                if (firstRow != 0)
                                {
                                    classOffer = "";
                                }
                                firstRow += 1;

                                <div class="col-md-3 col-sm-3 col-xs-12 animated fadeInDown @classOffer" @(rating.Equals("1000") ? styleClass : "") >
                                    <div class="well profile_view">
                                        <div class="col-sm-12">
                                            <h4 class="brief" style="text-align:center"><strong>@item.FullName</strong></h4>
                                            <div class="rightagency col-md-12 col-sm-12 col-xs-12 text-center">
                                                @if (string.IsNullOrEmpty(item.Image))
                                                {
                                                    <img src="@Url.Content("~/Content/images/logo.jpg")" alt="" class="img-circle img-responsive">
                                                }
                                                else
                                                {
                                                    <img src="@string.Format("https://admin.sieutrinhohocduong.com/Files/Agencry/{0}/{1}", item.Id, item.Image)" alt="" class="img-circle img-responsive">
                                                }
                                            </div>
                                        </div>
                                        @if (item.RatingCode.Equals("1000"))
                                        {
                                            <div class="col-xs-12 bottom text-center">
                                                <div class="col-xs-12 col-sm-12 emphasis">
                                                    <p class="agency-ratings" style="text-align: center;">
                                                        <a>
                                                            <img style="height: 20px" src="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/ttllogo.png?alt=media&token=809a0723-e998-43f6-b65d-70263ba9e2ae" />
                                                        </a>&nbsp;
                                                        <a>
                                                            <img style="height: 20px" src="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/ttllogo.png?alt=media&token=809a0723-e998-43f6-b65d-70263ba9e2ae" />
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>

                                        }
                                        @if (item.RatingCode.Equals("700"))
                                        {
                                            <div class="col-xs-12 bottom text-center">
                                                <div class="col-xs-12 col-sm-12 emphasis">
                                                    <p class="agency-ratings" style="text-align: center;">
                                                        <a>
                                                            <img style="height: 20px" src="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/ttllogo.png?alt=media&token=809a0723-e998-43f6-b65d-70263ba9e2ae" />
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>

                                        }
                                        else if (item.RatingCode.Equals("600"))
                                        {
                                            <div class="col-xs-12 bottom text-center">
                                                <div class="col-xs-12 col-sm-12 emphasis">
                                                    <p class="agency-ratings" style="text-align: center;">
                                                        <a>
                                                            <img style="height: 20px" src="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/ttllogo.png?alt=media&token=809a0723-e998-43f6-b65d-70263ba9e2ae" />
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>

                                        }
                                        else if (item.RatingCode.Equals("500"))
                                        {
                                            <div class="col-xs-12 bottom text-center">
                                                <div class="col-xs-12 col-sm-12 emphasis">
                                                    <p class="agency-ratings" style="text-align: center;">
                                                        <a>
                                                            <img style="height: 20px" src="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/ttllogo.png?alt=media&token=809a0723-e998-43f6-b65d-70263ba9e2ae" />
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>

                                        }

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>