﻿@using GCSOFT.MVC.STNHD.Models
@using GCSOFT.MVC.STNHD.Helper
@using Newtonsoft.Json
@using GCSOFT.MVC.STNHD.Resource
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tâm Trí Lực">
    <title>Siêu Trí Nhớ Học Đường</title>
    <meta itemprop="name" content="Siêu Trí Nhớ Học Đường - Biết Cách Học Khỏi Cực Nhọc">
    <meta itemprop="description" content="4.000 Video Bài giảng Các môn Toán, Lý, Hóa, Văn, Sử, Địa, tiếng Anh, Sinh. Mỗi bài giảng Thầy Cô chỉ được giảng tối đa 15' dựa trên một sơ đồ diễn hoạt Kiến thức Rõ ràng, dễ hiểu">
    <meta itemprop="image" content="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/ChungNhanKyLuc%2FSTNHDAvartar.jpg?alt=media&token=c40dde7f-3d2d-457f-8b65-709ebffefead">
    <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/ChungNhanKyLuc%2FSTNHDAvartar.jpg?alt=media&token=c40dde7f-3d2d-457f-8b65-709ebffefead">
    <meta name="twitter:image" content="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/ChungNhanKyLuc%2FSTNHDAvartar.jpg?alt=media&token=c40dde7f-3d2d-457f-8b65-709ebffefead">
   
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container-fluid">

                <div class="row d-flex">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-11" style="margin-right: 10px;">
                        <div class="navbar-header d-center">
                            <h1 class="logo">
                                <a class="navbar-brand" href="/"><img src="@Url.Content("~/Content/images/logo.png")" class="max100" alt=""></a>
                                <!-- navbar-brand -->
                            </h1>
                        </div>
                    </div>
                    <div id="smoothmenu1" class="col-lg-9 col-md-10 col-sm-10">
                        <ul>
                            <li style="margin-right: 10px;">
                                <a href="javascript:void(0);">@stnhd.Aboutus</a>
                                <ul>
                                    <li><a href="/stnhd/Index">@stnhd.SuperMemoryforSchools</a></li>
                                    <li><a href="@Url.Action("Index", "Teacher")">@stnhd.Teachers</a></li>
                                </ul>
                            </li>
                            <li style="margin-right: 10px;">
                                <a href="javascript:void(0);">@stnhd.MemoryTechniques</a>
                                <ul>
                                    <li><a href="@Url.Action("book","stnhd")">@stnhd.Curriculum</a></li>
                                    <li><a href="@Url.Action("index","Videos")">@stnhd.Video</a></li>
                                </ul>
                            </li>
                            @*<li style="margin-right: 10px;"><a href="@Url.Action("book","stnhd")">@stnhd.Curriculum</a></li>
                                <li style="margin-right: 10px;"><a href="@Url.Action("index","Videos")">@stnhd.MemoryTechniquesVideos</a></li>*@
                            <li style="margin-right: 10px;">
                                <a href="javascript:void(0);">@stnhd.Reference</a>
                                <ul>
                                    <li><a href="@Url.Action("samples","home")">@stnhd.Mindmaps</a></li>
                                    <li><a href="@Url.Action("Books", "Videos")">@stnhd.TextBooksLectureVideos</a></li>
                                </ul>
                            </li>
                            <li style="margin-right: 10px;"><a href="@Url.Action("index","social")">@stnhd.Forum</a></li>
                            <li style="margin-right: 10px;"><a href="@Url.Action("Index","NamPhutThuocBai")">@stnhd.NPTB</a></li>
                            <li style="margin-right: 10px;"><a href="@Url.Action("Index","Item")">@stnhd.Sell</a></li>
                            <li style="margin-right: 10px;">
                                <a href="javascript:void(0);">@stnhd.Support</a>
                                <ul>
                                    <li><a href="@Url.Action("Guide", "Support")">@stnhd.SuperMemoryForSchoolsManual</a></li>
                                    <li><a href="@Url.Action("Student", "Support")">@stnhd.Studentsmanual</a></li>
                                    <li><a href="@Url.Action("Agency", "Support")">@stnhd.PartnersManual</a></li>
                                    <li><a href="@Url.Action("AgencyPolicy", "Support")">@stnhd.PoliciesForPartners</a></li>
                                </ul>
                            </li>
                            <li style="margin-right: 10px;">
                                <a href="javascript:void(0);">
                                    <img id="flag-logo-main" src="@ViewBag.MainLangIcon">
                                </a>
                                <ul>
                                    <li><a href="@ViewBag.OtherLangUrl"><img id="flag-logo-main" src="@ViewBag.OtherLangIcon" alt="">&nbsp;@ViewBag.OtherLang</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div id="ddsmoothmenu-mobiletoggle" class="icon-menu-responsive  hidden-lg hidden-md">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>
                    <div class="bg-opacity hidden-lg hidden-md">
                    </div>
                    <div class="col-lg-2 col-md-2 d-center col-sm-2 col-xs-2 sign-in-responsive">
                        @{
                            var fullName = string.Empty;
                            //var cookieValue = Server.UrlDecode(CookieHelper.GetFromCookie("UserInfo", "LoginResult"));
                            var cookieValue = string.Empty;
                            if (System.Web.HttpContext.Current.Request.Cookies["UserSTNHD"] != null)
                            {
                                cookieValue = Server.UrlDecode(System.Web.HttpContext.Current.Request.Cookies["UserSTNHD"].Value);
                            }
                            if (!string.IsNullOrEmpty(cookieValue))
                            {
                                fullName = JsonConvert.DeserializeObject<LoginResult>(cookieValue).fullName;
                                try { fullName = fullName.Trim().Split(' ').ToList().LastOrDefault(); }
                                catch { fullName = ""; }
                            }
                        }
                        @if (!string.IsNullOrEmpty(fullName))
                        {
                            <button class="btn btn-sign-up dropdown-toggle">
                                @stnhd.Hello @fullName
                                <span class="log"></span>
                                <ul class="dropdown-menu dropdown-menu2ss">
                                    <li><a id="btnChangePass" href="@Url.Action("ChangePass", "Student")">@stnhd.ChangePassword</a></li>
                                    <li><a id="btnChangePass" href="@Url.Action("UserInfo", "Student")">@stnhd.PersonalInformationData</a></li>
                                    <li><a id="btnLogout" href="@Url.Action("Logout", "Login")">@stnhd.LeaveLogout</a></li>
                                </ul>
                            </button>
                        }
                        else
                        {
                            <button id="btnRegistration" class="btn btn-sign-up" type="button">@stnhd.RegistrerLogin</button>
                        }
                    </div>
                </div>
            </div>
        </nav>
        @RenderSection("banner", required: false)
    </header>
    <main>
        @RenderBody()
        <div class="fly"><img src="@Url.Content("~/Content/images/bg-1.png")" alt=""> </div>
        <div class="dot"><img src="@Url.Content("~/Content/images/bg-2.png")" alt=""> </div>
        <div class="balloons"><img src="@Url.Content("~/Content/images/bg-3.png")" alt=""> </div>
        <div class="physical"><img src="@Url.Content("~/Content/images/bg-4.png")" alt=""> </div>
        <div class="pencil"><img src="@Url.Content("~/Content/images/bg-5.png")" alt=""> </div>
        <div class="physical1"><img src="@Url.Content("~/Content/images/bg-4.png")" alt=""> </div>
        <div class="fly1"><img src="@Url.Content("~/Content/images/bg-1.png")" alt=""> </div>
        <div class="ball"><img src="@Url.Content("~/Content/images/bg-6.png")" alt=""> </div>
    </main>
    <footer>
        <div class="container">
            <div class="row footer-top">
                <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12">
                    <p class="text-left"><img src="@Url.Content("~/Content/images/logo.png")" alt=""></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="footer-box footer-box-contact">
                        <h4>@stnhd.TAMTRILUCTRAINING</h4>
                        <ul class="footer-ul">
                            <li class="address"><a href="javascript:void(0);">@stnhd.TTL_Address</a></li>
                            <li class="phone"><a href="javascript:void(0);">0939 279 868</a></li>
                            <li class="email"><a href="javascript:void(0);">cskh@tamtriluc.com</a></li>
                            <li class="web"><a href="javascript:void(0);">sieutrinhohocduong.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="footer-box working-time">
                        <h4>@stnhd.WORKINGHOUR</h4>
                        <ul class="footer-ul">
                            <li><a href="#">@stnhd.MondayFriday: 8h00 - 19h00</a></li>
                            <li><a href="#">@stnhd.Saturday: 8h00 - 17h00</a></li>
                            <li><a href="#">@stnhd.Sunday: 8h00 - 15h00</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                    <div class="footer-box working-time">
                        <h4>@stnhd.Aboutus</h4>
                        <ul class="footer-ul">
                            <li><a href="@Url.Action("Index", "stnhd")">@stnhd.Home</a></li>
                            <li><a href="@Url.Action("Index","Agency")">@stnhd.Partners</a></li>
                            <li><a href="@Url.Action("Index", "Contact")">@stnhd.GetInTouch</a></li>
                            <li><a href="@Url.Action("PaymentGuide", "Policy")">@stnhd.Shoppingmanual</a></li>
                            <li><a href="@Url.Action("payment", "Policy")">@stnhd.TermsofPayment</a></li>
                            <li><a href="@Url.Action("privacy", "Policy")">@stnhd.PrivacyPolicies</a></li>
                            <li><a href="@Url.Action("Complaint", "Policy")">@stnhd.ComplaintsPolicies</a></li>
                            <li><a href="@Url.Action("Return", "Policy")">@stnhd.ReturnPolicies</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="footer-box working-time">
                        <h4>@stnhd.Social</h4>
                        <ul class="footer-ul list-icon">
                            <li><a href="https://www.facebook.com/tamtriluc/" target="_blank"><img src="@Url.Content("~/Content/images/fb.png")" alt=""> </a></li>
                            <li><a href="https://www.youtube.com/channel/UCp2NJQGFc47lBIlw3vsQx9g" target="_blank"><img src="@Url.Content("~/Content/images/Youtube.png")" alt=""> </a></li>
                        </ul>
                        <div class="clear"></div>

                        <div class="input-group">
                            <a href="http://online.gov.vn/Home/WebDetails/74910" target="_blank">
                                <img class="imgbct" src="@Url.Content("~/Content/images/logoSaleNoti.png")" />
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h5>© 2020 Tâm Trí Lực</h5>
                    <h5>@stnhd.BusinessRegistrationCertificate</h5>
                </div>
            </div>
        </div>
    </footer>
    @*<div class="popup_qc">
        <a href="https://sieutrinhohocduong.com/NamPhutThuocBai" title="" target="">
            <img width="1600" height="962" src="https://tamtriluc.com/wp-content/uploads/2021/07/viber_image_2021-07-16_14-58-34-084.jpg" class="" alt="" srcset="https://tamtriluc.com/wp-content/uploads/2021/07/viber_image_2021-07-16_14-58-34-084.jpg 1600w, https://tamtriluc.com/wp-content/uploads/2021/07/viber_image_2021-07-16_14-58-34-084-300x180.jpg 300w, https://tamtriluc.com/wp-content/uploads/2021/07/viber_image_2021-07-16_14-58-34-084-1024x616.jpg 1024w, https://tamtriluc.com/wp-content/uploads/2021/07/viber_image_2021-07-16_14-58-34-084-768x462.jpg 768w, https://tamtriluc.com/wp-content/uploads/2021/07/viber_image_2021-07-16_14-58-34-084-1536x924.jpg 1536w" sizes="(max-width: 1600px) 100vw, 1600px">
        </a>
        <div class="close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23 20.168l-8.185-8.187 8.185-8.174-2.832-2.807-8.182 8.179-8.176-8.179-2.81 2.81 8.186 8.196-8.186 8.184 2.81 2.81 8.203-8.192 8.18 8.192z"></path></svg>
        </div>
    </div>*@
</body>
</html>

@RenderSection("scripts", required: false)
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnRegistration').click(function () {
            window.location.href = '@Url.Action("index", "student")';
        });
    });

</script>
<script type="text/javascript">
    document.onkeydown = ShowKeyCode;
    function ShowKeyCode(evt) {
        if (evt.keyCode == '123')
            return false;
    }
</script>