﻿@using GCSOFT.MVC.STNHD.Models
@using GCSOFT.MVC.STNHD.Helper
@using Newtonsoft.Json
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tâm Trí Lực">
    <title>Ứng dụng Tâm Trí Lực - Siêu Trí Nhớ Học Đường - Đào Tạo Hiền Tài</title>
    <meta itemprop="name" content="Ứng dụng Tâm Trí Lực - Siêu Trí Nhớ Học Đường - Đào Tạo Hiền Tài">
    <meta itemprop="description" content="Với sứ mệnh “Kiến tạo cộng đồng Tâm An – Trí Sáng – Lực Cường; Tìm kiếm và đào tạo nhân tài thực thụ; Trao cơ hội để thành công”, Tâm Trí Lực cung cấp một hệ thống các bài tập rèn luyện toàn diện về Phẩm Chất Nền Tảng, Tư Duy Xuất Chúng, Năng Lực Cốt Lõi, Kỹ Năng Sinh Tồn, Phương Pháp Học Tập, trong khóa học Đào tạo Hiền Tài">
    <meta itemprop="image" content="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/ChungNhanKyLuc%2FSTNHDAvartar.jpg?alt=media&token=c40dde7f-3d2d-457f-8b65-709ebffefead">
    <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/ChungNhanKyLuc%2FSTNHDAvartar.jpg?alt=media&token=c40dde7f-3d2d-457f-8b65-709ebffefead">
    <meta name="twitter:image" content="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/ChungNhanKyLuc%2FSTNHDAvartar.jpg?alt=media&token=c40dde7f-3d2d-457f-8b65-709ebffefead">
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row" style="padding-top: 15px;">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <button id="btnVideos" class="btn btn-sign-up" type="button" style="position: initial; margin-top: 10px;">Videos Hướng Dẫn</button>
                    <button id="btnDocument" class="btn btn-sign-up" type="button" style="position: initial; margin-top: 10px;">Tài Liệu Hướng Dẫn</button>
                    <button id="btnDownload" class="btn btn-sign-up" type="button" style="position: initial; margin-top: 10px;">Tải Ứng Dụng</button>
                    <button id="btnCall" class="btn btn-sign-up" type="button" style="position: initial; margin-top: 10px;">
                        <a href="tel:0939279868">Hotline: 0939279868</a>
                    </button>
                    
                </div>
            </div>
        </div>
    </header>
    <main>
        @RenderBody()
        <div class="fly"><img src="@Url.Content("~/Content/images/bg-1.png")" alt=""> </div>
        <div class="dot"><img src="@Url.Content("~/Content/images/bg-2.png")" alt=""> </div>
        <div class="balloons"><img src="@Url.Content("~/Content/images/bg-3.png")" alt=""> </div>
        <div class="physical"><img src="@Url.Content("~/Content/images/bg-4.png")" alt=""> </div>
        <div class="pencil"><img src="@Url.Content("~/Content/images/bg-5.png")" alt=""> </div>
        <div class="physical1"><img src="@Url.Content("~/Content/images/bg-4.png")" alt=""> </div>
        <div class="fly1"><img src="@Url.Content("~/Content/images/bg-1.png")" alt=""> </div>
        <div class="ball"><img src="@Url.Content("~/Content/images/bg-6.png")" alt=""> </div>
    </main>
    <footer>
        <div class="container">
            <div class="row footer-top">
                <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12">
                    <p class="text-left"><img src="@Url.Content("~/Content/images/logo.png")" alt=""></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="footer-box footer-box-contact">
                        <h4>Công ty CP Đào tạo Tâm Trí Lực</h4>
                        <ul class="footer-ul">
                            <li class="address"><a href="javascript:void(0);">57A Trần Khắc Chân, Phường 9, Quận Phú Nhuận, TP. HCM</a></li>
                            <li class="phone"><a href="javascript:void(0);">0939 279 868</a></li>
                            <li class="email"><a href="javascript:void(0);">cskh@tamtriluc.com</a></li>
                            <li class="web"><a href="javascript:void(0);">sieutrinhohocduong.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="footer-box working-time">
                        <h4>Thời gian làm việc</h4>
                        <ul class="footer-ul">
                            <li><a href="#">Thứ 2 - Thứ 6: 8h00 - 19h00</a></li>
                            <li><a href="#">Thứ 7: 8h00 - 17h00</a></li>
                            <li><a href="#">Chủ nhật: 8h00 - 15h00</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                    <div class="footer-box working-time">
                        <h4>Về Chúng Tôi</h4>
                        <ul class="footer-ul">
                            <li><a href="@Url.Action("Index", "stnhd")">Trang chủ</a></li>
                            <li><a href="@Url.Action("Index", "Contact")">Liên hệ</a></li>
                            <li><a href="@Url.Action("PaymentGuide", "Policy")">Hướng Dẫn Mua Hàng</a></li>
                            <li><a href="@Url.Action("payment", "Policy")">Điều Khoản Thanh Toán</a></li>
                            <li><a href="@Url.Action("privacy", "Policy")">Chính Sách Bảo Mật</a></li>
                            <li><a href="@Url.Action("Complaint", "Policy")">Chính Sách Khiếu Nại</a></li>
                            <li><a href="@Url.Action("Return", "Policy")">Chính Sách đổi trả</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="footer-box working-time">
                        <h4>kết nối với tâm trí lực</h4>
                        <ul class="footer-ul list-icon">
                            <li><a href="https://www.facebook.com/tamtriluc/" target="_blank"><img src="@Url.Content("~/Content/images/fb.png")" alt=""> </a></li>
                            <li><a href="https://www.youtube.com/channel/UCp2NJQGFc47lBIlw3vsQx9g" target="_blank"><img src="@Url.Content("~/Content/images/Youtube.png")" alt=""> </a></li>
                        </ul>
                        <div class="clear"></div>

                        <div class="input-group">
                            <a href="http://online.gov.vn/Home/WebDetails/74910" target="_blank">
                                <img class="imgbct" src="@Url.Content("~/Content/images/logoSaleNoti.png")" />
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h5>© 2020 Tâm Trí Lực</h5>
                    <h5>Giấy chứng nhận Đăng ký Kinh doanh số 0314866590 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 12/02/2015</h5>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

@RenderSection("scripts", required: false)
<script type="text/javascript">
    document.onkeydown = ShowKeyCode;
    function ShowKeyCode(evt) {
        if (evt.keyCode == '123')
            return false;
    }
    $(document).ready(function () {
        $('#btnVideos').click(function () {
            window.location.href = '@Url.Action("v","hientai")';
        });
        $('#btnDocument').click(function () {
            window.location.href = '@Url.Action("tl","hientai")';
        });
        $('#btnDownload').click(function () {
            window.location.href = '@Url.Action("tud","hientai")';
        });
    });
</script>