﻿@{
    ViewBag.Title = "Đang Cập Nhật Nội Dung";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="modify-w-form">
                <h3>@ViewBag.Content</h3>
                <form action="" method="POST" role="form">
                    <div class="text-center"><button type="button" id="btnGo" class="btn btn-primary">Trang Chủ</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnGo').click(function () {
            window.location.href = '@Url.Action("Index","Home")';
        });
    });
</script>