﻿@using GCSOFT.MVC.STNHD.Models
@{
    ViewBag.Title = "THÔNG BÁO THANH TOÁN";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var retailOrder = (RetailSalesOrderModel)ViewBag.Order;
    var responseCode = (string)ViewBag.responseCode;
}

<div class="container">
    <div class="row">
        <div class="col-lg-offset-2 col-md-offset-2 col-xs-12 col-sm-12 col-md-8 col-lg-8 mt-90">
            <div class="modify-w-form contact post">
                @if (responseCode == "0")
                {
                    <h3 style="text-align: center; color:#FF660F">
                        THANH TOÁN THÀNH CÔNG
                    </h3>
                    <p class="text-center">
                        Mã kích hoạt đã được gửi qua số điện thoại <strong style="color: #000068;">@retailOrder.CustomerPhone</strong> và Email <strong style="color: #000068;">@retailOrder.CustomerEmail</strong> của bạn
                    </p>
                    <p class="text-center">
                        Vui lòng ghi nhớ <strong>Mã kích hoạt</strong> để kích hoạt vào khóa học
                    </p>
                    <p class="text-center" style="font-weight: bold; border: 1px solid #ccc !important; width: 40%; text-align: center; margin: auto; border-radius: 10px; padding: 0.35em 16px; font-size: 17px; color: #000068;">
                        @retailOrder.ActionCode
                    </p>
                    <div class="text-center"><a href="@Url.Action("Index","ClassInfo", new { a = retailOrder.ActionCode })" class="btn btn-primary">Kích hoạt tài khoản</a></div>
                }
                else
                {
                    <h3 style="text-align: center; color:#FF660F">
                        THANH TOÁN KHÔNG THÀNH CÔNG
                    </h3>
                    <p>
                        @ViewBag.Result
                    </p>
                    <p>
                        Vui lòng thử lại thanh toán của bạn trên trang mua hàng hoặc liên hệ hotline <strong>0939 279 868</strong> để được hỗ trợ.
                    </p>
                    <div class="text-center"><a href="@Url.Action("Index","Item")" class="btn btn-primary">Tiếp tục mua hàng</a></div>
                }

            </div>
        </div>
    </div>
</div>

