﻿@model GCSOFT.MVC.Web.ViewModels.SystemViewModels.Administrator.MessageVMs

<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                @Html.HiddenFor(model => model.APK)
                <div class="uk-width-medium-1-3">
                    <label for="CreateDate">Ngày Gửi</label>
                    @Html.TextBoxFor(model => model.CreateDateStr
                                             , new Dictionary<string, Object> {
                                                 { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                 , { "autocomplete", "off" }
                                                 , { "placeholder", "dd/MM/yyyy" }
                                                 , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                             })
                </div>
                <div class="uk-width-medium-1-2">
                    <label for="Title">Tiêu Đề</label>
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-1">
                    <label for="Description">Nội Dung</label>
                    @Html.TextAreaFor(model => model.DescriptionVM, new { @cols = "30", @rows = "3", @class = "md-input validate[required]" })
                </div>
            </div>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <label for="Type">Danh Sách User</label><br />
                    @Html.DropDownListFor(model => model.Type, Model.TypeList, new { @class = "md-input" })
                </div>
                @*<div class="uk-width-1-2">
                        <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary md-btn-wave-light"><i class="material-icons">&#xE8B6;</i> Tìm Kiếm</a>
                    </div>*@
            </div>

        </div>
        @*<div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-3">
                        <label for="Title">Tiêu Đề</label>
                        <input type="text" class="md-input" name="Title" id="Title">
                    </div>
                    <div class="uk-width-medium-1-3">
                        <label for="Description">@Html.Label("Nội Dung (<<FullName>>  = Họ tên đầy đủ"))</label>
                        <textarea class="md-input"
                                  name="Description"
                                  id="Description">
                            </textarea>
                    </div>

                </div>
            </div>*@

    </div>
    @Html.Partial("_CardLine", Model.ListMessageDetail)
</div>

<footer id="footer" class="uk-text-center">
    <a href="javascript:void(0)" id="btnSave" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon">
        <span class="material-icons md-color-white">save</span>
        Lưu
    </a>
    <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)" id="btnMessage">
        Gửi Thông Báo
    </a>

</footer>

<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();

        $('select').select2({
            selectOnClose: true
        });

        CKEDITOR.replace('DescriptionVM', { height: 300 });
        CKEDITOR.instances.DescriptionVM.on('change', function () {
            $('[name="DescriptionVM"]').val(CKEDITOR.instances.Content.getData());
        });

        if ($.urlParam('msg') == '1')
            $('#btnMessage').removeClass("disabled")
        else
            $('#btnMessage').addClass("disabled")

        $('#btnSave').click(function () {
            // check <<FullName>>
            var descriptionVM = $('#DescriptionVM').val();
            var type = $('#Type').val();
            if (descriptionVM.includes('<<FullName>>') && type == 'All')
                $().toastmessage('showErrorToast', "Gửi thông báo tất cả Nội Dung không được chứa <<<FullName>>>");
            else {
                Save($("#frm"), true);
            }
        });

        $('#btnMessage').click(function () {
               
                NProgress.start();
                 $('#btnMessage').addClass("disabled").html('<i class="uk-icon-spinner uk-icon-spin"></i>&nbsp;Đang gửi ....');
                $.ajax({
                    type: 'GET',
                    url: '/Administrator/Message/Notification?apk='+$('#APK').val(),
                    async: true,
                    success: function (status) {
                        if (status.success) {
                            NProgress.done();
                            $().toastmessage('showToast', {
                                text: "Đã gửi xong thông báo",
                                sticky: false,
                                position: 'top-center',
                                type: 'success'
                            });
                            $('#btnMessage').removeClass("disabled").html('<i class="material-icons">&#xE8B6;</i> Gửi Thông Báo');
                        } else {
                            alert('Đã xảy ra lỗi');
                        }
                    },
                    error: function () {
                        alert('error');
                    }
                });
               
            
           
        });

    });
    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
</script>