﻿@model IEnumerable<GCSOFT.MVC.Web.ViewModels.SystemViewModels.Administrator.VMUserInfo>
    @{ 
        ViewBag.isSalesAdmin = true;
        var listUserInfo = Model.ToList();
        int stt = 0;
    }
<table class="uk-table uk-table-nowrap table_check">
    <thead>
        <tr>
            <th class="uk-width-1-10"></th>
            <th class="uk-width-1-10">ID</th>
            <th class="uk-width-1-10">Tên Đăng Nhập</th>
            <th class="uk-width-1-10">Họ Tên</th>
            <th class="uk-width-1-10">Email</th>
            <th class="uk-width-1-10">Điện Thoại</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td hidden>@(++stt)</td>
            <td>
                @Html.CheckBoxFor(model => listUserInfo[stt - 1].Check, new Dictionary<string, Object>
                                           {

                                               {"class","phanQuyen" }
                                           })
            </td>
            <td>
                @Html.HiddenFor(model => listUserInfo[stt - 1].Id)
                @item.Id
            </td>
            <td>
                @Html.HiddenFor(model => listUserInfo[stt - 1].UserName)
                @item.UserName
            </td>
            <td>
                @Html.HiddenFor(model => listUserInfo[stt - 1].FullName)
                @item.FullName
            </td>
            <td>
                @Html.HiddenFor(model => listUserInfo[stt - 1].Email)
                @item.Email
            </td>
            <td>
                @Html.HiddenFor(model => listUserInfo[stt - 1].Phone)
                @item.Phone
            </td>
           
        </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
  
</script>