﻿@{
    ViewBag.Title = "KHÔNG CÓ QUYỀN TRUY CẬP";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div class="md-card">
    <div class="md-card-toolbar height45">
        <h3 class="md-card-toolbar-heading-text">
            @ViewBag.Title
        </h3>
    </div>
    <div class="md-card-content uk-text-center">
        <h2>Bạn không có quyền truy cập chức năng này! <br />Vui lòng liên hệ với Administrator để cấp quyền.</h2>
        <br />
        <a href="javascript:history.back()">Quay lại trang trước.</a>
    </div>
</div>