﻿.gallery_grid_item.md-card-content {
    max-width: 200px;
}

.md-card .md-card-toolbar {
    height: 35px !important;
}

.md-card .md-card-toolbar-heading-text {
    font: 500 14px / 38px "Roboto", sans-serif !important;
}

.md-card .md-card-toolbar-heading-text {
    height: 35px !important;
}

.md-card .md-card-toolbar .md-card-toolbar-actions {
    padding-top: 4px !important;
}
/*.md-card .md-card-content { padding-top: 8px !important; }*/
.ui-widget-content .ui-state-highlight td {
    font-weight: bold !important;
}
/*form Detail*/
.gc-grid-divider:empty {
    margin-top: 5px;
    margin-bottom: 15px;
    border-top: 1px solid #61616154;
}

.app_theme_dark .gc-text-muted {
    color: #cbcbcb !important;
}

.gc-margin-top-0px {
    margin-top: 0px !important;
}

.gc-margin-top-2px {
    margin-top: 2px !important;
    font-size: 15px;
}

.gc-padding-top-8 {
    padding-top: 8px !important;
}
/*form Detail*/
.gc-text-decoration {
    text-decoration: underline;
}

.clear-margin {
    margin: 0 !important;
}

.md-card .md-card-toolbar .md-card-toolbar-actions-popup {
    padding-top: 0 !important;
    float: right;
}

.md-card-toolbar.md-card-toolbar-popup {
    padding: 0 !important;
}

.md-card-content.md-card-content-popup {
    padding: 10px 0 0 0 !important;
}

.ui-jqdialog .ui-jqdialog-titlebar-close {
    top: 58% !important;
}
