﻿@{
    ViewBag.Title = "Test Video";
}
@*<div id="embedBox" style="width:1280px;max-width:100%;height:auto;"></div>
    <script>
        (function (v, i, d, e, o) {
            v[o] = v[o] || {}; v[o].add = v[o].add || function V(a) {
                (v[o].d = v[o].d || []).push(a);
            }; if (!v[o].l) {
                v[o].l = 1 * new Date();
                a = i.createElement(d); m = i.getElementsByTagName(d)[0]; a.async = 1; a.src = e;
                m.parentNode.insertBefore(a, m);
            }
        })(window, document, "script",
            "https://player.vdocipher.com/playerAssets/1.6.10/vdo.js", "vdo");
        vdo.add({
            otp: "20160313versASE323I5XyuASVALFAOXL6xACDd2UbJMM1UJPMaYHBOH483GugzR",
            playbackInfo: "eyJ2aWRlb0lkIjoiYzk5NzkyMDEyNmFkNDUzMGIzOTVkNGQyMDVhMmU3ZjIifQ==",
            theme: "9ae8bbe8dd964ddc9bdb932cca1cb59a",
            container: document.querySelector("#embedBox"),
        });
    </script>

    <div style="padding-top:56.25%;position:relative;">
            <iframe src="https://player.vdocipher.com/playerAssets/1.x/vdo/embed/index.html#otp=20160313versASE3231Tr1d65DU7XnQ47YSOlgZ0Qs05b76K5hdtLrDolM5d71Z8&playbackInfo=eyJ2aWRlb0lkIjoiYzk5NzkyMDEyNmFkNDUzMGIzOTVkNGQyMDVhMmU3ZjIifQ==" style="border:0;height:360px;width:640px;max-width:100%;position:absolute;top:0px;left:0px;height:100%;width:100%;" allowFullScreen="true" allow="encrypted-media; autoplay"></iframe>
    </div>*@
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-20">
            <div class="modify-w-form contact post">
                <div style="padding-top:56.25%;position:relative;">
                    <iframe src="https://gostreaming.tech/embed.php?v=MzA2NQ==" style="border:0;height:360px;width:640px;max-width:100%;position:absolute;top:0px;left:0px;height:100%;width:100%;" allowFullScreen="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.addEventListener('message', handleMessage, false);
    function handleMessage(event) {
        switch (event.data) {
            case "PVD_VIDEO_ENDED":
                alert("This is end video event");
                break;
        }
    }
</script>