﻿@using GCSOFT.MVC.Web.ViewModels.SystemViewModels;
@using GCSOFT.MVC.AGENCY.HienTaiService;
@using GCSOFT.MVC.AGENCY.ViewModels.HienTai;
@using GCSOFT.MVC.AGENCY.ViewModels.HienTaiOMI;
@using GCSOFT.MVC.Web.Helper;
@using Newtonsoft.Json
@{
    bool IsOmiStatus = false; string userName = string.Empty; string password = string.Empty;
    if (System.Web.HttpContext.Current.Request.Cookies["AgencyUser"] != null)
    {
        var userValueCall = Server.UrlDecode(System.Web.HttpContext.Current.Request.Cookies["AgencyUser"].Value);
        UserLoginVMs userCall = JsonConvert.DeserializeObject<UserLoginVMs>(userValueCall);

        //get number call omicall
        O_TeacherDetails o_TeacherDetails = new TeacherService().GetDetailAgent(userCall.teacherInfo.Id);
        if (o_TeacherDetails != null)
        {
            if (o_TeacherDetails.IsOmiStatus)
            {
                IsOmiStatus = o_TeacherDetails.IsOmiStatus;
                PbxAccountPayload data = o_TeacherDetails.IsOmiStatus == true ? JsonConvert.DeserializeObject<PbxAccountPayload>(o_TeacherDetails.ResponseCreateOmi) : null;
                userName = data.sip_user;
                password = data.password;
            }
        }
    }
}
<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no" />
    @*<link rel="icon" type="image/png" href="@Url.Content("~/Content/cms/images/favicon-16x16.png")" sizes="16x16">*@
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/cms/css")
    <!-- matchMedia polyfill for testing media queries in JS -->
    <!--[if lte IE 9]>
        <script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/matchMedia/matchMedia.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/matchMedia/matchMediaaddListener.js")"></script>
        <link rel="stylesheet" href="@Url.Content("~/Content/cms/css/ie.css")" media="all">
    <![endif]-->
</head>
<body class="top_menu">
    <!-- main header -->
    <header id="header_main">
        <div class="header_main_content">
            <nav class="uk-navbar">
                <div class="main_logo_top">
                    <a href="@Url.Action("Index", "Dashboard", new { area = "administrator" })"><img src="@Url.Content("~/Content/cms/images/logo_main_white.png")" /></a>
                </div>
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav user_actions">
                        <!-- Message, Alert -->
                        <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                            <a href="#" class="user_action_image"><img class="md-user-image" src="@Url.Content("~/Content/cms/images/avatars/avatar_11_tn.png")" alt="" /></a> <!--  uk-icon-spin-->
                            <div class="uk-dropdown">
                                <ul class="uk-nav js-uk-prevent">
                                    <li>
                                        <a href="javascript:void(0);">
                                            @*@if (Session["User"] != null)
                                                {
                                                    UserLoginVMs user = (UserLoginVMs)Session["User"];
                                                    @:Hi, <strong>@(user.FullName)</strong>!
                                                }*@
                                            @if (System.Web.HttpContext.Current.Request.Cookies["AgencyUser"] != null)
                                            {
                                                var userValue = Server.UrlDecode(System.Web.HttpContext.Current.Request.Cookies["AgencyUser"].Value);
                                                UserLoginVMs user = JsonConvert.DeserializeObject<UserLoginVMs>(userValue);
                                                @:Hi, <strong>@(user.FullName)</strong>!
                                            }
                                        </a>
                                    </li>
                                    <li><a id="lnkInfoAgency" href="javascript:void(0);"><i class="material-icons uk-text-danger">&#xE853;</i>&nbsp;Thông tin đối tác</a></li>
                                    <li><a id="lnkChangePass" href="javascript:void(0);"><i class="material-icons uk-text-danger">&#xE86A;</i>&nbsp;Đổi mật khẩu</a></li>
                                    <li><a href="@Url.Action("Logout", "Login", new { area = "Administrator", url = HttpUtility.HtmlEncode(System.Web.HttpContext.Current.Request.Url.AbsoluteUri) })"><i class="material-icons uk-text-danger">&#xE8AC;</i>&nbsp;Thoát</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header_main_search_form">
            <i class="md-icon header_main_search_close material-icons">&#xE5CD;</i>
            <form class="uk-form uk-autocomplete">
                <input type="text" class="header_main_search_input" />
                <button class="header_main_search_btn uk-button-link"><i class="md-icon material-icons">&#xE8B6;</i></button>
            </form>
        </div>
    </header>
    <!-- main header end -->
    <div id="top_bar">
        @if (Session["CategoryByAgency"] != null)
        {
            string url = null;
            List<CategoryUser> categories = (List<CategoryUser>)Session["CategoryByAgency"];
            List<CategoryUser> categoryParents = categories.Where(d => d.ParentCode == null).OrderBy(d => d.Priority).ToList();
            <div id="smoothmenu1" style="display: none;">
                <ul>
                    @foreach (var root in categoryParents)
                    {
                        var childExists = categories.Where(d => d.ParentCode != null && d.ParentCode.Equals(root.Code)).OrderBy(d => d.Priority);
                        if (!string.IsNullOrEmpty(root.ActionName))
                        {
                            url = MenuHelper.GetAppPath() + "/" + root.AreaName + "/" + root.ControllerName + "/" + root.ActionName;
                        }
                        else
                        {
                            url = MenuHelper.GetAppPath() + "/" + root.ControllerName + "/" + root.ActionName;
                        }
                        if (childExists.Count() > 0)
                        {
                            <li>
                                <a class="nav_li_a" href="javascript:void(0);">@root.Name</a>
                                @Html.Raw(MenuHelper.BuildMenu(categories, root.Code).ToString())
                            </li>
                        }
                        else
                        {
                            <li><a class="nav_li_a" href="@url">@root.Name</a></li>
                        }
                    }
                </ul>
            </div>
            <ul id="menu_top" class="uk-visible-small">
                <li data-uk-dropdown="justify:'#top_bar'">
                    <a href="#" id="ddsmoothmenu-mobiletoggle"><i class="material-icons">&#xE5D2;</i><span>Mobile</span></a>
                </li>
            </ul>
        }
    </div>
    <div id="page_content">
        @Scripts.Render("~/cms/js")
        @RenderBody()
    </div>
    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
    <script type="text/javascript">
        OpenDialog($('#lnkChangePass'), '@Url.Action("ChangePassword", "SysUser", new { area = "Administrator" })', '');
        OpenDialog($('#lnkInfoAgency'), '@Url.Action("InfoAgency", "SysUser", new { area = "Administrator" })', '');
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/Administrator/SysUser/CheckIsUserUpdate',
                data: {},
                success: function (res) {
                    if (res.status)
                        $(location).attr('href','@Url.Action("ChangePasswordFirtLogin", "SysUser", new { area = "Administrator" })');
                },
                error: function () {
                    alert('error');

                }
            });
        });
    </script>
    @if (IsOmiStatus)
    {
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', () => {
                let config = {
                    theme: 'default', // sử dụng UI mặc định của sdk
                    debug: true, // cho phép console.log các event call và trạng thái trong sdk
                    busy: false, // nếu true, sẽ auto reject các cuộc gọi đến, nhưng vẫn có thể thực hiện cuộc gọi ra
                    language: 'vi', // Ngôn ngữ giao diện dialog,
                    ringtoneVolume: 0.5,
                    callbacks: {
                        register: (data) => {
                            // Sự kiện xảy ra khi trạng thái kết nối tổng đài thay đổi
                            // console.log('register:', data);
                        },
                        connecting: (data) => {
                            // Sự kiện xảy ra khi bắt đầu thực hiện cuộc gọi ra
                            // console.log('connecting:', data);
                        },
                        invite: (data) => {
                            // Sự kiện xảy ra khi có cuộc gọi tới
                            // console.log('invite:', data);
                        },
                        inviteRejected: (data) => {
                            // Sự kiện xảy ra khi có cuộc gọi tới, nhưng bị tự động từ chối
                            // trong khi đang diễn ra một cuộc gọi khác
                            // console.log('inviteRejected:', data);
                        },
                        ringing: (data) => {
                            // Sự kiện xảy ra khi cuộc gọi ra bắt đầu đổ chuông
                            // console.log('ringing:', data);
                        },
                        accepted: (data) => {
                            // Sự kiện xảy ra khi cuộc gọi vừa được chấp nhận
                            // console.log('accepted:', data);
                        },
                        incall: (data) => {
                            // Sự kiện xảy ra mỗi 1 giây sau khi cuộc gọi đã được chấp nhận
                            // console.log('incall:', data);
                        },
                        acceptedByOther: (data) => {
                            // Sự kiện dùng để kiểm tra xem cuộc gọi bị kết thúc
                            // đã được chấp nhận ở thiết bị khác hay không
                            // console.log('acceptedByOther:', data);
                        },
                        ended: (data) => {
                            // Sự kiện xảy ra khi cuộc gọi kết thúc
                            // console.log('ended:', data);
                        },
                        holdChanged: (status) => {
                            // Sự kiện xảy ra khi trạng thái giữ cuộc gọi thay đổi
                            // console.log('on hold:', status);
                        },
                        saveCallInfo: (data) => {
                            // data = { callId, note, ...formData };
                            // Sự kiện xảy ra khi cuộc gọi đã có đổ chuông hoặc cuộc gọi tới, khi user có nhập note input mặc định hoặc form input custom
                            // console.log('on save call info:', data);
                        },
                    },
                };
                // flow dùng cơ bản: Init SDK với config, sau đó register tới tổng đài trong callback của fucntion init
                omiSDK.init(config, () => {
                    let extension = {
                        domain: 'mis6',
                        username: '@userName',
                        password: '@password',
                    };
                    omiSDK.register(extension);
                });
            });
        </script>
    }
    <script omi-sdk type="text/javascript" src="https://cdn.omicrm.com/sdk/2.0.0/sdk.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>