﻿@model GCSOFT.MVC.Web.ViewModels.SystemViewModels.UserCard
@{
    ViewBag.Title = "Chi Tiết Người Sử Dụng";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    int stt = 0;
}
@using (Html.BeginForm())
{
<div id="page_content_inner" class="hierarchical_slide">
	<div class="md-card">
		<div class="md-card-toolbar">
			<h3 class="md-card-toolbar-heading-text">
				<i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
			</h3>
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
		</div>
		<div class="md-card-content gc-padding-top-8">
			<div class="uk-grid gc-margin-top-0px">
				<div class="uk-width-medium-1-2">
					<div class="uk-width-medium-1-1">
						@Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
					</div>
					<div class="uk-width-medium-1-1 gc-margin-top-2px">
						<span class="uk-text-middle">@Model.Username</span>
					</div>
					<hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
				</div>
				<div class="uk-width-medium-1-2">
					<div class="uk-width-medium-1-1">
						@Html.LabelFor(model => model.userGroupCodes, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
					</div>
					<div class="uk-width-medium-1-1 gc-margin-top-2px">
						<span class="uk-text-middle">
                            @foreach (var item in Model.userGroups)
                            {
                                if (stt != 0)
                                {
                                    @:, <a href="@Url.Action("Details/", "SysUserGroup", new { area = "administrator" })@item.Code">@item.Name</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Details/", "SysUserGroup", new { area = "administrator" })@item.Code">@item.Name</a>
                                }
                                stt += 1;
                            }
                        </span>
					</div>
					<hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
				</div>
			</div>
			<div class="uk-grid gc-margin-top-0px uk-hidden-small">
				<div class="uk-width-medium-1-2">
					<hr class="gc-grid-divider">
				</div>
				<div class="uk-width-medium-1-2">
					<hr class="gc-grid-divider">
				</div>
			</div>
			<div class="uk-grid gc-margin-top-0px">
				<div class="uk-width-medium-1-2">
					<div class="uk-width-medium-1-1">
						@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
					</div>
					<div class="uk-width-medium-1-1 gc-margin-top-2px">
						<span class="uk-text-middle">@Model.FirstName</span>
					</div>
					<hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
				</div>
				<div class="uk-width-medium-1-2">
					<div class="uk-width-medium-1-1">
						@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
					</div>
					<div class="uk-width-medium-1-1 gc-margin-top-2px">
						<span class="uk-text-middle">@Model.LastName</span>
					</div>
					<hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
				</div>
			</div>
			<div class="uk-grid gc-margin-top-0px uk-hidden-small">
				<div class="uk-width-medium-1-2">
					<hr class="gc-grid-divider">
				</div>
				<div class="uk-width-medium-1-2">
					<hr class="gc-grid-divider">
				</div>
			</div>
			<div class="uk-grid gc-margin-top-0px">
				<div class="uk-width-medium-1-2">
					<div class="uk-width-medium-1-1">
						@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
					</div>
					<div class="uk-width-medium-1-1 gc-margin-top-2px">
						<span class="uk-text-middle">@Model.Email</span>
					</div>
					<hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
				</div>
				<div class="uk-width-medium-1-2">
					<div class="uk-width-medium-1-1">
						@Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
					</div>
					<div class="uk-width-medium-1-1 gc-margin-top-2px">
						<span class="uk-text-middle">@Model.Phone</span>
					</div>
					<hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
				</div>
			</div>
			<div class="uk-grid gc-margin-top-0px uk-hidden-small">
				<div class="uk-width-medium-1-2">
					<hr class="gc-grid-divider">
				</div>
				<div class="uk-width-medium-1-2">
					<hr class="gc-grid-divider">
				</div>
			</div>
			<div class="uk-grid gc-margin-top-0px">
				<div class="uk-width-medium-1-2">
					<div class="uk-width-medium-1-1">
						@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
					</div>
					<div class="uk-width-medium-1-1 gc-margin-top-2px">
						<span class="uk-text-middle">@Model.Address</span>
					</div>
					<hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
				</div>
				<div class="uk-width-medium-1-2">
					<div class="uk-width-medium-1-1">
						@Html.LabelFor(model => model.Blocked, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
					</div>
					<div class="uk-width-medium-1-1 gc-margin-top-2px">
						<span class="uk-text-middle">
                            @Html.CheckBoxFor(model => model.Blocked, new Dictionary<string, Object> { { "data-md-icheck", "" }, { "disabled", true } })
                        </span>
					</div>
					<hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
				</div>
			</div>
			<div class="uk-grid gc-margin-top-0px uk-hidden-small">
				<div class="uk-width-medium-1-2">
					<hr class="gc-grid-divider">
				</div>
				<div class="uk-width-medium-1-2">
					<hr class="gc-grid-divider">
				</div>
			</div>
			<div class="uk-grid gc-margin-top-0px">
				<div class="uk-width-medium-1-2">
					<div class="uk-width-medium-1-1">
						@Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
					</div>
					<div class="uk-width-medium-1-1 gc-margin-top-2px">
						<span class="uk-text-middle">@Model.Position</span>
					</div>
					<hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
				</div>
				<div class="uk-width-medium-1-2">
					<div class="uk-width-medium-1-1">
						@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
					</div>
					<div class="uk-width-medium-1-1 gc-margin-top-2px">
						<span class="uk-text-middle">@Model.Description</span>
					</div>
					<hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
				</div>
			</div>
			<div class="uk-grid gc-margin-top-0px uk-hidden-small">
				<div class="uk-width-medium-1-2">
					<hr class="gc-grid-divider">
				</div>
				<div class="uk-width-medium-1-2">
					<hr class="gc-grid-divider">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="md-fab-wrapper">
    <a id="btnReturn" href="@Url.Action("Index", "SysUser", new { area = "administrator" })" class="md-fab md-fab-small md-fab-accent" title="Quay lại" data-uk-tooltip="{pos:'top'}"><i class="material-icons">&#xE31B;</i></a>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
    });
</script>
}
