﻿@model GCSOFT.MVC.STNHD.Models.CourseContentPageViewModel
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Article Section-->
<div class="article">
    <!-- Article Head -->
    <div class="article__head" data-parallax="scroll" data-image-src="@Url.Content("~/Content/img/articles/article_big.jpg")">
        <div class="container">
            <div class="row">
                <!-- Title text -->
                <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="title">
                        <div class="category category--indigo">Phương Pháp Ghi Nhớ</div>
                        <h1>@Model.CourseInfo.Title @Model.CourseInfo.ClassName</h1>

                        <!-- Share Button -->
                        <div class="share">
                            <button class=""><i class="zmdi zmdi-favorite-outline"></i></button>
                        </div>
                        <div class="comment1">
                            <button class=""><i class="zmdi zmdi-comment-outline"></i></button>
                        </div>
                        <!-- End Share Button -->
                    </div>
                </div>
                <!-- End Title text -->
            </div>
        </div>
    </div>
    <!-- End Article Head -->
    <!-- Article Text -->
    <div class="container">
        <div class="row">
            <!-- Text -->
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class="article__text">
                    <h2>@Html.Raw(Model.CourseContent.Title)</h2>

                    @Html.Raw(Model.CourseContent.FullDescription)
                </div>
                <!-- Statistic -->
                <ul class="article__statistic">
                    <li class="likes">
                        <i class="zmdi zmdi-favorite-outline"></i>
                        <span>0</span>
                    </li>
                    <li class="comments">
                        <i class="zmdi zmdi-comment-outline"></i>
                        <span>0</span>
                    </li>
                </ul>
                <!-- End Statistic -->
            </div>
            <!-- End Text -->
        </div>
    </div>
    <!-- End Article Text -->
    <!-- Comments Wrap -->
    <div class="article__comments">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <h4 class="article__comments-title">Đánh Giá</h4>
                    <form class="article__comments-form" action="#">
                        <div class="form-group">
                            <textarea placeholder="Nội dung đánh giá"></textarea>
                        </div>

                        <button class="default-button" type="button">Gửi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Comments Wrap -->
</div>