﻿@model GCSOFT.MVC.STNHD.Models.PageViewModels.SampleRefersViewModel
@using GCSOFT.MVC.Model.MasterData
@{
    ViewBag.Title = "Mẫu Tham Khảo - Siêu Trí Nhớ Học Đường";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("index","home")">Mẫu tham khảo</a>
        </li>
        <li>@Model.CourseInfo.ClassName</li>
        <li><a href="@Url.Action("Index", "Course", new { id = Model.CourseInfo.Id })">@Model.CourseInfo.Title</a></li>

    </ol>

    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn @Model.UserInfo.fullName</h2>
            <input type="hidden" id="hidResultType" name="hidResultType" value="@((int)ResultType.Sample)" />
            @Html.HiddenFor(model => model.CourseInfo.Id)
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
            @foreach (var item in Model.QuestionsInfos)
            {
                var title = item.Question;
                if (string.IsNullOrEmpty(title))
                {
                    title = Model.CourseContent.Title;
                }
                <div class="box-chat" name="sample" accesskey="@item.Id">
                    <h3>@title</h3>
                    <div class="box-chat-inner">
                        <div class="box-comments-top">
                            <div>
                                @foreach (var itemFiles in Model.files.Where(d => d.ReferId == item.Id))
                                {
                                    <a name="openImg" href="@itemFiles.ImagePathFull" data-fancybox="gallery" data-caption="@item.Question">
                                        <img src="@itemFiles.ImagePathFull" alt="" />
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="comments-in">
                            <div class="count-comments">
                                <span id="noOfHeart@(item.Id)"><i class="fa fa-heart" aria-hidden="true"></i> 0</span>
                                <span id="noOfComment@(item.Id)">Chưa có thảo luận</span>
                            </div>
                            <div class="action-comments">
                                <div class="row">
                                    <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
                                        <a href="javascript:void(0);" name="btnheart" accesskey="@item.Id" id="heartStatus@(item.Id)" hasvote="false">
                                            <i id="heartIcon@(item.Id)" class="fa fa-heart-o" aria-hidden="true"></i> Yêu thích
                                        </a>
                                    </div>
                                    @*<div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
                                        <a id="btnmaincomment" href="javascript:void(0);"><i class="fa fa-comment-o" aria-hidden="true"></i>Thảo luận</a>
                                    </div>*@
                                </div>
                            </div>

                            @*<div id="box-comments@(item.Id)" class="box-comments">
                                @Html.Partial("_CommentBox", Model.CommentPages.Where(d => d.ReferId == item.Id).FirstOrDefault())
                            </div>*@
                            <!-- comment box -->
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
            <div class="ratings">
                <h3>BẢNG XẾP HẠNG THÁNG</h3>
                <div class="ratings-inner">
                    <a class="see-more-ratings" href="@Url.Action("Ranking", "stnhd")">Xem bảng xếp hạng</a>
                </div>
            </div>
            <div class="box-detail" style="margin-top: 20px;">
                <h3>@Model.CourseInfo.Title</h3>
                <div class="box-detail-inner">
                    <ul>
                        @foreach (var item2 in Model.CourseContents)
                        {
                            <li><a href="@Url.Action("SampleRefers", "Course", new { id = item2.IdCourse, l = item2.LineNo })">@item2.Title</a></li>
                        }
                    </ul>
                </div>
                <div class="box-detail-img"><img src="@Url.Content("~/Content/images/box-detail-img.png")" alt=""></div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <link href="@Url.Content("~/Scripts/ValidationEngine/validationEngine.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine-vi.js")"></script>
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("body").on("contextmenu", "img", function (e) {
                return false;
            });
            
            $('[name="btnheart"]').click(function () {
                var id = $(this).attr('accesskey');
                var hasVote = $(this).attr('hasvote');
                $.post('@Url.Action("Create", "Vote")', { id: id, t: @((int)ResultType.Sample), h: hasVote }, function (data) {
                    $(String.format('#noOfHeart{0}', id)).html(String.format('<i class="fa fa-heart" aria-hidden="true"></i> {0}', data));
                    var objHeartIcon = $(String.format('#heartIcon{0}', id));
                    var objHeartStatus = $(String.format('#heartStatus{0}', id));
                    if (objHeartIcon.hasClass('fa-heart')) {
                        objHeartStatus.attr('hasvote', 'false');
                        objHeartIcon.hide('puff').removeClass('fa-heart').addClass('fa-heart-o').show('puff');
                    } else {
                        objHeartStatus.attr('hasvote', 'true');
                        objHeartIcon.hide('puff').removeClass('fa-heart-o').addClass('fa-heart').show('puff');
                    }
                });
            });
            $('#btnmaincomment').click(function () {
                $('#commentinfo').focus();
            });
            LoadVoteComment();
            btnSendComment();
            btnAttachImg();
            EnterComment();
            InitValue();
            Reply();
        });
        function Reply() {
            $('[name="reply"]').click(function () {
                var parentId = $(this).attr('accesskey');
                var replyById = $(this).attr('repybyId');
                var getTemplate = $("#template_comment_line").html();
                var compileTemplate = Handlebars.compile(getTemplate);
                var context = {
                    "ParentId": parentId,
                    "ReplyId": replyById
                };
                $('[name="comment_reply"]').empty();
                $('#comment_reply' + replyById).html(compileTemplate(context));
                $('.dropify').dropify();
                btnSendComment();
                btnAttachImg();
            });
        }
        function LoadVoteComment() {
            $('[name="sample"]').each(function () {
                var id = $(this).attr('accesskey');
                $.get("@Url.Action("LoadVoteComment", "Course")", { id: id, t: @((int)ResultType.Sample) }, function (data) {
                    if (data.HasVote) {
                        $(String.format('#heartIcon{0}', id)).removeClass('fa-heart-o').addClass('fa-heart').attr('hasvote', data.HasVote);
                        $(String.format('#heartStatus{0}', id)).attr('hasvote', 'true');
                    }
                    $(String.format('#noOfHeart{0}', id)).html(String.format('<i class="fa fa-heart" aria-hidden="true"></i> {0}', data.NoOfVote));
                    var comment = 'Chưa có thảo luận';
                    if (data.NoOfComment != 0) {
                        comment = String.format(' {0} Bình luận', data.NoOfComment);
                    }
                    $(String.format('#noOfComment{0}', id)).html(comment);
                });
            });
        }
        function btnAttachImg() {
            $('[name="btnAttachImg"]').click(function () {
                var parentId = $(this).attr('accesskey');
                var idUploadFile = '#uploadFile';
                if (parentId != '') {
                    idUploadFile += parentId;
                }
                $(idUploadFile).toggle();
            });
        }
        function btnSendComment() {
            $('[data-toggle="tooltip"]').tooltip();
            $('[name="btnSend"]').click(function () {
                var parentId = $(this).attr('accesskey');
                var idFrom = '#frmCommentParent';
                var idCommentInfo = '#commentinfo';
                if (parentId != '') {
                    idFrom += parentId;
                    idCommentInfo += parentId;
                }
                if ($(idCommentInfo).val() == '') {
                    $.toast({
                        heading: 'STNHD Thông Báo',
                        text: "Bạn chưa nhập nội dung thảo luận",
                        showHideTransition: 'slide',
                        icon: 'error',
                        position: 'top-center'
                    });
                    return;
                }
                var options = {
                    beforeSend: function () {
                        NProgress.start();
                    },
                    complete: function (response) {
                        var questionID = $('#QuestionId').val();
                        $('#box-comments' + questionID).load('@Url.Action("Comment", "Course")', { id: questionID, t: $('#hidResultType').val() }, function (responseTxt, statusTxt, xhr) {
                            if (statusTxt == "error") {
                                $.toast({
                                    heading: 'STNHD Thông Báo',
                                    text: "Error: " + xhr.status + ": " + xhr.statusText,
                                    showHideTransition: 'slide',
                                    icon: 'error',
                                    position: 'top-center'
                                });
                            } else {
                                InitValue();
                                btnSendComment();
                                btnAttachImg();
                                EnterComment();
                                Reply();
                                NProgress.done();
                            }
                        });
                    },
                    error: function () {
                        $.toast({
                            heading: 'STNHD Thông Báo',
                            text: "Lỗi, Vui lòng liên hệ với quản trị viên để được hổ trợ",
                            showHideTransition: 'slide',
                            icon: 'error',
                            position: 'top-center'
                        });
                    }
                }
                 
                $(idFrom).ajaxForm(options).submit();
            });
        }
        function InitValue() {
            $('.dropify').dropify();
            $('[name="votefavorite"]').click(function () {
                var id = $(this).attr('accesskey');
                var hasVote = $(this).attr('hasvote');
                $.post("@Url.Action("Create", "Vote")", { id: id, t: @((int)ResultType.Commment), h: hasVote }, function (response) {
                    if (hasVote == 'true') {
                        $(String.format('#imgIconVoteComment{0}', id)).attr('hasvote', 'false').html(String.format('<i class="fa fa-heart-o" aria-hidden="true"></i> {0} Yêu thích', response));
                    } else {
                        $(String.format('#imgIconVoteComment{0}', id)).attr('hasvote', 'true').html(String.format('<i class="fa fa-heart" aria-hidden="true"></i> {0} Yêu thích', response));
                    }
                });
            });
        }
        function EnterComment() {
            $('[name="Content"]').keypress(function (e) {
                if (e.which == 13) {
                    return false;
                }
            });
        }
    </script>

}
