﻿@model GCSOFT.MVC.STNHD.Models.PageViewModels.ContentPageViewModel
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        @if (!string.IsNullOrEmpty(Model.UserInfo.fullName))
        {
            <div class="txt">
                <h2>Xin chào bạn @Model.UserInfo.fullName</h2>
            </div>
        }
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul class="list-group address">
                <li class="list-group-item"><i class="fa fa-map-marker" aria-hidden="true"></i>Địa chỉ: 57A Trần Khắc Chân, Phường 9, Quận Phú Nhuận, Thành phố Hồ Chí Minh</li>
                <li class="list-group-item"><i class="fa fa-phone" aria-hidden="true"></i> Số điện thoại: 0939 279 868</li>
                <li class="list-group-item"><i class="fa fa-envelope" aria-hidden="true"></i> Email: cskh@tamtriluc.com</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="modify-w-form contact">
                <h3>Liên hệ với chúng tôi</h3>
                <form action="" method="POST" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="" placeholder="Họ tên">
                    </div>

                    <div class="form-group">
                        <textarea name="" id="" class="form-control" cols="30" rows="10" placeholder="Nội dung"></textarea>
                    </div>

                    <div class="row">
                        <div class="form-group  col-lg-6 col-md-6 col-xs-6 col-sm-6">
                            <input type="text" class="form-control" id="" placeholder="Email">
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-xs-6 col-sm-6">
                            <input type="text" class="form-control" id="" placeholder="Số điện thoại">
                        </div>
                    </div>

                    <div class="text-center"><button type="button" class="btn btn-primary">Gửi</button></div>
                </form>
            </div>
        </div>
    </div>
</div>