﻿@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-20">
            <div class="modify-w-form contact post">
                <h3 style="text-align: center;">CHÍNH SÁCH KHIẾU NẠI</h3>
                <p>sieutrinhohocduong.com có trách nhiệm tiếp nhận khiếu nại và hỗ trợ khách hàng liên quan đến giao dịch tại website www.sieutrinhohocduong.com .</p>
                <p>
                    Khi phát sinh tranh chấp, sieutrinhohocduong.com đề cao giải pháp thương lượng, hòa giải giữa các bên nhằm duy trì sự tin cậy của khách hàng/học viên vào chất lượng dịch vụ của sieutrinhohocduong.com và thực hiện theo các bước sau:
                </p>
                <ul>
                    <li>
                        <strong>Bước 1:</strong> Khách hàng/học viên  khiếu nại về giao dịch / dịch vụ qua email: cskh@tamtriluc.com hoặc điện thoại: 0939.279.868
                    </li>
                    <li>
                        <strong>Bước 2:</strong>  Bộ phận Chăm Sóc Khách Hàng của sieutrinhohocduong.com sẽ tiếp nhận các khiếu nại của khách hàng/học viên, tùy theo tính chất và mức độ của khiếu nại thì bên sieutrinhohocduong.com sẽ có những biện pháp cụ thể hỗ trợ khách hàng để giải quyết tranh chấp đó.
                    </li>
                    <li>
                        <strong>Bước 3:</strong> sieutrinhohocduong.com yêu cầu khách hàng cung cấp đủ thông tin liên quan đến giao dịch.
                    </li>
                    <li>
                        <strong>Bước 4:</strong> sieutrinhohocduong.com sẽ gửi phản hồi cho khách hàng trong vòng 3 ngày làm việc sau khi nhận được các thông tin từ học viên/khách hàng.
                    </li>
                </ul>
                <p>
                    <strong>Khách hàng gửi khiếu nại tại địa chỉ:</strong>
                </p>
                <ul class="list-group address">
                    <li class="list-group-item"><i class="fa fa-building" aria-hidden="true"></i><strong>Công ty Cổ Phần Đào Tạo TÂM TRÍ LỰC</strong></li>
                    <li class="list-group-item"><i class="fa fa-map-marker" aria-hidden="true"></i><strong>Địa chỉ:</strong> 57A Trần Khắc Chân, Phường 9, Quận Phú Nhuận, Thành phố Hồ Chí Minh</li>
                    <li class="list-group-item"><i class="fa fa-phone" aria-hidden="true"></i> <strong>Số điện thoại:</strong> 0939 279 868</li>
                    <li class="list-group-item"><i class="fa fa-envelope" aria-hidden="true"></i> <strong>Email:</strong> cskh@tamtriluc.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>