﻿@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-20">
            <div class="modify-w-form contact post">
                <h3 style="text-align: center;">ĐIỀU KHOẢN THANH TOÁN</h3>
                <h4>
                    <strong>Phương thức 1:</strong> Thanh toán bằng cách nhập mã thẻ cào của Tâm Trí Lực.
                </h4>
                <h4>
                    <strong>Phương thức 2 :</strong>  Thanh toán trực tuyến trên website www.sieutrinhohocduong.com
                </h4>
                <p>
                    <strong>Thanh toán trực tuyến bằng thẻ nội địa</strong>
                </p>
                <p>
                    Để sử dụng phương thức thanh toán này, tài khoản ngân hàng của quý khách cần đăng ký dịch vụ Internet Banking với ngân hàng.
                </p>
                <p>
                    Khi tiến hành thanh toán, hệ thống sẽ dẫn về trang thanh toán của Đối tác Napas. Tại đây, quý khách hãy chọn và điền đầy đủ thông tin theo yêu cầu để thực hiện thanh toán. Nếu thẻ hợp lệ, quý khách sẽ thanh toán thành công.
                </p>
                <p><strong>Thanh toán trực tuyến bằng thẻ Visa/Mastercard</strong></p>
                <p>
                    Phí thanh toán tùy thuộc vào từng loại thẻ quý khách dùng và ngân hàng phát hành thẻ. Vui lòng liên hệ với ngân hàng phát hành thẻ để biết rõ phí thanh toán phát sinh.
                </p>
                <p>
                    Khi tiến hành thanh toán, hệ thống sẽ dẫn về trang thanh toán của Đối tác Cyber Source. Tại đây quý khách hãy chọn và điền đầy đủ thông tin theo yêu cầu để thực hiện thanh toán. Nếu thẻ hợp lệ, quý khách sẽ thanh toán thành công.
                </p>
                <h4>Phương thức 3:  Chuyển khoản ngân hàng</h4>
                <p>
                    Bạn có thể đến bất kỳ ngân hàng nào ở Việt Nam (hoặc sử dụng Internet Banking) để chuyển tiền theo thông tin bên dưới:
                </p>
                <ul>
                    <li>
                        Ngân hàng TMCP Sài Gòn Thương tín ( Sacombank) – Trung tâm hội sở
                    </li>
                    <li>
                        <strong>Số tài khoản:</strong> 060159439812
                    </li>
                    <li>
                        <strong>Chủ tài khoản:</strong> Công ty CP Đào tạo Tâm Trí Lực
                    </li>
                </ul>
                <ul>
                    <li>
                        Ngân hàng TMCP Kỹ thương Việt Nam ( Techcombank) – Chi nhánh Gia Định
                    </li>
                    <li>
                        <strong>Số tài khoản:</strong> 19132264536019
                    </li>
                    <li>
                        <strong>Chủ tài khoản:</strong> Công ty CP Đào tạo Tâm Trí Lực
                    </li>
                </ul>
                <ul>
                    <li>
                        Ngân hàng TMCP Á Châu (ACB) – Chi nhánh Hai Bà Trưng
                    </li>
                    <li>
                        <strong>Số tài khoản:</strong> 6336868
                    </li>
                    <li>
                        <strong>Chủ tài khoản:</strong> Công ty CP Đào tạo Tâm Trí Lực
                    </li>
                </ul>
                <ul>
                    <li>
                        Ngân hàng TMCP Ngoại thương Việt Nam (Vietcombank) – Chi Nhánh Kỳ Đồng
                    </li>
                    <li>
                        <strong>Số tài khoản:</strong> 1001906868
                    </li>
                    <li>
                        <strong>Chủ tài khoản:</strong> Công ty CP Đào tạo Tâm Trí Lực
                    </li>
                </ul>
                <h4>Ghi chú khi chuyển khoản</h4>
                <p>
                    Tại mục “Ghi chú” khi chuyển khoản, bạn ghi rõ: <strong>Số điện thoại – Họ và tên – Mã đơn hàng</strong>
                </p>
                <p><strong>Ví dụ:</strong> 0909090909 –Huong Lan – 000009</p>
                <p>
                    Sau khi xác nhận thanh toán thành công, thẻ cào sẽ được gửi về địa chỉ của bạn.
                </p>
                <h4>Phương thức 4:  Thanh toán tại văn phòng</h4>
                <p>
                    <strong>Địa chỉ văn phòng:</strong> 778/11 Nguyễn Kiệm, Phường 4, Quận Phú Nhuận, Tp. Hồ Chí Minh
                </p>
                <p>
                    Thời gian làm việc từ:
                </p>
                <ul>
                    <li>
                        08:00 – 18:00  thứ Hai đến thứ Sáu
                    </li>
                    <li>
                        08:00 – 12:00  thứ Bảy.
                    </li>
                    <li>
                        Chủ nhật và ngày lễ: Nghỉ
                    </li>
                </ul>
                <h4>CHÍNH SÁCH GIAO HÀNG</h4>
                <p>
                    Sau khi thanh toán thành công, hệ thống sẽ gửi cho quý khách một thông báo xác nhận thanh toán thành công và quý khách có thể bắt đầu tham gia khóa học.
                </p>
            </div>
        </div>
    </div>
</div>