﻿@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-20">
            <div class="modify-w-form contact post">
                <h3 style="text-align: center;">Chính sách bảo mật</h3>
                <h4 class="media-heading">1. Mục đích và phạm vi thu thập</h4>
                <p>
                    Quý khách hàng liên hệ với chúng tôi bằng các công cụ hỗ trợ trực tuyến hoặc gửi liên hệ qua biểu mẫu thông tin trên website có thể được yêu cầu cung cấp các thông tin như: Họ tên, email, số điện thoại, địa chỉ... Các thông tin của khách hàng cung cấp để chúng tôi có thể hỗ trợ, liên hệ và trao đổi thông tin với khách hàng trong quá trình cung cấp dịch vụ.
                </p>
                <p>
                    Khách hàng có trách nhiệm thông báo kịp thời cho website về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật của bên thứ ba để có biện pháp giải quyết phù hợp.
                </p>
                <h4>2. Phạm vi sử dụng thông tin</h4>
                <p>Website sử dụng thông tin khách hàng cung cấp để:</p>
                <ul>
                    <li>Cung cấp các dịch vụ đến khách hàng</li>
                    <li>Gửi các thông báo về các hoạt động trao đổi thông tin giữa khách hàng và website</li>
                    <li>Liên lạc và giải quyết với khách hàng trong những trường hợp đặc biệt.</li>
                    <li>Không sử dụng thông tin cá nhân của khách hàng ngoài mục đích xác nhận và liên hệ có liên quan đến giao dịch tại website</li>
                    <li>
                        Trong trường hợp có yêu cầu của pháp luật: Chúng tôi có trách nhiệm hợp tác cung cấp thông tin cá nhân khách hàng khi có yêu cầu từ cơ quan tư pháp bao gồm: Viện kiểm sát, tòa án, cơ quan công an điều tra liên quan đến hành vi vi phạm pháp luật nào đó của khách hàng. Ngoài ra, không ai có quyền xâm phạm vào thông tin cá nhân của khách hàng.
                    </li>
                </ul>
                <h4>3. Thời gian lưu trữ thông tin</h4>
                <p>
                    Dữ liệu cá nhân của khách hàng sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân khách hàng sẽ được bảo mật trên máy chủ của website
                </p>
                <h4>4. Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân</h4>
                <ul class="list-group address">
                    <li class="list-group-item"><i class="fa fa-building" aria-hidden="true"></i><strong>Công ty Cổ Phần Đào Tạo TÂM TRÍ LỰC</strong></li>
                    <li class="list-group-item"><i class="fa fa-map-marker" aria-hidden="true"></i><strong>Địa chỉ:</strong> 57A Trần Khắc Chân, Phường 9, Quận Phú Nhuận, Thành phố Hồ Chí Minh</li>
                    <li class="list-group-item"><i class="fa fa-phone" aria-hidden="true"></i> <strong>Số điện thoại:</strong> 0939 279 868</li>
                    <li class="list-group-item"><i class="fa fa-envelope" aria-hidden="true"></i> <strong>Email:</strong> cskh@tamtriluc.com</li>
                </ul>
                <h4>5. Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình.</h4>
                <p>
                    Khách hàng có quyền yêu cầu chúng tôi cập nhật hoặc hủy bỏ thông tin cá nhân của mình trên hệ thống dữ liệu của website.
                </p>
                <p>
                    Khách hàng có quyền gửi khiếu nại đến website. Khi tiếp nhận những phản hồi này, chúng tôi sẽ xác nhận lại thông tin, trường hợp đúng như phản ánh của khách hàng, tùy theo mức độ chúng tôi sẽ có những biện pháp xử lý kịp thời.
                </p>
                <h4>6. Cam kết bảo mật thông tin cá nhân khách hàng</h4>
                <p>
                    Thông tin cá nhân của khách hàng trên website được cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của website. Việc thu thập và sử dụng thông tin của mỗi khách hàng chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác.
                </p>
                <p>
                    Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của khách hàng khi không có sự cho phép đồng ý từ khách hàng
                </p>
                <p>
                    Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân khách hàng, Chúng tôi sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho khách hàng được biết.
                </p>
                <p>
                    Ban quản lý Chúng tôi yêu cầu các cá nhân/tổ chức khi liên hệ cần cung cấp đầy đủ thông tin cá nhân có liên quan như: Họ và tên, địa chỉ liên lạc, điện thoại, …. và chịu trách nhiệm về những thông tin trên. Ban quản lý Chúng tôi không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của khách hàng đó nếu xét thấy tất cả thông tin cá nhân của khách hàng đó cung cấp khi liên hệ ban đầu là không chính xác.
                </p>
                <h4>7. Cơ chế tiếp nhận và giải quyết khiếu nại liên quan đến việc thông tin cá nhân</h4>
                <p>
                    Khi khách hàng gửi thông tin cá nhân của khách hàng cho chúng tôi, khách hàng đã đồng ý với các điều khoản mà chúng tôi đã nêu ở trên, Chúng tôi cam kết bảo mật thông tin cá nhân của các khách hàng bằng mọi cách thức có thể. Chúng tôi sử dụng các hệ thống mã hóa  nhằm bảo vệ thông tin này không bị truy lục, sử dụng hoặc tiết lộ ngoài ý muốn.
                </p>
                <p>
                    Chúng tôi cũng khuyến cáo các khách hàng nên bảo mật các thông tin liên quan đến mật khẩu truy xuất của các khách hàng và không nên chia sẻ với bất kỳ người nào khác.
                </p>
                <p>
                    Trong trường hợp có phản ánh của khách hàng về việc sử dụng thông tin trái với mục đích đã nêu, Chúng tôi sẽ tiến hành giải quyết theo các bước sau:
                </p>
                <ul>
                    <li>
                        <strong>Bước 1:</strong> Khách hàng gửi thông tin phản hồi về việc thông tin cá nhân thu thập trái với mục đích đã nêu.
                    </li>
                    <li>
                        <strong>Bước 2:</strong> Bộ phận Chăm sóc Khách hàng của Chúng tôi tiếp nhận và giải quyết với các bên có liên quan.
                    </li>
                    <li>
                        <strong>Bước 3:</strong> Trong trường hợp vượt ra khỏi tầm kiểm soát của chúng tôi, chúng tôi sẽ đưa ra các cơ quan có thẩm quyền để yêu cầu giải quyết.
                    </li>
                </ul>
                <p>
                    Chúng tôi luôn hoan nghênh các ý kiến đóng góp, liên hệ và phản hồi thông tin từ khách hàng về “Chính sách bảo mật” này.
                </p>
                <p>Nếu khách hàng có những thắc mắc liên quan, xin vui lòng liên hệ theo số điện thoại:  0939.279.868</p>
            </div>
        </div>
    </div>
</div>