﻿@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-20">
            <div class="modify-w-form contact post">
                <h3 style="text-align: center;">
                    Chính sách đổi trả, hoàn tiền
                </h3>
                <p class="text-center">
                    Siêu Trí Nhớ Học Đường hỗ trợ khách hàng đổi trả mã trong trường hợp mã lỗi, không kích hoạt được, mã quá thời hạn.
                </p>
            </div>
        </div>
    </div>
</div>