﻿@using GCSOFT.MVC.Model.StoreProcedue;
@model IEnumerable<SpCustomerAgencyBuy>

<table class="uk-table uk-table-nowrap table_check">
    <thead>
        <tr>
            <th class="uk-width-1-10 uk-text-center"><strong>STT</strong></th>
            <th><strong>Seri Number</strong></th>
            <th><strong>Người Bán</strong></th>
            <th><strong>Người Mua</strong></th>
            <th><strong>Loại Thẻ</strong></th>
            <th><strong>Nhân Viên</strong></th>
        </tr>
    </thead>
    <tbody>
        @{ int stt = 0; }
        @foreach (var item in Model)
        {
            <tr>
                <td class="uk-text-center">@(++stt)</td>
                <td>
                    @item.SerialNumber<br />
                    <strong>Giá:</strong> @string.Format("{0:#,##0}", item.Price)<br />
                    <strong>Ngày Bán:</strong> @item.DateCreate
                </td>
                <td>
                    <strong>ĐT:</strong> @item.AgencyPhone<br />
                    <strong>Email:</strong> @item.AgencyEmail<br />
                    <strong>Địa chỉ:</strong>  @item.Address @item.DistrictName, @item.CityName
                </td>
                <td>
                    @item.FulName<br />
                    <strong>ĐT:</strong> @item.PhoneNo<br />
                    <strong>Email:</strong> @item.Email<br />
                </td>
                <td>
                    <strong>Loại thẻ:</strong> @item.LevelName<br />
                    <strong>Thời hạn:</strong>  @item.DurationName<br />
                    <strong>Trạng thái:</strong> <span id="status@(item.SerialNumber)">@item.StatusName</span><br />
                    <strong>Kích hoạt:</strong>  @item.TrangThaiThe
                </td>
                <td>
                    <strong>Mã:</strong> @item.StaffId<br />
                    <strong>Họ tên:</strong>  @item.StaffName<br />
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('.tabler').basictable();
    });
</script>

