﻿@model GCSOFT.MVC.AGENCY.Areas.Administrator.Data.DashboardB2BViewModel

<div id="page_content_inner">
    <div class="uk-width-medium-1-1">
        <div class="md-card">
            <div class="md-card">
                <div class="md-card-content">
                    <table class="uk-table uk-table-nowrap table_check">
                        <thead>
                            <tr>
                                <th><strong>Tổng Tiền Đã Nạp Vào</strong></th>
                                <th><strong>Tổng Tiền Đã Bán</strong></th>
                                <th><strong>Tổng Tiền Còn Lại</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="uk-text-center">@string.Format("{0:#,##0}",Model.CreditAmount)</td>
                                <td class="uk-text-center">@string.Format("{0:#,##0}",Math.Abs(Model.TotalAmount))</td>
                                <td class="uk-text-center">@string.Format("{0:#,##0}",(Model.CreditAmount - Math.Abs(Model.TotalAmount)))</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="md-card">
            <div class="md-card">
                @using (Html.BeginForm("Index", "AgencyInfo", FormMethod.Post, new { @id = "frmAgency", @class = "uk-form-stacked", @autocomplete = "off" }))
                {
                    <div class="md-card-content">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-4">
                                <label>Từ Ngày</label>
                                @Html.TextBoxFor(model => model.CustomerAgencyBuyB2B.FromDateStr
                                                     , new Dictionary<string, Object> {
                                                            { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                            , { "autocomplete", "off" }
                                                            , { "placeholder", "dd/MM/yyyy" }
                                                            , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                                     })
                            </div>
                            <div class="uk-width-medium-1-4">
                                <label>Đến Ngày</label>
                                @Html.TextBoxFor(model => model.CustomerAgencyBuyB2B.ToDateStr
                                                     , new Dictionary<string, Object> {
                                                            { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                            , { "autocomplete", "off" }
                                                            , { "placeholder", "dd/MM/yyyy" }
                                                            , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                                     })
                            </div>
                            <div class="uk-width-medium-1-2 uk-text-right" hidden>
                                    <a href="javascript:void(0);" id="btnSearch" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Xem Báo Cáo</a>
                                    <a href="javascript:void(0);" id="btnDownload" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">cloud_download</i> Download</a>
                                </div>
                        </div>
                    </div>
                }
            </div>
            <div class="md-card-content">
                <h3 class="heading_a uk-margin-bottom">Danh Sách Top 10 Khách Hàng Đã Mua</h3>
                <div id="loadGeneralInfo" class="uk-overflow-container tableFixHead" style="overflow-x:auto;">

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#CustomerAgencyBuyB2B_FromDateStr, #CustomerAgencyBuyB2B_ToDateStr').change(function () {
                var flag = $('#frmAgency').validationEngine('validate');
                if (flag) {
                    /*$('#btnSearch').addClass("disabled").html('Đang lấy báo cáo ...');*/
                    $('#loadGeneralInfo').load('@Url.Action("LoadDashboardB2B", "Dashboard", new { area = "Administrator" })'
                        , { fd: $('#CustomerAgencyBuyB2B_FromDateStr').val(), td: $('#CustomerAgencyBuyB2B_ToDateStr').val() }
                        , function (responseTxt, statusTxt, xhr) {
                        if (statusTxt == "error") {
                            alert("Error: " + xhr.status + ": " + xhr.statusText);
                        } else {
                            $('html,body').animate({
                                scrollTop: $("#btnSearch").offset().top
                            }, 'slow');
                            $().toastmessage('showToast', {
                                text: 'Đã tải xong báo cáo.',
                                sticky: false,
                                position: 'top-center',
                                type: 'success'
                            });
                            /*('#btnSearch').removeClass("disabled").html('<i class="material-icons">&#xE8B6;</i> Xem Báo Cáo');*/
                        }
                    });
                }
            });
            @*$('#btnDownload').click(function () {
                var url = '@Url.Action("Download", "AgencyInfo", new { area = "Report" })';
                url += '?fd=' + $('#FromDateStr').val();
                url += '&td=' + $('#ToDateStr').val();
                url += '&o=' + $('#OrderByCode').val();
                url += '&s=' + $('#SortByCode').val();
                $(location).attr('href', url);
            });*@
        });

        function DateFormat(field, rules, i, options) {
            var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
            if (!regex.test(field.val())) {
                return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
            }
        }
    </script>

}