﻿@{

    ViewBag.Title = "Trang Quản Lý Siêu Trí Nhớ Học Đường";
    Layout = "~/Views/Shared/_LayoutDTHT.cshtml";
}
<div id="page_content_inner">

</div>
@*<script type="text/javascript">
    $(document).ready(function () {
        
        $.ajax({
            type: 'GET',
            url: '/Administrator/SysUser/CheckIsUserUpdate',
            data: {},
            success: function (res) {
                if (res.status)
                    $('#lnkChangePass').click();
            },
            error: function () {
                alert('error');
              
            }
        });
    });
</script>*@