﻿@{
    ViewBag.Title = "Hướng dẫn học viên";
}
<link href="@Url.Content("~/Content/Videos.css")" rel="stylesheet" />
<div class="container">
    <div class="jumbotron">
        <div class="txt divcenter">
            <h2>Hướng Dẫn Đối tác</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 mt-17">
            <div class="video">
                <h3>@ViewBag.TitleVideo</h3>
                <video width="100%" controls muted autoplay>
                    <source src="@ViewBag.link" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            <div class="box-detail box-detail-lesson">
                <h3>Bài Học</h3>
                <div class="box-detail-inner">
                    <ul>
                        <li><a href="@Url.Action("Agency", "Support", new { id = 1 })">Đối tác đăng nhập và đổi mật khẩu</a></li>
                        <li><a href="@Url.Action("Agency", "Support", new { id = 2 })">Đối tác đặt đơn hàng thẻ cho Tâm Trí Lực</a></li>
                        <li><a href="@Url.Action("Agency", "Support", new { id = 3 })">Đối tác nhận thẻ vào kho</a></li>
                        <li><a href="@Url.Action("Agency", "Support", new { id = 4 })">Bán mã kích hoạt khách lẻ</a></li>
                        <li><a href="@Url.Action("Agency", "Support", new { id = 5 })">Bán mã kích hoạt khách lẻ số lượng lớn</a></li>
                        <li><a href="@Url.Action("Agency", "Support", new { id = 6 })">Bán mã kích hoạt cho Đối tác con</a></li>
                        <li><a href="@Url.Action("Agency", "Support", new { id = 7 })">Bán mã kích hoạt cho cộng tác viên</a></li>
                        <li><a href="@Url.Action("Agency", "Support", new { id = 8 })">Thu hồi thẻ Đối tác con</a></li>
                        <li><a href="@Url.Action("Agency", "Support", new { id = 9 })">Thu hồi thẻ cộng tác viên</a></li>
                        <li><a href="@Url.Action("Agency", "Support", new { id = 10 })">Thu hồi mã kích hoạt đã bán</a></li>
                        <li><a href="@Url.Action("Agency", "Support", new { id = 11 })">Chỉnh sửa thông tin và gửi lại mật khẩu cho Đối tác con, cộng tác viên</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>