﻿@{
    ViewBag.Title = "Hướng dẫn học Siêu Trí Nhớ Học Đường";
}
<link href="@Url.Content("~/Content/Videos.css")" rel="stylesheet" />
<div class="container">
    <div class="jumbotron">
        <div class="txt divcenter">
            <h2>Hướng Dẫn Học Siêu Trí Nhớ Học Đường</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-17">
            <div class="video">
                <h3>@ViewBag.TitleVideo</h3>
                <video width="100%" controls muted autoplay>
                    <source src="https://sieutrinhohocduong.com/Files/HocVien/HuongDan_STNHD_ver03.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>