﻿@model GCSOFT.MVC.STNHD.Models.PageViewModels.TeacherViewModel
@using GCSOFT.MVC.STNHD.Resource
<link href="@Url.Content("~/Content/teachers.css")" rel="stylesheet" />
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>@stnhd.Hello2 @Model.UserInfo.fullName</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <h3 class="h-title">@stnhd.Teachers</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="ask-answer">
                <div class="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        @foreach (var item in Model.Levels)
                        {
                            if (item.Code == null)
                            {
                                item.Code = "";
                            }
                            <li class="col-lg-2 col-md-2 col-xs-6 col-sm-4 text-center @(item.Code.Equals(Model.ActiveClass) ? "active" : "")">
                                <a href="@Url.Action("Index","Teacher", new { l = item.Code })" aria-controls="ask-answer2">
                                    <h3 class="ask-answer-title">@item.Name</h3>
                                </a>
                            </li>
                        }
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="cls@(Model.ActiveClass)">

                            @foreach (var item in Model.Teachers)
                            {
                                <div class="post teacher">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-7 col-md-2 col-lg-2">
                                            <div class="vcard-img">
                                                <img src="https://admin.stnhd.com/Files/Teacher/@item.Id/@item.Image" alt="" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-7 col-md-10 col-lg-10">
                                            <h3>@item.FullName</h3>
                                            <h5>@item.SchoolName</h5>
                                            <div class="teacherContent">
                                                @Html.Raw(item.Remark)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    @if (Model.paging.TotalRows > 0)
                    {
                        <div class="pagination" data-total-count="@Model.paging.TotalRows" data-take="@Model.paging.PerPage"></div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/paging/pajinatify.js")"></script>
    <link type="text/css" href="@Url.Content("~/Scripts/paging/pajinatify.css")" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.pagination').pajinatify();
            $('.pagination').pajinatify('set', @Model.paging.CurPage, @Model.paging.TotalRows);
            $('.pajinatify__button').click(function () {
                var p = $(this).attr('data-page');
                window.location.href = '@Url.Action("Index", "teacher")' + '?p=' + p + '&l=@Model.ActiveClass';
            });
        });
    </script>
}