﻿@model IEnumerable<GCSOFT.MVC.Web.ViewModels.SystemViewModels.UserThuocNhomVM>
<div class="md-card">
    <div class="md-card-toolbar">
        <div class="md-card-toolbar-actions">
            <a name="btnChoose" href="javascript:void(0)" class="md-btn md-btn-small md-btn-wave-light md-btn-flat">
                <i class="material-icons md-16 uk-text-primary">&#xE89E;</i>&nbsp;&nbsp;Chọn ...
            </a>
        </div>
        <h3 class="md-card-toolbar-heading-text">
            <i class="material-icons">&#xE896;</i>&nbsp;&nbsp;Nhóm Quyền
        </h3>
    </div>
    <div class="md-card-content">
        <div class="uk-grid" id="d_table_product">
            <div class="uk-width-medium-10-10">
                <div class="uk-overflow-container">
                    <table class="uk-table">
                        <thead>
                            <tr>
                                <th class="uk-width-1-10 uk-text-nowrap">STT</th>
                                <th>Mã Nhóm</th>
                                <th>Tên Nhóm</th>
                                <th>Diễn Giải</th>
                                <th class="uk-width-1-10 uk-text-nowrap">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            @if (Model != null)
                            {
                                int stt = 0;
                                var UserOfGroups = Model.ToList();
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="uk-text-middle">
                                            @(++stt)
                                        </td>
                                        <td>
                                            @Html.HiddenFor(d => UserOfGroups[stt - 1].UserGroupCode, new { @class = "GrpCode" })
                                            @item.UserGroupCode
                                        </td>
                                        <td>
                                            @Html.HiddenFor(d => UserOfGroups[stt - 1].NhomUserInfo.Name)
                                            @item.NhomUserInfo.Name
                                        </td>
                                        <td>
                                            @Html.HiddenFor(d => UserOfGroups[stt - 1].NhomUserInfo.Description)
                                            @item.NhomUserInfo.Description
                                        </td>
                                        <td class="uk-text-middle uk-text-right">
                                            <a href="javascript:void(0)" onclick="deleteRow('tbody', '@(stt - 1)', 'true');">
                                                <i class="material-icons">&#xE872;</i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="uk-width-medium-10-10">
                    <a name="btnChoose" href="javascript:void(0)" class="md-btn md-btn-small md-btn-wave-light md-btn-flat uk-float-right">
                        <i class="material-icons uk-text-primary">&#xE89E;</i>&nbsp;&nbsp;Chọn ...
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        OpenDialog($("[name='btnChoose']"), '@Url.Action("PopupIndex", "SysUserGroup", new { area = "Administrator" })', '');
    });
    function Choose() {
        $('[name="btnChoosed"]').click(function () {
            var code = '';
            var name = '';
            var desctipton = '';
            var stt = $("#tbody").find("tr").length;
            var suffix = parseInt($("#tbody").FindMaxIndex());
            var stringBuilder = "";
            var countSuccess = 0;
            for (var i = 1; i < $('[role="checkbox"]').length; i++) {
                if ($('[role="checkbox"]:eq(' + i + ')').is(':checked')) {
                    code = $('[aria-describedby="jqGrid_Code"]:eq(' + (i - 1) + ')').text();
                    name = $('[aria-describedby="jqGrid_Name"]:eq(' + (i - 1) + ')').text();
                    desctipton = $('[aria-describedby="jqGrid_Description"]:eq(' + (i - 1) + ')').text();

                    stringBuilder = '';
                    if (CheckGrpCode(code)) {
                        countSuccess += 1;
                        stringBuilder += '<tr>';

                        stringBuilder += '<td class="uk-text-middle">';
                        stringBuilder += (stt + 1);
                        stringBuilder += '</td>';

                        stringBuilder += '<td>';
                        stringBuilder += code;
                        stringBuilder += '<input id="' + Math.random() + '" type="hidden" value="' + code + '" name="UserOfGroups[' + (suffix) + '].UserGroupCode" class="GrpCode">';
                        stringBuilder += '</td>';

                        stringBuilder += '<td>';
                        stringBuilder += name;
                        stringBuilder += '<input id="' + Math.random() + '" type="hidden" value="' + name + '" name="UserOfGroups[' + (suffix) + '].NhomUserInfo.Name">';
                        stringBuilder += '</td>';

                        stringBuilder += '<td>';
                        stringBuilder += desctipton;
                        stringBuilder += '<input id="' + Math.random() + '" type="hidden" value="' + desctipton + '" name="UserOfGroups[' + (suffix) + '].NhomUserInfo.Description">';
                        stringBuilder += '</td>';

                        stringBuilder += '<td class="uk-text-right">';
                        stringBuilder += '<a href="javascript:void(0);" onclick=\'deleteRow("tbody", "' + (stt) + '", "true");\'><i class="material-icons">&#xE872;</i></a>';
                        stringBuilder += '</td>';

                        stringBuilder += '</tr>';
                        if (stringBuilder != "") {
                            if ($("#tbody tr").length > 0) {
                                $("#tbody").find("tr").end().append(stringBuilder)
                            } else {
                                $("#tbody").html(stringBuilder);
                            }
                        }
                        ++stt;
                        ++suffix;
                        $("[role='row']:eq(" + (i + 1) + ")").fadeOut();
                    }
                }
            }
            $("#tbody").RebuildIndex();
            if (countSuccess != 0) {
                $().toastmessage('showSuccessToast', "Đã chọn <strong class=\".uk-text-success\">" + countSuccess + "</strong>");
            }
        });
    }

    var CheckGrpCode = (function (userId) {
        var flag = true;
        $.each($(".GrpCode"), function () {
            if ($(this).val() == userId)
                flag = false;
        });
        return flag;
    });
</script>