﻿<h4>Bạn Học Lớp Mấy ?</h4>
<div id="classList" class="list-btn">
    <div><a id="class1" name="className" class="btn-class" href="javascript:void(0);">Lớp 1</a></div>
    <div><a id="class2" name="className" class="btn-class" href="javascript:void(0);">Lớp 2</a></div>
    <div><a id="class3" name="className" class="btn-class" href="javascript:void(0);">Lớp 3</a></div>
    <div><a id="class4" name="className" class="btn-class" href="javascript:void(0);">Lớp 4</a></div>
    <div><a id="class5" name="className" class="btn-class" href="javascript:void(0);">Lớp 5</a></div>
    <div><a id="class6" name="className" class="btn-class" href="javascript:void(0);">Lớp 6</a></div>
    <div><a id="class7" name="className" class="btn-class" href="javascript:void(0);">Lớp 7</a></div>
    <div><a id="class8" name="className" class="btn-class" href="javascript:void(0);">Lớp 8</a></div>
    <div><a id="class9" name="className" class="btn-class" href="javascript:void(0);">Lớp 9</a></div>
    <div><a id="class10" name="className" class="btn-class" href="javascript:void(0);">Lớp 10</a></div>
    <div><a id="class11" name="className" class="btn-class" href="javascript:void(0);">Lớp 11</a></div>
    <div><a id="class12" name="className" class="btn-class" href="javascript:void(0);">Lớp 12</a></div>
</div>