﻿<h4>Bạn Học Lớp Mấy ?</h4>
<select id="classId" class="form-control">
    <option value="">[ Chọn ]</option>
    <option value="9">Lớp 6</option>
    <option value="13">Lớp 7</option>
    <option value="14">Lớp 8</option>
    <option value="15">Lớp 9</option>
</select>