﻿<h4>Bạn Học Lớp Mấy ?</h4>
<select id="classId" class="form-control">
    <option value="">[ Chọn ]</option>
    <option value="16">Lớp 10</option>
    <option value="17">Lớp 11</option>
    <option value="18">Lớp 12</option>
</select>