﻿@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn @Model.UserInfo.fullName</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="modify-w-form">
                <h3>Kích Hoạt Khóa Học</h3>
                <form action="" method="POST" role="form" autocomplete="off">
                    <div class="ask-you">
                        <p>Bạn đã có <strong>Mã Kích Hoạt</strong> của Siêu Trí Nhớ Học Đường?</p>
                        <input type="radio" name="question" value="yes" checked> Đã có &nbsp;
                        <input type="radio" name="question" value="no"> Chưa có
                    </div>
                    <div id="activeCourse">
                        <div class="form-group">
                            <input type="text" class="form-control" id="activeCode" placeholder="Mã kích hoạt" value="">
                        </div>
                        <div class="text-center"><button type="button" id="btnGo" class="btn btn-primary">Vào lớp học</button></div>
                    </div>
                    <div id="buyCourse" class="support-course" style="margin-top: 10px !important; display: none;">
                        <p>Chọn Hình Thức Mua Hàng</p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <label class="radio-label" for="course" name="lblcourse" value="agency">
                                    <i class="fa fa-check" aria-hidden="true" style="display:block"></i> <strong>Mua tại các đại lý của Tâm Trí Lực</strong>
                                </label>
                                <input type="radio" name="course">
                                <div id="paymentAgency">
                                    <div class="card-right payment-content">
                                        Nếu bạn chưa có mã kích hoạt khóa học, bạn có thể liên hệ với đại lý của Tâm Trí Lực gần nhất để mua mã kích hoạt <a href="@Url.Action("Index","Agency")" target="_blank">tại đây</a>, sau đó quay lại kích hoạt bằng <strong>Mã Kích Hoạt</strong> được Đại Lý cấp qua SMS cho bạn.
                                    </div>
                                    <div class="support-course">
                                        <p>Giá Mua Tại Đại Lý</p>
                                        <div class="card-right">
                                            <div class="d-flex justify-content-between p-3">
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-text">Gói trọn đời</span></div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-price">1.368.000</span></div>
                                            </div>
                                            <hr class="mt-0 line">
                                            <div class="d-flex justify-content-between p-3">
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-text">Khuyến mãi</span></div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-price">0</span></div>
                                            </div>
                                            <hr class="mt-0 line">
                                            <div class="d-flex justify-content-between p-3">
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-text">Vận chuyển</span></div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-price">0</span></div>
                                            </div>
                                            <hr class="mt-0 line">
                                            <div class="d-flex justify-content-between p-3S">
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-total">Tổng tiền</span> </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-total">1.368.000</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <label class="radio-label" for="course" name="lblcourse" value="ttl"><i class="fa fa-check" aria-hidden="true"></i> <strong>Mua tại Tâm Trí Lực</strong></label><input type="radio" name="course">
                                <div id="paymentTTL" style="display: none;">
                                    <div class="support-course">
                                        <p>Giá Mua Tại Tâm Trí Lực</p>
                                        <div class="card-right">
                                            <div class="d-flex justify-content-between p-3">
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-text">Gói trọn đời</span></div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-price">1.468.000</span></div>
                                            </div>
                                            <hr class="mt-0 line">
                                            <div class="d-flex justify-content-between p-3">
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-text">Khuyến mãi</span></div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-price">0</span></div>
                                            </div>
                                            <hr class="mt-0 line">
                                            <div class="d-flex justify-content-between p-3">
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-text">Vận chuyển</span></div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-price">0</span></div>
                                            </div>
                                            <hr class="mt-0 line">
                                            <div class="d-flex justify-content-between p-3S">
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-total">Tổng tiền</span> </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-total">1.468.000</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="support-course">
                                        <p>Thông Tin Chuyển Khoản</p>
                                        <div class="card-right payment-content-2">
                                            Bạn có thể đến bất kỳ ngân hàng nào ở Việt Nam (hoặc sử dụng Internet Banking) để chuyển tiền theo thông tin bên dưới:
                                        </div>
                                        <div class="card-right">
                                            <ul>
                                                <li>
                                                    Ngân hàng TMCP Sài Gòn Thương tín ( Sacombank) – Trung tâm hội sở
                                                </li>
                                                <li>
                                                    <strong>Số tài khoản:</strong> 060159439812
                                                </li>
                                                <li>
                                                    <strong>Chủ tài khoản:</strong> Công ty CP Đào tạo Tâm Trí Lực
                                                </li>
                                            </ul>
                                            <br />
                                            <ul>
                                                <li>
                                                    Ngân hàng TMCP Kỹ thương Việt Nam ( Techcombank) – Chi nhánh Gia Định
                                                </li>
                                                <li>
                                                    <strong>Số tài khoản:</strong> 19132264536019
                                                </li>
                                                <li>
                                                    <strong>Chủ tài khoản:</strong> Công ty CP Đào tạo Tâm Trí Lực
                                                </li>
                                            </ul>
                                            <br />
                                            <ul>
                                                <li>
                                                    Ngân hàng TMCP Á Châu (ACB) – Chi nhánh Hai Bà Trưng
                                                </li>
                                                <li>
                                                    <strong>Số tài khoản:</strong> 6336868
                                                </li>
                                                <li>
                                                    <strong>Chủ tài khoản:</strong> Công ty CP Đào tạo Tâm Trí Lực
                                                </li>
                                            </ul>
                                            <br />
                                            <ul>
                                                <li>
                                                    Ngân hàng TMCP Ngoại thương Việt Nam (Vietcombank) – Chi Nhánh Kỳ Đồng
                                                </li>
                                                <li>
                                                    <strong>Số tài khoản:</strong> 1001906868
                                                </li>
                                                <li>
                                                    <strong>Chủ tài khoản:</strong> Công ty CP Đào tạo Tâm Trí Lực
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="support-course">
                                        <p>Ghi chú khi chuyển khoản</p>
                                        <div class="card-right payment-content-2">
                                            Tại mục "Ghi chú" khi chuyển khoản, bạn ghi rõ: <strong>Số điện thoại – Họ và tên – STNHD</strong>
                                            <br />
                                            <strong>Ví dụ:</strong> 0909090909 –Huong Lan – STNHD
                                            <br />
                                            Sau khi xác nhận thanh toán thành công, Mã kích hoạt sẽ được gửi qua SMS cho bạn.
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#activeCode').bind('keyup change', function () {
                $('#activeCode').val($.trim($(this).val().toUpperCase()));
            });
            $('#btnGo').click(function () {
                if ($('#activeCode').val() == '') {
                    $.toast({
                        heading: 'Thông Báo',
                        text: 'Vui lòng nhập mã kích hoạt',
                        showHideTransition: 'slide',
                        icon: 'info',
                        position: 'top-center'
                    });
                    return false;
                } else {
                    NProgress.start();
                    $('#btnGo').hide();
                    $.post("@Url.Action("ActiveCode", "ClassInfo")", { activeCode: $('#activeCode').val() }, function (data) {
                        if (data.s == 'oke') {
                            window.location.href = data.url;
                        } else {
                            NProgress.done();
                            $('#btnGo').show();
                            $.toast({
                                heading: 'Thông Báo',
                                text: data.url,
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                        }
                    });
                }
            });
            $('[name="question"]').change(function () {
                if ($('input[name=question]:checked').val() == 'yes') {
                    $('#activeCourse').show();
                    $('#buyCourse').hide();
                } else {
                    $('#activeCourse').hide();
                    $('#buyCourse').show();
                }
            });
            $('[name="lblcourse"]').click(function () {
                if ($(this).attr('value') == 'agency') {
                    $('#paymentAgency').show();
                    $('#paymentTTL').hide();
                } else {
                    $('#paymentAgency').hide();
                    $('#paymentTTL').show();
                }
            });
        });
    </script>
}