﻿@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn @Model.UserInfo.fullName</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="modify-w-form">
                <h3>Mã kích hoạt khóa học</h3>
                <form action="" method="POST" role="form">

                    <div class="form-group">
                        <input type="text" class="form-control" id="activeCode" placeholder="Mã kích hoạt" value="">
                    </div>
                    <p>Nếu bạn chưa có mã kích hoạt khóa học, bạn có thể liên hệ với đại lý của Tâm Trí Lực gần nhất để mua mã kích hoạt <a href="@Url.Action("Index","Agency")" target="_blank">tại đây</a></p>
                    <div class="text-center"><button type="button" id="btnGo" class="btn btn-primary">Vào lớp học</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#activeCode').bind('keyup change', function () {
                $('#activeCode').val($.trim($(this).val().toUpperCase()));
            });
            $('#btnGo').click(function () {
                if ($('#activeCode').val() == '') {
                    $.toast({
                        heading: 'Thông Báo',
                        text: 'Vui lòng nhập mã kích hoạt',
                        showHideTransition: 'slide',
                        icon: 'info',
                        position: 'top-center'
                    });
                    return false;
                } else {
                    NProgress.start();
                    $('#btnGo').hide();
                    $.post("@Url.Action("ActiveCode", "ClassInfo")", { activeCode: $('#activeCode').val() }, function (data) {
                        if (data.s == 'oke') {
                            window.location.href = data.url;
                        } else {
                            NProgress.done();
                            $('#btnGo').show();
                            $.toast({
                                heading: 'Thông Báo',
                                text: data.url,
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                        }
                    });
                }
            });
        });
    </script>
}