﻿@model GCSOFT.MVC.STNHD.Models.PageViewModels.ClassInfoViewModel
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn @Model.UserInfo.fullName</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="modify-w-form">
                <h3>Kích Hoạt Khóa Học</h3>
                @using (Html.BeginForm("CreateCustomer", "ClassInfo", FormMethod.Post, new { @id = "frmRegistration", @autocomplete = "off", @class = "form-horizontal" }))
                {
                    <div class="ask-you">
                        <p>Bạn đã có <strong>Mã Kích Hoạt</strong> của Siêu Trí Nhớ Học Đường?</p>
                        <input type="radio" name="question" value="yes" checked> Đã có &nbsp;
                        <input type="radio" name="question" value="no"> Chưa có
                    </div>
                    <div id="activeCourse">
                        <div class="form-group">
                            <input type="text" class="form-control" id="activeCode" placeholder="Mã kích hoạt" value="">
                        </div>
                        <div class="text-center"><button type="button" id="btnGo" class="btn btn-primary">Vào lớp học</button></div>
                    </div>
                    <div id="buyCourse" style="margin-top: 10px !important; display: none;">

                        <div class="support-course" style="margin-top: 10px">
                            <p>Thông Tin Mua Mã Kích Hoạt</p>
                            <div class="card-right">
                                <div class="d-flex justify-content-between p-3">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-text">Gói học trọn đời</span></div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-price">1.468.000</span></div>
                                </div>
                                <hr class="mt-0 line">
                                <div class="d-flex justify-content-between p-3">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-text">Khuyến mãi</span></div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-price">0</span></div>
                                </div>
                                <hr class="mt-0 line">
                                <div class="d-flex justify-content-between p-3">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-text">Vận chuyển</span></div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-price">0</span></div>
                                </div>
                                <hr class="mt-0 line">
                                <div class="d-flex justify-content-between p-3S">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-total">Tổng tiền</span> </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-total">1.468.000</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="support-course">
                            <p>Thông Tin Chuyển Khoản</p>
                            <div class="card-right payment-content-2">
                                Bạn có thể đến bất kỳ ngân hàng nào ở Việt Nam (hoặc sử dụng Internet Banking) để chuyển tiền theo thông tin bên dưới:
                            </div>
                            <div class="card-right">
                                <ul>
                                    <li>
                                        Ngân hàng TMCP Sài Gòn Thương tín ( Sacombank) – Trung tâm hội sở
                                    </li>
                                    <li>
                                        <strong>Số tài khoản:</strong> 060159439812
                                    </li>
                                    <li>
                                        <strong>Chủ tài khoản:</strong> Công ty CP Đào tạo Tâm Trí Lực
                                    </li>
                                </ul>
                                <br />
                                <ul>
                                    <li>
                                        Ngân hàng TMCP Kỹ thương Việt Nam ( Techcombank) – Chi nhánh Gia Định
                                    </li>
                                    <li>
                                        <strong>Số tài khoản:</strong> 19132264536019
                                    </li>
                                    <li>
                                        <strong>Chủ tài khoản:</strong> Công ty CP Đào tạo Tâm Trí Lực
                                    </li>
                                </ul>
                                <br />
                                <ul>
                                    <li>
                                        Ngân hàng TMCP Á Châu (ACB) – Chi nhánh Hai Bà Trưng
                                    </li>
                                    <li>
                                        <strong>Số tài khoản:</strong> 6336868
                                    </li>
                                    <li>
                                        <strong>Chủ tài khoản:</strong> Công ty CP Đào tạo Tâm Trí Lực
                                    </li>
                                </ul>
                                <br />
                                <ul>
                                    <li>
                                        Ngân hàng TMCP Ngoại thương Việt Nam (Vietcombank) – Chi Nhánh Kỳ Đồng
                                    </li>
                                    <li>
                                        <strong>Số tài khoản:</strong> 1001906868
                                    </li>
                                    <li>
                                        <strong>Chủ tài khoản:</strong> Công ty CP Đào tạo Tâm Trí Lực
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="support-course">
                            <p>Ghi chú khi chuyển khoản</p>
                            <div class="card-right payment-content-2">
                                Tại mục "Ghi chú" khi chuyển khoản, bạn ghi rõ: <strong>Số điện thoại – Họ và tên – STNHD</strong>
                                <br />
                                <strong>Ví dụ:</strong> 0909090909 –Huong Lan – STNHD
                                <br />
                                @*Sau khi xác nhận thanh toán thành công, Mã kích hoạt sẽ được gửi qua SMS cho bạn.*@
                            </div>
                        </div>

                        <div class="support-course">
                            <p>Thông Tin Nhận Mã Kích Hoạt</p>
                            <div class="card-right payment-content-2">
                                Sau khi chuyển khoản thành công anh chị vui lòng chọn <strong>Gửi Thông Tin</strong>, Tâm Trí Lực sẽ gửi <strong>Mã Kích Hoạt</strong> qua SMS cho anh chị sau khi xác nhận thanh toán thành công.
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Họ Tên</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.UserInfo.fullName, new { @placeholder = "Nhập họ tên (*)", @class = "form-control validate[required]", @name = "fullName" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">SĐT</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.UserInfo.Phone, new { @placeholder = "Nhập số điện thoại (*)", @class = "form-control validate[required,custom[phone]]" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.UserInfo.email, new { @placeholder = "Email", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Địa chỉ</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.UserInfo.Address, new { @placeholder = "Địa chỉ (số nhà, tên đường, phường/xã, quận/huyện, tỉnh/thành phố *)", @class = "form-control validate[required]" })
                                </div>
                            </div>
                            <div class="text-center"><button type="button" id="btnRegistion3" class="btn btn-primary">Gửi Thông Tin</button></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="@Url.Content("~/Scripts/ValidationEngine/validationEngine.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine-vi.js")"></script>
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[name="TransactionID"]').val(CreateGuid());
            $('#activeCode').bind('keyup change', function () {
                $('#activeCode').val($.trim($(this).val().toUpperCase()));
            });
            $('#btnGo').click(function () {
                if ($('#activeCode').val() == '') {
                    $.toast({
                        heading: 'Thông Báo',
                        text: 'Vui lòng nhập mã kích hoạt',
                        showHideTransition: 'slide',
                        icon: 'info',
                        position: 'top-center'
                    });
                    return false;
                } else {
                    NProgress.start();
                    $('#btnGo').hide();
                    $.post("@Url.Action("LoadLevelByCode", "ClassInfo")", { activeCode: $('#activeCode').val() }, function (data) {
                        if (data.s == 'oke') {
                            window.location.href = data.url;
                        } else {
                            NProgress.done();
                            $('#btnGo').show();
                            $.toast({
                                heading: 'Thông Báo',
                                text: data.url,
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                        }
                    });
                }
            });
            $('#btnRegistion3').click(function () {
                var objFrom = $('#frmRegistration');
                var flag = objFrom.validationEngine('validate');
                if (flag) {
                    NProgress.start();
                    objFrom.ajaxSubmit(function (data) {
                        $.toast({
                            heading: 'STNHD Thông Báo',
                            text: data.result,
                            showHideTransition: 'slide',
                            icon: 'info',
                            position: 'top-center'
                        });
                        NProgress.done();
                        $('#UserInfo_fullName, #UserInfo_Phone, #UserInfo_email, #UserInfo_Address').val('');
                    });
                }
            });
            $('[name="question"]').change(function () {
                if ($('input[name=question]:checked').val() == 'yes') {
                    $('#activeCourse').show();
                    $('#buyCourse').hide();
                } else {
                    $('#activeCourse').hide();
                    $('#buyCourse').show();
                }
            });
        });
        function CreateGuid() {
            function _p8(s) {
                var p = (Math.random().toString(16) + "000000000").substr(2, 8);
                return s ? "-" + p.substr(0, 4) + "-" + p.substr(4, 4) : p;
            }
            return _p8() + _p8(true) + _p8(true) + _p8();
        }
    </script>
}