﻿@model GCSOFT.MVC.STNHD.Models.PageViewModels.ClassInfoViewModel
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn @Model.UserInfo.fullName</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="modify-w-form">
                <h3>Kích Hoạt Khóa Học</h3>
                @using (Html.BeginForm("CreateCustomer", "ClassInfo", FormMethod.Post, new { @id = "frmRegistration", @autocomplete = "off", @class = "form-horizontal" }))
                {
                    <div class="ask-you">
                        <p>Bạn đã có <strong>Mã Kích Hoạt</strong> của Siêu Trí Nhớ Học Đường ?</p>
                    </div>
                    <div id="activeCourse">
                        <div id="activeCodeInfo">
                            <div class="form-group" style="margin-left: 0px; margin-right: 0px;">
                                <input type="text" class="form-control" id="activeCode" placeholder="Nhập mã kích hoạt khóa học" value="">
                            </div>
                            <div class="text-center"><button type="button" id="btnCheckActiveCode" class="btn btn-primary">Kích Hoạt Tài Khoản</button></div>
                            <div class="text-center">
                                <br />
                                <a href="@Url.Action("Index","Item")">Chưa có tài khoản ?</a>
                            </div>
                        </div>
                        <div id="levelInfo" accesskey="0" activeCode="" style="display: none;">
                            <h4>Bạn Học Cấp Mấy ?</h4>
                            <select id="levelName" class="form-control">
                                <option value="">[ Chọn ]</option>
                                <option value="cap1">Cấp 1</option>
                                <option value="cap2">Cấp 2</option>
                                <option value="cap3">Cấp 3</option>
                            </select>
                            <div id="classInfo" accesskey="0">

                            </div>
                            <div class="text-center"><button type="button" id="btnGo" class="btn btn-primary" style="margin-top: 50px;">Vào lớp học</button></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="@Url.Content("~/Scripts/ValidationEngine/validationEngine.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine-vi.js")"></script>
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#activeCode').bind('keyup change', function () {
                $('#activeCode').val($.trim($(this).val().toUpperCase()));
            });
            $('#activeCode').val($.urlParam('a'));
            $('#btnCheckActiveCode').click(function () {
                 if ($('#activeCode').val() == '') {
                    $.toast({
                        heading: 'Thông Báo',
                        text: 'Vui lòng nhập mã kích hoạt',
                        showHideTransition: 'slide',
                        icon: 'info',
                        position: 'top-center'
                    });
                    return false;
                } else {
                     NProgress.start();
                     //$('#btnCheckActiveCode').hide();
                     $.post("@Url.Action("LoadLevelByCode", "ClassInfo")", { activeCode: $('#activeCode').val() }, function (data) {
                        if (data.s == 'oke') {
                            if (data.url == 'Unlimited') {
                                $.toast({
                                    heading: 'Xin Chúc Mừng',
                                    text: 'Mã Kích Hoạt Của Bạn Có Thể Học 12 Lớp Không Giới Hạn',
                                    showHideTransition: 'slide',
                                    icon: 'info',
                                    position: 'top-center'
                                });
                            } else {
                                $.toast({
                                    heading: 'Xin Chúc Mừng',
                                    text: 'Mời Bạn Chọn Cấp Học',
                                    showHideTransition: 'slide',
                                    icon: 'info',
                                    position: 'top-center'
                                });
                            }
                            $('#activeCodeInfo').hide('fade', function () {
                                $('#levelInfo').show('scale');
                                $('#levelInfo').attr('accesskey', data.url);
                                $('#levelInfo').attr('activeCode', $('#activeCode').val());
                            });
                        } else {
                            $.toast({
                                heading: 'Thông Báo',
                                text: data.url,
                                showHideTransition: 'slide',
                                icon: 'error',
                                position: 'top-center'
                            });
                         }
                         NProgress.done();
                         //$('#btnCheckActiveCode').show();
                    });
                }
            });
            $('#levelName').change(function () {
                var levelCode = $(this).val();
                $('#classInfo').load('@Url.Action("LoadClassByLevel", "ClassInfo")', { lvCode: levelCode }, function () {

                });
            });
            $('#btnGo').click(function () {
                var levelCode = $('#levelName').val();
                var classId = $('#classId').val();
                var activeCode = $('#activeCode').val();
                if (activeCode == '') {
                    $.toast({
                        heading: 'Thông Báo',
                        text: 'Vui lòng nhập Mã Kích Hoạt !!!',
                        showHideTransition: 'slide',
                        icon: 'error',
                        position: 'top-center'
                    });
                    return;
                }
                if (levelCode == '') {
                    $.toast({
                        heading: 'Thông Báo',
                        text: 'Vui lòng chọn cấp học !!!',
                        showHideTransition: 'slide',
                        icon: 'error',
                        position: 'top-center'
                    });
                    return;
                }
                if (classId == '') {
                    $.toast({
                        heading: 'Thông Báo',
                        text: 'Vui lòng chọn lớp học !!!',
                        showHideTransition: 'slide',
                        icon: 'error',
                        position: 'top-center'
                    });
                    return;
                }
                NProgress.start();
                $('#btnGo').hide();
                if ($('#levelInfo').attr('accesskey') == 'Unlimited') {
                    levelCode = '';
                }
                $.post("@Url.Action("ActiveCode", "ClassInfo")", { activeCode: activeCode, levelCode: levelCode, classId: classId }, function (data) {
                    if (data.s == 'oke') {
                        window.location.href = data.url;
                    } else {
                        NProgress.done();
                        $('#btnGo').show();
                        $.toast({
                            heading: 'Thông Báo',
                            text: data.url,
                            showHideTransition: 'slide',
                            icon: 'info',
                            position: 'top-center'
                        });
                    }
                });
            });
        });
        function CreateGuid() {
            function _p8(s) {
                var p = (Math.random().toString(16) + "000000000").substr(2, 8);
                return s ? "-" + p.substr(0, 4) + "-" + p.substr(4, 4) : p;
            }
            return _p8() + _p8(true) + _p8(true) + _p8();
        }
        $.urlParam = function (name) {
            var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return '';
            } else {
                return results[1] || 0;
            }
        }
    </script>
}