﻿@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<section class="page-title" data-parallax="scroll" data-image-src="@Url.Content("~/Content/img/page-headers/knowledge_bg.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Kích Hoạt Tài Khoản</h1>
            </div>
        </div>
    </div>
</section>
<section class="section-padding-100">
    <div class="container">
        <div class="contact">
            <div class="row">
                <div class="col-12 col-md-12 order-md-12 col-lg-12">
                    <h4>Xin Chúc Mừng</h4>
                    <p>Tài khoản của bạn đã được kích hoạt thành công, bạn vào bằng đường link bên dưới để vào Siêu Trí Nhớ Học Đường</p>
                    <p>Xin Cám Ơn</p>
                    <p>
                        <a href="@Url.Action("index","student")">Đăng Nhập</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>