﻿<div class="modify-w-form">
    @using (Html.BeginForm("Login", "AccountEbook", FormMethod.Post, new { @id = "frmLogin", @class = "sign__form form-horizontal", @autocomplete = "off" }))
    {
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Tên đăng nhập</label>
            <div class="col-sm-9">
                <input id="LoginuserName" type="text" class="form-control" name="userName" placeholder="Nhập tên đăng nhập (*)">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Mật khẩu</label>
            <div class="col-sm-9">
                <input id="Loginpassword" type="password" class="form-control" name="password" placeholder="Nhập mật khẩu">
                <input id="returnUrl" name="returnUrl" type="hidden" value="@ViewBag.returnUrl" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 text-center">
                <a href="@Url.Action("ForgetUsername","Student")">Quên Tên Đăng Nhập</a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="@Url.Action("ResetPassword","Student")">Quên Mật Khẩu</a>
            </div>
            <div class="col-sm-4 text-center">
                <a id="btnCreateAccount" href="javascript:void(0);">Tạo Tài Khoản</a>
            </div>
        </div>
        <div class="text-center"><button name="btnLogin" id="btnLogin" type="button" class="btn btn-primary">Đăng Nhập</button></div>
    }
</div>