﻿@model GCSOFT.MVC.STNHD.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Quên Mật Khẩu";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="modify-w-form">
                <h3>ĐỔI MẬT KHẨU</h3>
                @if (string.IsNullOrEmpty(Model.UserName))
                {
                    <p class="text-center">Link thay đổi mật khẩu không đúng hoặc đã hết hiệu lực</p>
                    <p class="text-center">
                        Để thay đổi vui lòng click vào <a href="@Url.Action("ResetPassword","Student")">đây</a> để lấy link khởi tạo mật khẩu.
                    </p>
                }
                else
                {
                    using (Html.BeginForm("forgetpass", "Student", FormMethod.Post, new { @id = "frmForgetpass", @autocomplete = "off", @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Tên đăng nhập</label>
                            <div class="col-sm-9">
                                @Html.HiddenFor(model => model.Id)
                                @Html.TextBoxFor(model => model.UserName, new { @placeholder = "Nhập tên đăng nhập (*)", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Điện Thoại</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.PhoneNo, new { @placeholder = "Nhập số điện thoại", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.Email, new { @placeholder = "Nhập email", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mật khẩu</label>
                            <div class="col-sm-9">
                                @Html.PasswordFor(model => model.Password, new { @placeholder = "Mật Khẩu (*)", @class = "form-control validate[required]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nhập lại mật khẩu</label>
                            <div class="col-sm-9">
                                @Html.PasswordFor(model => model.RePassword, new { @placeholder = "Nhập Lại Mật Khẩu (*)", @class = "form-control validate[required,equals[Password]]" })
                            </div>
                        </div>
                        <div class="text-center"><button type="button" id="btnChangePassword" class="btn btn-primary">Thay Đổi Mật Khẩu</button></div>
                    }
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="@Url.Content("~/Scripts/ValidationEngine/validationEngine.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine-vi.js")"></script>
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnChangePassword').click(function () {
                var objFrom = $('#frmForgetpass');
                var flag = objFrom.validationEngine('validate');
                if (flag) {
                    $('[name="btnChangePassword"]').attr('disabled', 'disabled').text('Loading ...');
                    NProgress.start();
                    objFrom.ajaxSubmit(function (data) {
                        if (data.s == 'oke') {
                            $.toast({
                                heading: 'STNHD Thông Báo',
                                text: "Mật Khẩu Đã Thay Đổi Thành Công",
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                            $('#Password,#RePassword').val('');
                        } else {
                            $.toast({
                                heading: 'STNHD Thông Báo',
                                text: data.result,
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                        }
                        NProgress.done();
                        $('[name="btnChangePassword"]').removeAttr('disabled').text('Thay Đổi Mật Khẩu');
                    });
                }
            });
            $('#btnSendOTP').click(function () {
                if ($('#Phone').val() == '') {
                    $.toast({
                        heading: 'STNHD Thông Báo',
                        text: 'Vui lòng nhập số điện thoại',
                        showHideTransition: 'slide',
                        icon: 'info',
                        position: 'top-center'
                    });
                } else {
                    $.post('@Url.Action("SendOTPRegister", "Student")', { p: $('#Phone').val() }, function (data) {
                        if (data == '') {
                            $.toast({
                                heading: 'Mã OTP đã được gửi vào số điện thoại ' + $('#Phone').val(),
                                text: data,
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                        } else {
                            $.toast({
                                heading: data,
                                text: data,
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                        }
                    });
                }
            });
        });
    </script>
}