﻿@model GCSOFT.MVC.STNHD.Models.UserInfoViewModel
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="row">
        <div class="col-lg-offset-2 col-md-offset-2 col-xs-12 col-sm-12 col-md-8 col-lg-8 mt-90">
            <div class="modify-w-form contact post">
                <h3 style="text-align: center;">
                    Ebook Kỹ Thuật Ghi Nhớ
                </h3>
                <p class="text-center">
                    Để nhận ebook kỹ thuật ghi nhớ, chọn <strong>Đăng ký</strong>, sau đó nhập đầy đủ thông tin nhấn <strong>Đăng ký</strong> để tạo tài khoản.
                    <br />
                    Sau khi đăng ký thành công, <strong>Đăng nhập</strong> tài khoản vừa đăng ký để xem ebook kỹ thuật ghi nhớ.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="tabpanel" role="tabpanel" style="margin-top: 10px !important">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active col-lg-6 col-md-6 col-xs-6 col-sm-6 text-center">
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                            <h3>Đăng Nhập</h3>
                            Đã là thành viên?
                        </a>
                    </li>
                    <li role="presentation" class="col-lg-6 col-md-6 col-xs-6 col-sm-6 text-center">
                        <a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">
                            <h3>Đăng Ký</h3>
                            Dành cho thành viên mới!
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        @Html.Partial("_login")
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab">
                        @Html.Partial("_registration", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="@Url.Content("~/Scripts/ValidationEngine/validationEngine.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine-vi.js")"></script>
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    @*<link href="@Url.Content("~/Scripts/alertbox/style.css")" rel="stylesheet" />
        <script src="@Url.Content("~/Scripts/alertbox/cutealert.js")"></script>*@
<script type="text/javascript">
        $(document).ready(function () {
            $('#btnCreateAccount').click(function () {

                $('.nav-tabs a[href="#tab"]').tab('show');
            });
            $('#Email').bind('keyup change', function () {
                $('#Email').val($.trim($(this).val()));
            });
            $('#Phone').bind('keyup change', function () {
                $('#Phone').val($.trim($(this).val()));
            });
            $('#frmRegistration').closest('form').find("input[type=text], textarea").change(function () {
                var value = $.trim($(this).val());
                $(this).val(value);
            });
            $('#CityId').change(function () {
                var provinceId = $(this).val();
                if (provinceId == '') {
                    provinceId = '0';
                }
                $.getJSON('@Url.Action("FetchDistricts", "AccountEbook")', { provinceId: provinceId }, function (response) {
                    var ddlDistrict = $('#DistrictId');
                    ddlDistrict.empty();
                    ddlDistrict.append($('<option></option>').text('[ Chọn quận huyện ]').val(''));
                    $.each(response, function (index, item) {
                        ddlDistrict.append($('<option></option>').text(item.name).val(item.id));
                    });
                });
            });
            $('[name="btnLogin"]').click(function () {
                if ($('[name="userName"]').val() == '') {
                    $.toast({
                        heading: 'STNHD Thông Báo',
                        text: 'Bạn chưa nhập Tên Đăng Nhập',
                        showHideTransition: 'slide',
                        icon: 'error',
                        position: 'top-center'
                    });
                }
                else if ($('[name="password"]').val() == '') {
                    $.toast({
                        heading: 'STNHD Thông Báo',
                        text: 'Bạn chưa nhập Mật Khẩu',
                        showHideTransition: 'slide',
                        icon: 'error',
                        position: 'top-center'
                    });
                } else {
                    $('[name="btnLogin"]').attr('disabled', 'disabled').text('Loading ...');
                    NProgress.start();
                    $('#frmLogin').ajaxSubmit(function (data) {
                        if (data.s == 'Oke') {
                            window.location.href = data.url;
                        } else {
                            $.toast({
                                heading: 'STNHD Thông Báo',
                                text: data.url,
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                            $('[name="btnLogin"]').removeAttr('disabled').text('Đăng Nhập');
                            NProgress.done();
                        }
                    });
                }
            });


            $('#btnRegistration2').click(function () {
                var msg = ValidUsername2($('#userName').val());
                if (msg != '') {
                    $.toast({
                        heading: 'STNHD Thông Báo',
                        text: msg,
                        showHideTransition: 'slide',
                        icon: 'error',
                        position: 'top-center',
                        hideAfter: 20000
                    });
                } else {
                    var objFrom = $('#frmRegistration');
                    var flag = objFrom.validationEngine('validate');
                    if (flag) {
                        NProgress.start();
                        objFrom.ajaxSubmit(function (data) {
                            if (data.s == 'oke') {
                                window.location.href = data.result;
                            } else {
                                $.toast({
                                    heading: 'STNHD Thông Báo',
                                    text: data.result,
                                    showHideTransition: 'slide',
                                    icon: 'error',
                                    position: 'top-center'
                                });
                                NProgress.done();
                            }
                        });
                    }
                }
            });
            $('#LoginuserName,#Loginpassword').keypress(function (e) {
                if (e.which == 13) {
                    $('[name="btnLogin"]').click();
                    return false;
                }
            });
            $('#btnSendOTP').click(function () {
                if ($('#Phone').val() == '') {
                    $.toast({
                        heading: 'STNHD Thông Báo',
                        text: 'Vui lòng nhập số điện thoại',
                        showHideTransition: 'slide',
                        icon: 'error',
                        position: 'top-center'
                    });
                } else {
                    $.post('@Url.Action("SendOTPRegister", "AccountEbook")', { p: $('#Phone').val() }, function (data) {
                        if (data == '') {
                            $.toast({
                                heading: 'Mã OTP đã được gửi vào số điện thoại ' + $('#Phone').val(),
                                text: data,
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                        } else {
                            $.toast({
                                heading: 'Thông báo',
                                text: data,
                                showHideTransition: 'slide',
                                icon: 'error',
                                position: 'top-center',
                                hideAfter: 20000
                            });
                        }
                    });
                }
            });
        });
    function ValidUsername(field, rules, i, options) {
        var regex = /^[a-zA-Z0-9_-]{3,15}$/;
        if (!regex.test(field.val())) {
            var msg = "Tên Đăng Nhập không hợp lệ";
            msg += "<BR/ >Tên Đăng Nhập có độ dài từ 3 - 15 ký tự";
            msg += "<BR/ >Gồm chữ số hoặc chữ cái từ [0-9] [a-z]";
            msg += "<BR/ >Không có khoảng trắng";
            msg += "<BR/ >Không chứa ký tự đặc biệt # $...";
            return msg;
        }
        }
        function ValidUsername2(value) {
            var regex = /^[a-zA-Z0-9_-]{3,15}$/;
            if (!regex.test(value)) {
                var msg = "Tên Đăng Nhập không hợp lệ";
                msg += "<BR/ >Tên Đăng Nhập có độ dài từ 3 - 15 ký tự";
                msg += "<BR/ >Gồm chữ số hoặc chữ cái từ [0-9] [a-z]";
                msg += "<BR/ >Không có khoảng trắng";
                msg += "<BR/ >Không chứa ký tự đặc biệt # $...";
                return msg;
            }
            return "";
        }
</script>
}