﻿@model GCSOFT.MVC.STNHD.Models.UserInfoViewModel
@{
    ViewBag.Title = "Đăng Ký - Siêu Trí Nhớ Học Đường";
}
<section class="page-title" data-parallax="scroll" data-image-src="@Url.Content("~/Content/img/page-headers/knowledge_bg.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Liên Hệ</h1>
            </div>
        </div>
    </div>
</section>
<section class="section-padding-100">
    <div class="container">
        <div class="contact">
            <div class="row">
                <div class="col-12 col-md-7 order-md-1 col-lg-8">
                    <!-- Get In Touch Form -->
                    @using (Html.BeginForm("Create", "Student", FormMethod.Post, new { @id = "frmRegistration", @autocomplete = "off" }))
                    {
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.fullName, new { @placeholder = "Họ và Tên", @class = "validate[required]" })
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.userName, new { @placeholder = "Tên Đăng Nhập", @class = "validate[required]" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Password, new { @placeholder = "Mật Khẩu", @class = "validate[required]" })
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.RePassword, new { @placeholder = "Nhập Lại Mật Khẩu", @class = "validate[required,equals[Password]]" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email", @class = "validate[required]" })
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Phone, new { @placeholder = "Điện Thoại", @class = "validate[required]" })
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Address, new { @placeholder = "Địa Chỉ", @class = "validate[required]" })
                        </div>

                        <button class="default-button" type="button" id="btnRegistration">Đăng Ký</button>
                    }
                    <!-- End Get In Touch Form -->
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <link href="@Url.Content("~/Scripts/ValidationEngine/validationEngine.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine-vi.js")"></script>
    <link href="@Url.Content("~/Scripts/alertbox/style.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/alertbox/cute-alert.js")"></script>
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnRegistration').click(function () {
                var msg = ValidUsername2($('#').val());
                var objFrom = $('#frmRegistration');
                var flag = objFrom.validationEngine('validate');
                if (flag) {
                    objFrom.ajaxSubmit(function (data) {
                        if (data == '') {
                            $('#btnRegistration').closest('form').find("input[type=text], textarea").val("");
                            cuteAlert({
                                type: "success",
                                title: "STNHD Thông Báo",
                                message: String.format("Chúc mừng bạn đã đăng ký thành công!<BR />Vui lòng kiểm tra email: <strong>{0}</strong> và nhấp vào link kích hoạt", $('#Email').val()),
                                buttonText: "OK"
                            });
                        } else {
                            var msg = '';
                            if (data == 'B1') {
                                msg = 'Mã giới thiệu không tồn tại (có thể do chưa đăng ký hoặc chưa mua khóa học)';
                            } else if (data == 'B3') {
                                msg = 'Tên đăng nhập đã tồn tại';
                            } else if (data == 'B5') {
                                msg = 'Mật khẩu xác nhận chưa giống mật khẩu đã nhập';
                            } else if (data == 'B6') {
                                msg = 'Email đã tồn tại';
                            } else if (data == '') {
                                msg = 'Số điện thoại đã tồn tại (Trước khi kiểm tra số điện thoại, loại bỏ ký tự không phải là số, khoảng trắng và số zero ở đầu)';
                            }
                            $.toast({
                                heading: 'STNHD Thông Báo',
                                text: msg,
                                showHideTransition: 'slide',
                                icon: 'warning',
                                position: 'top-center'
                            });
                        }
                        NProgress.done();
                    });
                    
                }
            });
        });
    </script>
}