﻿@model GCSOFT.MVC.STNHD.Models.UserInfoViewModel
@{
    ViewBag.Title = "Thay Đổi Mật Khẩu";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="modify-w-form">
                <h3>QUÊN MẬT KHẨU</h3>
                @using (Html.BeginForm("ResetPassword", "Student", FormMethod.Post, new { @id = "frmResetPassword", @autocomplete = "off", @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Tên đăng nhập</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.userName, new { @placeholder = "Nhập tên đăng nhập (*)", @class = "form-control validate[required,funcCall[ValidUsername[]]" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email", @class = "form-control validate[required,custom[email]]" })
                        </div>
                    </div>

                    <div class="text-center"><button type="button" id="btnResetPassword" class="btn btn-primary">Gửi Yêu Cầu</button></div>
                    <br />
                    <div class="text-center">
                        <a href="@Url.Action("Index","Student")">Đăng Nhập</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="@Url.Content("~/Scripts/ValidationEngine/validationEngine.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine-vi.js")"></script>
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnResetPassword').click(function () {
                var objFrom = $('#frmResetPassword');
                var flag = objFrom.validationEngine('validate');
                if (flag) {
                    $('[name="btnResetPassword"]').attr('disabled', 'disabled').text('Loading ...');
                    NProgress.start();
                    objFrom.ajaxSubmit(function (data) {
                        if (data.s == 'oke') {
                            $.toast({
                                heading: 'STNHD Thông Báo',
                                text: "Email đã được gửi, vui lòng kiểm tra hộp thư để cập nhật thông tin.",
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                        } else {
                            $.toast({
                                heading: 'STNHD Thông Báo',
                                text: data.result,
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                        }
                        NProgress.done();
                        $('[name="btnResetPassword"]').removeAttr('disabled').text('Gửi Yêu Cầu');
                    });
                }
            });
        });
        function ValidUsername(field, rules, i, options) {
            var regex = /^[a-zA-Z0-9_-]{3,15}$/;
            if (!regex.test(field.val())) {
                return "Tên Đăng Nhập không hợp lệ";
            }
        }
    </script>
}