﻿@model GCSOFT.MVC.Web.ViewModels.SystemViewModels.CategoryCard
@{
    ViewBag.Title = "Chi Tiết Công Việc";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    int stt = 0;
}
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
                <i class="md-icon material-icons md-card-fullscreen-activate">&#xE5D0;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content gc-padding-top-8">
            <!--Row 1-->
            <div class="uk-grid gc-margin-top-0px">
                <div class="uk-width-medium-1-2">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Code, new { @class = "gc-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 gc-margin-top-2px">
                        @Model.Code
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large" />
                </div>
                <div class="uk-width-medium-1-2">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Name, new { @class = "gc-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 gc-margin-top-2px">
                        @Model.Name
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large" />
                </div>
            </div>
            <div class="uk-grid gc-margin-top-0px uk-hidden-small">
                <div class="uk-width-medium-1-2">
                    <hr class="gc-grid-divider">
                </div>
                <div class="uk-width-medium-1-2">
                    <hr class="gc-grid-divider">
                </div>
            </div>
            <!-- Row 2 -->
            <div class="uk-grid gc-margin-top-0px">
                <div class="uk-width-medium-1-3">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.AreaName, new { @class = "gc-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 gc-margin-top-2px">
                        @Model.AreaName
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large" />
                </div>
                <div class="uk-width-medium-1-3">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.ControllerName, new { @class = "gc-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 gc-margin-top-2px">
                        @Model.ControllerName
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large" />
                </div>
                <div class="uk-width-medium-1-3">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.ActionName, new { @class = "gc-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 gc-margin-top-2px">
                        @Model.ActionName
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large" />
                </div>
            </div>
            <div class="uk-grid gc-margin-top-0px uk-hidden-small">
                <div class="uk-width-medium-1-3">
                    <hr class="gc-grid-divider">
                </div>
                <div class="uk-width-medium-1-3">
                    <hr class="gc-grid-divider">
                </div>
                <div class="uk-width-medium-1-3">
                    <hr class="gc-grid-divider">
                </div>
            </div>
            <!-- Row 3 -->
            <div class="uk-grid gc-margin-top-0px">
                <div class="uk-width-medium-1-2">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.ParentCode, new { @class = "gc-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 gc-margin-top-2px">
                        @Model.Link
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large" />
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.OnMenu, new { @class = "gc-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 gc-margin-top-2px">
                        @Html.CheckBoxFor(model => model.OnMenu, new Dictionary<string, Object>
                            {
                                {"data-md-icheck", ""}
                                , {"disabled", true}
                            })
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large" />
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Priority, new { @class = "gc-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 gc-margin-top-2px uk-text-right">
                        @string.Format("{0:#,##0}", Model.Priority)
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large" />
                </div>
            </div>
            <div class="uk-grid gc-margin-top-0px uk-hidden-small">
                <div class="uk-width-medium-1-2">
                    <hr class="gc-grid-divider">
                </div>
                <div class="uk-width-medium-1-4">
                    <hr class="gc-grid-divider">
                </div>
                <div class="uk-width-medium-1-4">
                    <hr class="gc-grid-divider">
                </div>
            </div>
            <!-- Row 4 -->
            <div class="uk-grid gc-margin-top-0px">
                <div class="uk-width-medium-1-1">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Description, new { @class = "gc-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 gc-margin-top-2px">
                        @Model.Description
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large" />
                </div>
            </div>
            <div class="uk-grid gc-margin-top-0px uk-hidden-small">
                <div class="uk-width-medium-1-1">
                    <hr class="gc-grid-divider">
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE896;</i>&nbsp;&nbsp;Vụ Việc
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-hover">
                    <thead>
                        <tr>
                            <th class="uk-width-1-10 uk-text-nowrap">STT</th>
                            <th class="uk-width-1-10 uk-text-nowrap">Mã Vụ Việc</th>
                            <th class="uk-width-3-10 uk-text-nowrap">Tên Vụ Việc</th>
                            <th class="uk-text-nowrap">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Functions)
                        {
                            <tr>
                                <td>@(++stt)</td>
                                <td>
                                    @item.Code
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td class="uk-text-right">
                                    @Html.CheckBoxFor(model => item.Check, new Dictionary<string, Object>
                                    {
                                        {"data-md-icheck", ""},
                                        {"disabled", true }
                                    })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <a id="btnReturn" href="@Url.Action("Index", "SysCategory", new { area = "administrator" })" class="md-fab md-fab-small md-fab-accent" title="Quay lại" data-uk-tooltip="{pos:'top'}"><i class="material-icons">&#xE31B;</i></a>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
    });
</script>