﻿@model GCSOFT.MVC.Web.Areas.MasterData.Data.VM_CategoryProduct
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.Name)
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "md-input" } })
                    @Html.HiddenFor(model => model.Id)
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.SortOrder)
                    @Html.EditorFor(model => model.SortOrder, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.Status)
                    @Html.CheckBoxFor(model => model.Status, new Dictionary<string, Object> { { "data-md-icheck", "" } })
                </div>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Benefit)
                    <br />
                    @Html.TextAreaFor(model => model.Benefit, new { @cols = "30", @rows = "3", @class = "md-input validate[required]" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Title_SEO)
                    @Html.EditorFor(model => model.Title_SEO, new { htmlAttributes = new { @class = "md-input" } })
                </div>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.KeyWord_SEO)
                    @Html.EditorFor(model => model.KeyWord_SEO, new { htmlAttributes = new { @class = "md-input" } })
                </div>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Description_SEO)
                    @Html.EditorFor(model => model.Description_SEO, new { htmlAttributes = new { @class = "md-input" } })
                </div>
            </div>
        </div>
	</div>
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a id="btnReturn" href="@Url.Action("Index", "CategoryProductController", new { area = "MasterData" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
            <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();

        CKEDITOR.replace('Benefit', { height: 300 });
        CKEDITOR.instances.Benefit.on('change', function () {
            $('[name="Benefit"]').val(CKEDITOR.instances.Content.getData());
        });

        CreateSuccess('@Url.Action("Create", "CategoryProductController", new { area = "MasterData" })');
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });
    });
</script>
