﻿<label class="col-sm-3 control-label">Bạn học lớp mấy ?</label>
<div class="col-sm-9">
    <select id="classId" name="classId" class="form-control" onchange="CheckUpdate()">
        <option value="">[ Chọn ]</option>
        <option value="4">Lớp 1</option>
        <option value="5">Lớp 2</option>
        <option value="6">Lớp 3</option>
        <option value="7">Lớp 4</option>
        <option value="8">Lớp 5</option>
    </select>
</div>