﻿@using GCSOFT.MVC.STNHD.Resource
<div class="modify-w-form">
    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @id = "frmLogin", @class = "sign__form form-horizontal", @autocomplete = "off" }))
    {
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">@stnhd.LogInID</label>
            <div class="col-sm-9">
                <input id="LoginuserName" type="text" class="form-control" name="userName" placeholder="@stnhd.InsertID (*)">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">@stnhd.Password</label>
            <div class="col-sm-9">
                <input id="Loginpassword" type="password" class="form-control" name="password" placeholder="@stnhd.InsertPassword">
                <input id="returnUrl" name="returnUrl" type="hidden" value="@ViewBag.returnUrl" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 text-center">
                <a href="@Url.Action("ForgetUsername","Student")">@stnhd.ForgetID</a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="@Url.Action("ResetPassword","Student")">@stnhd.ForgetPassword</a>
            </div>
            <div class="col-sm-4 text-center">
                <a id="btnCreateAccount" href="javascript:void(0);">@stnhd.CreateAnAccount</a>
            </div>
        </div>
        <div class="text-center"><button name="btnLogin" id="btnLogin" type="button" class="btn btn-primary">@stnhd.LogIn</button></div>
    }
</div>