﻿@model GCSOFT.MVC.STNHD.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Quên Tên Đăng Nhập";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="modify-w-form">
                <h3>QUÊN TÊN ĐĂNG NHẬP</h3>
                @using (Html.BeginForm("forgetusername", "Student", FormMethod.Post, new { @id = "frmForgetusername", @autocomplete = "off", @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        <div class="col-sm-12">
                            @Html.TextBoxFor(model => model.VerifyInfo, new { @placeholder = "Nhập Email hoặc Số Điện Thoại (*)", @class = "form-control validate[required]" })
                        </div>
                    </div>
                    <div class="text-center"><button type="button" id="btnResetUsername" class="btn btn-primary">Gửi Lại Tên Đăng Nhập</button></div>
                    <br />
                    <div class="text-center">
                        <a href="@Url.Action("Index","Student")">Đăng Nhập</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="@Url.Content("~/Scripts/ValidationEngine/validationEngine.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine-vi.js")"></script>
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnResetUsername').click(function () {
                var objFrom = $('#frmForgetusername');
                var flag = objFrom.validationEngine('validate');
                if (flag) {
                    $('[name="btnResetUsername"]').attr('disabled', 'disabled').text('Loading ...');
                    NProgress.start();
                    objFrom.ajaxSubmit(function (data) {
                        if (data.s == 'oke') {
                            $.toast({
                                heading: 'STNHD Thông Báo',
                                text: "Tên đăng nhập đã được gửi.",
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                        } else {
                            $.toast({
                                heading: 'STNHD Thông Báo',
                                text: data.result,
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                        }
                        NProgress.done();
                        $('[name="btnResetUsername"]').removeAttr('disabled').text('Gửi Lại Tên Đăng Nhập');
                    });
                }
            });
        });
    </script>
}