﻿@model GCSOFT.MVC.STNHD.Models.UserInfoViewModel
@{
    ViewBag.Title = "Thông Tin Cá Nhân";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="modify-w-form">
                <h3>THÔNG TIN CÁ NHÂN</h3>
                @if (string.IsNullOrEmpty(Model.userName))
                {
                    <p class="text-center">Siêu Trí Nhớ Học Đường Thông Báo</p>
                    <p class="text-center">
                        Vui lòng đăng nhập trước khi thay đổi Thông Tin Cá Nhân
                    </p>
                }
                else
                {
                    using (Html.BeginForm("UserInfo", "Student", FormMethod.Post, new { @id = "frmUserInfo", @autocomplete = "off", @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Tên đăng nhập</label>
                            <div class="col-sm-9">
                                @Html.HiddenFor(model => model.Id)
                                @Html.TextBoxFor(model => model.userName, new { @placeholder = "Nhập tên đăng nhập (*)", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Họ và Tên</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.fullName, new { @placeholder = "Nhập họ và tên của bạn", @class = "form-control validate[required]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Điện Thoại</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.Phone, new { @placeholder = "Nhập số điện thoại", @class = "form-control  validate[required]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.Email, new { @placeholder = "Nhập email", @class = "form-control validate[required]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Địa Chỉ</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.Address, new { @placeholder = "Nhập địa chỉ của bạn", @class = "form-control validate[required]" })
                            </div>
                        </div>
                        <input value="@Model.LevelCode" id="LevelCode" name="LevelCode" hidden />
                        <div id="levelInfo" class="form-group" accesskey="0" activeCode="" @*style="display: none;"*@>
                            <label for="inputEmail3" class="col-sm-3 control-label">Bạn học cấp mấy ?</label>
                            <div class="col-sm-9">
                                <select id="levelName" class="form-control">
                                    <option value="">[ Chọn ]</option>
                                    <option value="cap1">Cấp 1</option>
                                    <option value="cap2">Cấp 2</option>
                                    <option value="cap3">Cấp 3</option>
                                </select>

                            </div>
                        </div>
                        <div id="classInfo" class="form-group" accesskey="0">

                        </div>
                        <div class="text-center"><button type="button" id="btnChangeInfo" class="btn btn-primary">Thay Đổi</button></div>
                    }
                }
            </div>
                    </div>
    </div>
</div>
@section scripts{
    <link href="@Url.Content("~/Scripts/ValidationEngine/validationEngine.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine-vi.js")"></script>
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <script type="text/javascript">
        var isLoad = false;
        $(document).ready(function () {



            $('#btnChangeInfo').click(function () {
                CheckUpdate();
                @*if ('@Model.IsUpdateLevelCode300' == 'True') {
                    $.toast({
                        heading: 'Thông Báo',
                        text: 'Chỉ được phép thay đổi 1 lần!',
                        showHideTransition: 'slide',
                        icon: 'error',
                        position: 'top-center'
                    });

                    return;
                }*@

                var objFrom = $('#frmUserInfo');
                var flag = objFrom.validationEngine('validate');
                if (flag) {
                    $('[name="btnChangeInfo"]').attr('disabled', 'disabled').text('Loading ...');
                    NProgress.start();
                    objFrom.ajaxSubmit(function (data) {
                        if (data.s == 'oke') {
                            $.toast({
                                heading: 'STNHD Thông Báo',
                                text: "Thông tin của bạn đã được thay đổi, vui lòng thoát ra vào lại để lấy lại thông tin mới.",
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                            $('#Password,#RePassword').val('');
                        } else {
                            $.toast({
                                heading: 'STNHD Thông Báo',
                                text: data.result,
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                        }
                        NProgress.done();
                        $('[name="btnChangeInfo"]').removeAttr('disabled').text('Thay Đổi');
                    });
                }
            });



            SetVaule();
            // Combo cấp change
            $('#levelName').change(function () {
                ChangeCombo();
            });
            isLoad = true;
        });


        function SetVaule() {

            if (@Model.ClassId <= 8) {
                $('#levelName  option[value=cap1]').attr('selected', 'selected');
            }
            // Cấp 2
            else if (@Model.ClassId <= 15) {
                $('#levelName  option[value=cap2]').attr('selected', 'selected');
            }
            // Cấp 3
            else if (@Model.ClassId <= 18) {
                $('#levelName  option[value=cap3]').attr('selected', 'selected');
            }
            ChangeCombo();
            if (@Model.LevelCode == 200)
                $("#levelName").attr('disabled', 'disabled');

        };

        function ChangeCombo() {
            CheckUpdate();
            var levelCode = $('#levelName').val();
            $('#classInfo').load('@Url.Action("LoadClassByLevel", "Student")', { lvCode: levelCode }, function () {
                    $('#classId  option[value=@Model.ClassId]').attr('selected', 'selected');
                });
        }

         function CheckUpdate() {
            var levelCode = $('#LevelCode').val();
             if (levelCode == 300 && isLoad && '@Model.IsUpdateLevelCode300' == 'True') {
                $.toast({
                    heading: 'STNHD Thông Báo',
                    text: 'Chỉ được phép thay đổi 1 lần!',
                    showHideTransition: 'slide',
                    icon: 'error',
                    position: 'top-center'
                });
                if (@Model.ClassId <= 8) {
                    $('#levelName').val("cap1");
                }
                // Cấp 2
                else if (@Model.ClassId <= 15) {
                    $('#levelName').val("cap2");
                }
                // Cấp 3
                else if (@Model.ClassId <= 18) {
                    $('#levelName').val("cap3");
                }
                $('#classId').val("@Model.ClassId");

                return;
            }
         }

    </script>
}