﻿@model GCSOFT.MVC.Web.ViewModels.SystemViewModels.NhomUserCard
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Code)
                    @Html.TextBoxFor(model => model.Code, new Dictionary<string, Object>
                            {
                                {"class","md-input validate[required] UpperCase"},
                                {"xCode", Model.Code}
                            })
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Name)
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "md-input" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Description)
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "md-input" } })
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_CardLine", Model.UserOfGroups)
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a id="btnReturn" href="@Url.Action("Index", "SysUserGroup", new { area = "administrator" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
            <a href="javascript:void(0)" id="btnSave" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Create", "SysUserGroup", new { area = "administrator" })');
        $('#btnSave').click(function () {
            $.post('@Url.Action("CandAdd", "SysUserGroup", new { area = "administrator" })', { c: $('#Code').val(), xc: $('#Code').attr('xCode') }, function (data) {
                if (data) {
                    $().toastmessage('showToast', {
                        text: 'Mã nhóm đã tồn tại',
                        sticky: false,
                        position: 'top-center',
                        type: 'warning'
                    });
                } else {
                    Save($("#frm"), true);
                }
            });
        });

        $('#Code').change(function () {
            var code = $(this).val();
            if (code == '')
                return;
            $.post('@Url.Action("CandAdd", "SysUserGroup", new { area = "administrator" })', { c: $('#Code').val(), xc: $('#Code').attr('xCode') }, function (data) {
                if (data) {
                    $().toastmessage('showToast', {
                        text: 'Mã nhóm đã tồn tại',
                        sticky: false,
                        position: 'top-center',
                        type: 'warning'
                    });
                }
            });
        });
    });
</script>