/* box-comments */
.comments-in a {
    text-decoration: none;
}

.count-comments span {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
    margin: 10px;
}

.action-comments {
    text-align: center;
    border-top: 1px solid rgb(33 33 33 / 0.2);
    border-bottom: 1px solid rgb(33 33 33 / 0.2);
    padding: 10px  0px;
    margin-top: 10px;
}

.action-comments a {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #00A1E0;
    letter-spacing: -0.165px;
    line-height: 30px;
}

.action-comments i {
    font-size: 20px;
    margin-right: 4px;
}

.box-comments {
    padding: 10px 0px;
}

.box-comments-full .left {
    border-radius: 50%;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
    width: 40px;
}


.box-comments-full > div {
    float: left;
    display: inline-block;
}

.box-comments-row-inner {
    margin-top: 10px;
}

.box-comments-row-inner p {
    display: inline-block;
    float: left;
    margin-bottom: 0px;
}

    .box-comments-row-inner .img img {
        border-radius: 50%;
        margin-right: 10px;
        margin-top: 1px;
        cursor: pointer;
        width: 40px;
    }

.bg-txt {
    background: #EEEEEE;
    border-radius: 8px;
    padding: 0px 10px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 0px;
    padding: 10px 10px;
    display: inline-block;
    /* line-height: 22px; */
}

.clear-both {
    clear: both;
}

.date-comments {
    margin: 0px;
    margin-top: 5px;
}

    .date-comments span {
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: #999999;
        margin-right: 20px;
    }

.see-more-comments p {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #00A1E0;
    margin-top: 10px;
    opacity: 0.8;
    margin-bottom: 0px;
    cursor: pointer;
}

/* input-comments */

.input-comments {
    margin-top: 10px;
    margin-bottom: 10px;
}

    .input-comments .left {
        width: 35px;
        float: left;
        margin-right: 10px;
    }

    .input-comments .left img {
        margin: 0px 10px 0px 0px;
        cursor: pointer;
        max-width: 100%;
        max-height: 100%;
    }

    .input-comments .right input {
        /*background: #EEEEEE;*/
        border-radius: 8px;
    }

    .input-comments .right {
        width: calc(100% - 46px);
        float: left;
        position: relative;
    }

        .input-comments .right i {
            position: absolute;
            top: 7px;
            right: 11px;
            font-size: 21px;
            color: #00A1E0;
            cursor: pointer;
        }
    .input-comments .picture {
        right: 45px !important;
    }
.date-comments-sub {
    margin-left: 54px;
}