﻿.line {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.payment-content {
    margin-top: 8px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

.atms {
    list-style: none;
    margin: 0px 0px 0px 32px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-height: 0px;
    transition: max-height 0.15s ease-out 0s;
    overflow: hidden;
}

.atms--open {
    border: 0.5px solid rgb(199, 199, 199);
    padding: 15px;
    max-height: 1000px;
    transition: max-height 0.25s ease-in 0s;
}

.atms .atm {
    border: 1px dashed rgb(204, 204, 204);
    padding: 5px;
    border-radius: 3px;
    height: 65px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

    .atms .atm:hover {
        border-color: rgb(255, 66, 78);
        cursor: pointer;
    }

.atms .atm--active {
    border: 1px solid rgb(255, 66, 78);
    position: relative;
}

    .atms .atm--active::after {
        content: "";
        width: 25px;
        height: 25px;
        background: rgb(255, 66, 78);
        border-radius: 50%;
        position: absolute;
        right: -10px;
        top: -15px;
        z-index: 1;
    }

.atms .atm svg {
    display: none;
}

.atms .atm--active svg {
    display: block;
    position: absolute;
    right: -8px;
    top: -12px;
    z-index: 2;
    color: rgb(255, 255, 255);
}

.atms .atm img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
    .atms {
        grid-template-columns: repeat(4, 1fr);
    }
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
    .atms {
        grid-template-columns: repeat(4, 1fr);
    }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
    .atms {
        grid-template-columns: repeat(2, 1fr);
    }
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {
    .atms {
        grid-template-columns: repeat(2, 1fr);
    }
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {
    .atms {
        grid-template-columns: repeat(2, 1fr);
    }
}

.form-login {
    padding: 1em;
    min-width: 280px;
}
.ask-you input {
    margin-bottom: 15px;
    margin-right: 5px;
}
.payment-content-2 {
    margin-top: 0px;
    margin-bottom: 8px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}
