﻿.btn-ttl {
    background: transparent;
    border: 1px solid #0094E7;
    color: #0094E7;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 17px;
    transition: 0.5s;
}

    .btn-ttl:hover {
        background-color: #0094E7;
        color: white;
    }
