﻿@model GCSOFT.MVC.STNHD.Models.HomeViewModel
@using GCSOFT.MVC.STNHD.Resource
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn @Model.UserInfo.fullName</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="your-class mt">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h3 class="h-title">@stnhd.Textbooklectures</h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                <div class="list-btn">
                    @foreach (var item in Model.StudentClasses)
                    {
                        <div>
                            <a id="class@(item.ClassId)" name="classInfo" accesskey="@item.ClassId" class="btn-class @(item.IsActive ? "btn-active-class" : "")" href="javascript:void(0);">@item.ClassName</a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row box-class" id="loadCourse">
            @foreach (var course in Model.Courses)
            {
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="box-class-inner">
                        <a href="@Url.Action("Book", "Videos", new { id = course.Id })">
                            <div><img src="@course.Avatar" class="max-w-100" alt=""></div>
                            <p class="text-center">@course.Title</p>
                        </a>
                        @*<a href="@Url.Action("Book", "Videos", new { id = course.Id })?lang=vi-VN" name="videos"><img id="flag-logo-main" src="https://firebasestorage.googleapis.com/v0/b/tamtriluc-1a443.appspot.com/o/STNHD%2Fvietnam.png?alt=media&token=e86289a1-4070-4911-8e83-019f5c3383b6" alt=""></a>
                        <a href="@Url.Action("Book", "Videos", new { id = course.Id })?lang=en-US" name="videos"><img id="flag-logo-main" src="https://firebasestorage.googleapis.com/v0/b/tamtriluc-1a443.appspot.com/o/STNHD%2FEnglist.png?alt=media&token=14df94a4-16d8-4204-b833-e7485b91abe2" alt=""></a>*@
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('[name="classInfo"]').click(function () {
                var id = $(this).attr('accesskey');
                NProgress.start();
                $('#loadCourse').load('@Url.Action("LoadVideosCourse", "Videos")', { c: id }, function () {
                    $('[name="classInfo"]').removeClass('btn-active-class');
                    $(String.format('#class{0}', id)).addClass('btn-active-class');
                    $('html,body').animate({
                        scrollTop: $("#loadCourse").offset().top
                    }, 'slow');
                    NProgress.done();
                });
            });
        });
    </script>
}