﻿@{ 
    Layout = null;
    var url = Request.QueryString["url"];
    if (string.IsNullOrEmpty(url)) {
        url = ViewBag.Url;
    }
}
<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
 <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    @*<link rel="icon" type="image/png" href="@Url.Content("~/Content/cms/images/favicon-16x16.png")" sizes="16x16">*@

    <title>ĐĂNG NHẬP HỆ THỐNG</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>

    @Styles.Render("~/login/css")
</head>
<body class="login_page">

    <div class="login_page_wrapper">
        <div class="md-card" id="login_card">
            <div class="md-card-content large-padding" id="login_form">
                <div class="login_heading">
                    <div class="user_avatar"></div>
                </div>
                @using (Html.BeginForm("Logon", "Lgoin", FormMethod.Post, new { @id = "frm", area = "Administrator" }))
                {
                    <div class="uk-form-row">
                        <label for="login_username">Username</label>
                        <input class="md-input validate[required]" type="text" id="login_username" name="u" />
                    </div>
                    <div class="uk-form-row">
                        <label for="login_password">Password</label>
                        <input class="md-input validate[required]" type="password" id="login_password" name="p" />
                    </div>
                    <div class="uk-margin-medium-top">
                        <a id="btnLogon" href="javascript:void(0);" class="md-btn md-btn-primary md-btn-block md-btn-large">Đăng Nhập</a>
                    </div>
                    <input type="hidden" name="url" value="@url" />
                }
            </div>
        </div>
    </div>
    @Scripts.Render("~/login/js")
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@ViewBag.InValid' == '1') {
                $().toastmessage('showWarningToast', 'Username hoặc Mật Khẩu không đúng !!!');
            }
            $('#btnLogon').click(function () {
                var flag = $('#frm').validationEngine('validate');
                if (flag) {
                    var F = document.forms[0];
                    F.action = '@Url.Action("Index", "Login", new { area = "Administrator" })';
                    F.submit();
                }
            });
            $('#login_username,#login_password').keypress(function (e) {
                if (e.which == 13) {
                    $('#btnLogon').click();
                    return false;
                }
            });
            if ($.urlParam('msg') == '2') {
                $().toastmessage('showToast', {
                    text: "Cập nhật mật khẩu thành công",
                    sticky: false,
                    position: 'top-center',
                    type: 'success'
                });
            }
        });
        $.urlParam = function (name) {
            var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return '';
            } else {
                return results[1] || 0;
            }
        }
    </script>
</body>
</html>