﻿@model GCSOFT.MVC.STNHD.Models.HomeViewModel
@using GCSOFT.MVC.STNHD.Resource
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
@section banner{
    <link href="@Url.Content("~/Content/Banner.css")" rel="stylesheet" />
    <div class="banner">
        <div>
            <a href="https://sieutrinhohocduong.com/stnhd/book" target="_blank">
                <img src="https://tamtriluc.com/wp-content/uploads/2021/07/tang-sach-TTL_1920x780-scaled.jpg" alt="Tặng Sách Siêu Trí Nhớ">
            </a>
        </div>
        <div>
            <img src="https://tamtriluc.com/wp-content/uploads/2021/07/TTL-5PTB-c%C3%B9ng-STNHD-26.07-30.7_1920x780Website-copy-scaled.jpg" alt="Thời khóa biểu">
        </div>
        <div>
            <a href="https://tamtriluc.com/se-chia-co-hoi-thu-nhap-nhan-doi-cung-tam-tri-luc/" target="_blank">
                <img src="https://tamtriluc.com/wp-content/uploads/2021/05/z2511639556619_b44854c1dc165f31c9c6756eb6d20905.jpg" alt="Cơ hộ nhận thêm 10 - 30 triệu ">
            </a>
        </div>
    </div>
}
<link href="@Url.Content("~/Content/teacheridx.css")" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h3 class="h-title" style="line-height: 35px; margin-bottom: 50px; font-size: 23px; margin-top: 40px;">@Html.Raw(stnhd.INTRODUCTIONTOSUPERMEMORY)</h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="video">
                <div class="embed-responsive embed-responsive-17by9">
                    @*<video autoplay="autoplay" controls muted poster="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/FrameSTNHD.jpg?alt=media&token=7384f3f6-bf79-4bee-a5b0-66117545e59d">
                            <source src="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/Videos%2FTRAILER_STNHD%20FOR%20WEB%20(1).mp4?alt=media&token=da2f8f0c-aab7-4388-aba2-ff5a92b51f42" type="video/mp4">
                        </video>*@
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dfDBTliFheI?autoplay=1&mute=1" allowfullscreen></iframe>
                </div>
                <h4>@stnhd.IntroductionToTheOnlineCourse</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="video">
                <div class="embed-responsive embed-responsive-17by9">
                    @*<video controls poster="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/FrameSTNHD.jpg?alt=media&token=7384f3f6-bf79-4bee-a5b0-66117545e59d">
                            <source src="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/Videos%2FSieu%20Tri%20Tue%20Mua%202%20-%20Trong%20Tri.mp4?alt=media&token=46d5456f-687d-4307-b928-fd63823e521e" type="video/mp4">
                        </video>*@
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gBozrdGrHGs" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <h4>@stnhd.WorldMemoryRecordHolder</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="margin-top: 30px;">
            <h3 class="h-title" style="line-height: 35px; margin-bottom: 50px; font-size: 23px; margin-top: 45px; ">@Html.Raw(stnhd.WHATCOMMUNITYANDEXPERTS)</h3>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="video">
                <div class="embed-responsive embed-responsive-17by9">
                    @*<video controls poster="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/FrameSTNHD.jpg?alt=media&token=7384f3f6-bf79-4bee-a5b0-66117545e59d">
                        <source src="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/Videos%2FChuyenGiaTrongVaNgoaiNuoc.mp4?alt=media&token=f1543309-f223-41b5-8ca0-7163b64b5273" type="video/mp4">
                    </video>*@
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZGBFBHoBnF8" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <h4>@stnhd.WhatDomesticAndInternationalExperts</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="video">
                <div class="embed-responsive embed-responsive-17by9">
                    @*<video controls poster="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/FrameSTNHD.jpg?alt=media&token=7384f3f6-bf79-4bee-a5b0-66117545e59d">
                        <source src="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/Videos%2FPHONG%20VAN%20GV%20PH%20HS%20STNHD%202021.mp4?alt=media&token=bbc3558f-70a5-4472-a47f-db57ab5def86" type="video/mp4">
                    </video>*@
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7BgdLV5k9Rk" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <h4>@stnhd.WhatCommunityOfParents</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="video">
                <div class="embed-responsive embed-responsive-17by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9RrFQxFe8nw" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <h4>@stnhd.VTVTalkAbout</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="margin-top: 30px;">
            <h3 class="h-title" style="line-height: 35px; margin-bottom: 50px; font-size: 23px; margin-top: 45px; ">@Html.Raw(stnhd.PaperSTNHD)</h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="video">
                <div class="embed-responsive embed-responsive-17by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tbe84V1tAhc" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <h4>@stnhd.VTV1</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="video">
                <div class="embed-responsive embed-responsive-17by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1s5DZ8YRIYo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <h4>@stnhd.VTVEN_VI</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-center"><h3 class="h-bhl" style="margin-top: 80px;">@Html.Raw(stnhd.CONSULTING_COMMITTEE)</h3></div>
        </div>
    </div>
    @foreach (var item in Model.Supporters.Where(d => d.SortOrder >= 10000))
    {
        <div class="@(item.NoOfColumn == 3 ? "teacher" : "wit") mt @(string.IsNullOrEmpty(item.Name) ? "mt-60" : "")" style="margin-top: 20px !important;">
            @if (!string.IsNullOrEmpty(item.Name))
            {
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="text-center"><h3 class="h-title">@item.Name</h3></div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="autoplay slider" name="autoplay" id="autoplay@(item.Id)" accesskey="@item.Id" noofcolumn="@(item.NoOfColumn)">
                        @foreach (var itemSupporter in Model.FileResources.Where(d => d.ReferId == item.Id))
                        {
                            <div class="box-general">
                                <img src="@itemSupporter.Title3" class="max-w-100" alt="" style="border-radius: 8px;">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    @*<div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="text-center"><h3 class="h-bhl">Ban Huấn Luyện</h3></div>
            </div>
        </div>*@
    @foreach (var item in Model.Supporters.Where(d => d.SortOrder < 10000))
    {
        <div class="@(item.NoOfColumn == 3 ? "teacher" : "wit") mt @(string.IsNullOrEmpty(item.Name) ? "mt-60" : "")">
            @if (!string.IsNullOrEmpty(item.Name))
            {
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="text-center"><h3 class="h-title" style="margin-bottom: 20px;">@item.Name</h3></div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="autoplay slider" name="autoplay" id="autoplay@(item.Id)" accesskey="@item.Id" noofcolumn="@(item.NoOfColumn)">
                        @foreach (var itemSupporter in Model.FileResources.Where(d => d.ReferId == item.Id))
                        {
                            <div class="box-general">
                                <img src="@itemSupporter.Title3" class="max-w-100" alt="" style="border-radius: 8px;">
                                @if (!string.IsNullOrEmpty(itemSupporter.Title))
                                {
                                    <div class="box-general-txt blue-bg">
                                        <div>
                                            <h4 style="font-size: 12px; margin-bottom: 2px;">@itemSupporter.Title</h4>
                                            <p>
                                                @itemSupporter.Title2
                                                @if (!string.IsNullOrEmpty(itemSupporter.Title4))
                                                {
                                                    <br />@itemSupporter.Title4
                                                }
                                            </p>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            @if (item.SortOrder == 280)
            {
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="text-center">
                            <a href="@Url.Action("Index", "Teacher")" class="btn btn-ttl" style="padding-left: 50px; padding-right: 50px; margin-top: 30px; font-weight: bold; ">
                                @stnhd.ViewAllTeachers
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h3 class="h-title" style="line-height: 35px; margin-bottom: 50px; font-size: 24px; margin-top: 60px;">@Html.Raw(stnhd.ERTIFICATESFROMVIETNAMBOOK)</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="autoplay2 slider" name="autoplay2" id="autoplay2">
                <div class="box-general">
                    <img style="border-radius: 10px" src="https://sieutrinhohocduong.com/files/KyLuc/chungnhan.jpg" class="max-w-100" alt="">
                </div>
                <div class="box-general">
                    <img style="border-radius: 10px" src="https://sieutrinhohocduong.com/files/KyLuc/chungnhan2.jpg" class="max-w-100" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popup_qc">
    <a href="https://sieutrinhohocduong.com/NamPhutThuocBai" title="" target="">
        <img width="1600" height="962" src="https://tamtriluc.com/wp-content/uploads/2021/07/viber_image_2021-07-16_14-58-34-084.jpg" class="" alt="" srcset="https://tamtriluc.com/wp-content/uploads/2021/07/viber_image_2021-07-16_14-58-34-084.jpg 1600w, https://tamtriluc.com/wp-content/uploads/2021/07/viber_image_2021-07-16_14-58-34-084-300x180.jpg 300w, https://tamtriluc.com/wp-content/uploads/2021/07/viber_image_2021-07-16_14-58-34-084-1024x616.jpg 1024w, https://tamtriluc.com/wp-content/uploads/2021/07/viber_image_2021-07-16_14-58-34-084-768x462.jpg 768w, https://tamtriluc.com/wp-content/uploads/2021/07/viber_image_2021-07-16_14-58-34-084-1536x924.jpg 1536w" sizes="(max-width: 1600px) 100vw, 1600px">
    </a>
    <div class="close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23 20.168l-8.185-8.187 8.185-8.174-2.832-2.807-8.182 8.179-8.176-8.179-2.81 2.81 8.186 8.196-8.186 8.184 2.81 2.81 8.203-8.192 8.18 8.192z"></path></svg>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function close_popup() {
            $('.close').click(function () {
                $('.popup_qc').addClass('hide');
            });
        }
        $(document).ready(function () {
            close_popup();
            $('.banner').slick({
                dots: false,
                infinite: true,
                autoplay: true,
                speed: 300,
                slidesToShow: 1,
                adaptiveHeight: false
            });
            $('[name="classInfo"]').click(function () {
                var id = $(this).attr('accesskey');
                NProgress.start();
                $('#loadCourse').load('@Url.Action("LoadCourse", "Home")', { c: id }, function () {
                    $('[name="classInfo"]').removeClass('btn-active-class');
                    $(String.format('#class{0}', id)).addClass('btn-active-class');
                    NProgress.done();
                    $('html,body').animate({
                        scrollTop: $("#loadCourse").offset().top
                    }, 'slow');
                });
            });
            $('.autoplay2').slick({
                slidesToShow: 2,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                responsive: [
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
            });
            $('[name="autoplay"]').each(function () {
                var id = $(this).attr('accesskey');
                var noOfColumn = $(this).attr('noofcolumn');
                var objAutolay = String.format('#autoplay{0}', id);
                $(objAutolay).slick({
                    slidesToShow: noOfColumn,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 2000,
                    responsive: [
                        {
                            breakpoint: 992,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                infinite: true,
                                dots: true
                            }
                        },
                        {
                            breakpoint: 768,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2
                            }
                        }
                    ]
                });
            });

        });
    </script>
}