﻿@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <img class="brochure" src="@Url.Content("~/Files/Brochure/Brochure.jpg")" />
        </div>
    </div>
</div>