﻿
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt divcenter">
            <h2>Giáo Trình Online Phiên Bản 1.0</h2>
            <p>Nội dung giáo trình được cập nhật và phát triển liên tục.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <iframe style="width:100%;height:800px" src="https://online.fliphtml5.com/kksyd/puqj/" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>

        </div>
    </div>
</div>
<!--<div class="container">
    <div class="jumbotron">
        <div class="txt divcenter">
            <h2>Giáo Trình Online Phiên Bản 1.0</h2>
            <p>Nội dung giáo trình được cập nhật và phát triển liên tục.</p>
        </div>
    </div>
    <div class="row">
        <div id="ebook" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 solid-container">

        </div>
    </div>
</div>
@section scripts{
    <script src="@Url.Content("~/Scripts/3dflipbook/js/html2canvas.js")"></script>
    <script src="@Url.Content("~/Scripts/3dflipbook/js/three.js")"></script>
    <script src="@Url.Content("~/Scripts/3dflipbook/js/pdf.js")"></script>
    <script src="@Url.Content("~/Scripts/3dflipbook/js/3dflipbookmin.js")"></script>
    <!-- To create 3D FlipBook from PDF -->
    <!--<script type="text/javascript">-->
        @*$('.solid-container').FlipBook({ pdf: '@Url.Content("~/stnhd/EBOOK_STNHD_ver1.pdf")' });*@
        <!--$('#ebook').FlipBook({
            pdf: '@Url.Content("~/stnhd/EBOOK_STNHD_ver1.pdf")',
            propertiesCallback: function (props) {
                props.page.depth *= 0.7;
                props.cover.padding = 0.002;
                return props;
            },
            singlePage: true-->
            @*,
            controlsProps: {
                downloadURL: '@Url.Content("~/stnhd/EBOOK_STNHD_ver1.pdf")'
            }*@
        });
    </script>
}-->