﻿
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt divcenter">
            <h2>Giáo Trình Online Phiên Bản 1.0</h2>
            <p>Nội dung giáo trình được cập nhật và phát triển liên tục.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <iframe style="width:100%;height:800px" src="https://online.fliphtml5.com/kksyd/puqj/" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>

        </div>
    </div>
</div>