﻿@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    @*<div class="jumbotron">
        <div class="txt">
            <h2>Giới Thiệu Siêu Trí Nhớ Học Đường</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>*@
    <div class="row">
        @*<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 mt-90">*@
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 mt-90">
            <div class="modify-w-form contact post">
                @*<img class="brochure" src="@Url.Content("~/Files/Brochure/Brochure.png")" />*@
                <img class="brochure" src="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/Brochure.png?alt=media&token=2a69f96b-3a2d-4ca3-a0d0-9f256c7e37df" />
            </div>
        </div>
    </div>
</div>