﻿@model GCSOFT.MVC.STNHD.Models.PageViewModels.SocialViewModel
@using GCSOFT.MVC.Model.MasterData
@foreach (var item in Model.Socials)
{
    <div class="post">
        <div class="post-top">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="@Url.Content("~/Content/images/icon-img.png")" alt="Image">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">@item.fullName</h4>
                    <p>@string.Format("{0:dd/MM/yyyy}", item.DateQuestion)</p>
                </div>
            </div>
            <h4>@Html.Raw(item.Question)</h4>
            <p class="txt">@Html.Raw(item.Answer)</p>
        </div>
        <div class="clear-both"></div>
    </div>
    <div class="clear-both"></div>
}