﻿@model GCSOFT.MVC.STNHD.Models.PageViewModels.SocialViewModel
@using GCSOFT.MVC.Model.MasterData
@foreach (var item in Model.MyQuestions)
{
    <div class="post">
        <div class="post-top">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="@Url.Content("~/Content/images/icon-img.png")" alt="Image">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">@item.fullName</h4>
                    <p>@string.Format("{0:dd/MM/yyyy}", item.DateQuestion)</p>
                </div>
            </div>
            <h4>@Html.Raw(item.Question)</h4>
            <p class="txt">@Html.Raw(item.Answer)</p>
            <div class="text-left post-btn"><a class="" href="javascript:void(0);">@item.StatusName</a></div>
        </div>
        @*<div class="comments-in">
                <div class="count-comments">
                    <span><i class="fa fa-heart-o" aria-hidden="true"></i> 0</span>
                    <span>Chưa có thảo luận</span>
                    <span>Chưa có chia sẻ</span>
                </div>
                <div class="action-comments">
                    <div class="row">
                        <div class="col-lg-1 col-xs-6 col-sm-2 col-md-1">
                            <a href="javascript:void(0);"><i class="fa fa-heart-o" aria-hidden="true"></i> Yêu thích</a>
                        </div>
                        <div class="col-lg-2 col-xs-6 col-sm-3 col-md-2">
                            <a href="javascript:void(0);"><i class="fa fa-comment-o" aria-hidden="true"></i>Thảo luận</a>
                        </div>
                        <div class="col-lg-2 col-xs-6 col-sm-3 col-md-2">
                            <a href="javascript:void(0);"><i class="fa fa-star-o" aria-hidden="true"></i> Theo dõi câu hỏi này</a>
                        </div>
                        <div class="col-lg-2 col-xs-6 col-sm-3 col-md-2">
                            <a href="javascript:void(0);"><i class="fa fa-share" aria-hidden="true"></i>Chia sẻ Facebook</a>
                        </div>
                    </div>
                </div>

                <div class="input-comments">
                    <div class="clear-both"></div>
                    <div class="left"><img src="@Url.Content("~/Content/images/icon-img.png")" alt=""></div>
                    <div class="right"><input type="text" class="form-control" placeholder="Nội dung thảo luận của bạn"><i class="fa fa-picture-o" aria-hidden="true"></i></div>
                </div>
            </div>*@
        <div class="clear-both"></div>
    </div>
    <div class="clear-both"></div>
}