﻿<a id="btnVideos" class="btn btn-sign-up" href="@Url.Action("BaiDuThi", "NamPhutThuocBai")" style="position: initial; margin-top: 10px; margin-right: 30px;">Danh Sách Đề Thi</a>
<a id="btnThongTinThiSinh" class="btn btn-sign-up" href="@Url.Action("index", "NamPhutThuocBai")" style="position: initial; margin-top: 10px; margin-right: 30px;">Trang Chủ Cuộc Thi</a>