﻿@model GCSOFT.MVC.STNHD.Models.NamPhutViewModels.NopBai
@using GCSOFT.MVC.STNHD.Models.NamPhutViewModels
@{
    ViewBag.Title = "Cập Nhật Lượt View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var userInfo = (Contestants)ViewBag.userInfo;
    var deThi = (DeThi)ViewBag.DeThi;
}
}
<div class="container">
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            @Html.Partial("_MenuThiSinh")
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-2 col-md-offset-2 col-xs-12 col-sm-12 col-md-8 col-lg-8 mt-90">
            <div class="modify-w-form contact post">
                <h3 style="text-align: center;">
                    CẬP NHẬT LƯỢT VIEW
                </h3>
                <h4>@deThi.Title</h4>
                <p>
                    @Html.Raw(deThi.Description)
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="divSuccessRegistration" class="modify-w-form contact" style="text-align: center; display: none;">
                <h3 style="text-align: center; margin-top: 25px;">Xin Chúc Mừng</h3>
                <p id="msgSuccessRegistration"></p>
            </div>
            <div class="modify-w-form" id="divRegistration">
                @using (Html.BeginForm("CapNhatLuotView", "NamPhutThuocBai", FormMethod.Post, new { @id = "frmNopBai", @autocomplete = "off", @class = "form-horizontal" }))
                {
                    <div class="support-course">
                        <p>Thông tin thí sinh</p>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Số báo danh</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.userInfo.IdentificationNumber, new { @placeholder = "Số Báo Danh", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Họ và Tên</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.userInfo.ChildName, new { @placeholder = "Họ tên con", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Trường</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.userInfo.SchoolName, new { @placeholder = "Trường", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Lớp</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.userInfo.GradeName, new { @placeholder = "Lớp", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="support-course">
                        <p>Thông tin bài nộp</p>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Link facebook Bài Thi</label>
                            <div class="col-sm-9">
                                @Html.HiddenFor(model => model.Id)
                                @Html.HiddenFor(model => model.CodeDethi)
                                @Html.HiddenFor(model => model.IdContestants)
                                @Html.HiddenFor(model => model.userName)
                                @Html.HiddenFor(model => model.SBD)
                                @Html.HiddenFor(model => model.FullName)
                                @Html.HiddenFor(model => model.ClassId)
                                @Html.HiddenFor(model => model.ClassName)
                                @Html.HiddenFor(model => model.LinkFacebok)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Số Lượt view hiện có</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.LuotView, new { @placeholder = "Nhập số lượt view trên facebook (*)", @class = "form-control validate[required]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Số Lượt tương tác hiện có (Like,Tim,HaHa...)</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.LuotInteract, new { @placeholder = "Nhập số lượt tương tác trên facebook (*)", @class = "form-control validate[required]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Số Lượt chia sẻ hiện có</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.LuotShare, new { @placeholder = "Nhập số lượt chia sẻ trên facebook (*)", @class = "form-control validate[required]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Số Lượt bình luận hiện có</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.LuotComment, new { @placeholder = "Nhập số lượt bình luận trên facebook (*)", @class = "form-control validate[required]" })
                            </div>
                        </div>
                    </div>
                    <div class="text-center"><button type="button" id="btnNopBai" class="btn btn-primary">Cập nhật lượt View</button></div>
                }
            </div>

        </div>
    </div>
</div>
@section scripts{
    <link href="@Url.Content("~/Scripts/ValidationEngine/validationEngine.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine-vi.js")"></script>
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnNopBai').click(function () {
                var objFrom = $('#frmNopBai');
                var flag = objFrom.validationEngine('validate');
                if (flag) {
                    NProgress.start();
                    objFrom.ajaxSubmit(function (data) {
                        window.location.href = data.url;
                    });
                }
            });
        });
    </script>
}