﻿
@{
    ViewBag.Title = "CauHoiThuongGap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-20">
            <div class="modify-w-form contact post">
                <h3 style="text-align: center;">CÂU HỎI THƯỜNG GẶP</h3>
                <br />
                <h4 style="text-align: center;">TỔNG QUAN CUỘC THI</h4>
                <h4>
                    Mục đích của cuộc thi này là gì?
                </h4>
                <p>
                    Cuộc thi 5 phút thuộc bài nhằm khuyến khích học sinh phát huy khả năng học tập chủ động, tích cực ứng dụng các phương pháp học tập thông minh khiến việc học trở nên hiệu quả và nhẹ nhàng, đồng thời giúp trẻ phát triển sự tự tin và năng lực đào tạo.
                </p>
                <h4>
                    Tại sao tôi nên tham gia cuộc thi này?
                </h4>
                <p>
                    Bạn nên tham gia cuộc thi này vì:
                </p>
                <p>
                    - Rất nhiều phần quà hấp dẫn dành cho tất cả thí sinh dự thi.
                </p>
                <p>
                    - Bạn là một học sinh có năng lực, yêu thích sự sáng tạo, luôn muốn thể hiện những kiến thức, nội dung học tập bằng nhiều phương pháp khác nhau. Cuộc thi này sẽ tạo môi trường thuận lợi để bạn làm được điều đó;
                </p>
                <p>
                    - Bạn là một học sinh ham học hỏi, luôn muốn tìm tòi, khám phá những phương pháp học tập mới. Cuộc thi này sẽ tạo nên một cộng đồng học tập để bạn cùng học hỏi;
                </p>
                <p>- Bạn sẽ là động lực cho rất nhiều bạn học sinh khác trên cả nước và thế giới trong việc ứng dụng phương pháp học tập thông minh khiến việc học trở nên hiệu quả và nhẹ nhàng.</p>
                <h4>
                    Tôi có thể tham khảo thêm thông tin về cuộc thi Sơ đồ Tư duy (V MINDMAP) 2021 ở đâu?
                </h4>
                <p>
                    Bạn có thể tham khảo thông tin thông qua website chính thức của cuộc thi tại địa chỉ: https://vmindmap.vn/
                </p>
                <h4>
                    Cuộc thi 5 phút thuộc bài và cuộc thi V.Mindmap Việt Nam 2021 có mối liên hệ gì?
                </h4>
                <p>
                    Cuộc thi 5 Phút Thuộc Bài là một trong những vòng loại của cuộc thi Mindmap cấp quốc gia năm 2021 để tuyển chọn những thí sinh có kết quả xuất sắc vào vòng bán kết của cuộc thi.
                </p>
                <h4 style="text-align: center;">ĐỐI TƯỢNG, HÌNH THỨC THAM GIA</h4>
                <h4>
                    Ai có thể tham gia cuộc thi này?
                </h4>
                <p>
                    Cuộc thi dành cho học sinh từ lớp 1 đến lớp 12 khắp cả nước, chấp nhận các bài thi từ nước ngoài.
                </p>
                <h4>
                    Tôi có thể tham gia cuộc thi này theo nhóm được không?
                </h4>
                <p>
                    Không.<br />
                    Thí sinh tham gia cuộc thi theo hình thức cá nhân. Tác phẩm dự thi do chính thí sinh làm và trình bày.
                </p>
                <h4>
                    Tôi có thể tham gia cuộc thi tối đa bao nhiêu lần?
                </h4>
                <p>
                    Thí sinh có thể tham gia tất cả các buổi thi trong cuộc thi 5 phút thuộc bài với điều kiện không vi phạm các Nguyên tắc cuộc thi (Mục VI - Nguyên tắc khi thực hiện chương trình) do Ban Tổ chức đề ra.
                </p>
                <h4>
                    Tôi cần gửi bao nhiêu sản phẩm cho một lần tham gia dự thi và trình bày bài thi dưới hình thức nào?
                </h4>
                <p>
                    Cuộc thi được tổ chức hàng tuần.<br />
                    Với một lần tham gia dự thi, thí sinh cần gửi về Ban Tổ chức 01 video bài giảng và 05 hình vẽ Mindmap (Sơ đồ tư duy). Trong đó:<br />
                    + 01 video và 01 hình vẽ Mindmap theo đề thi đươc Ban Tổ chức cuộc thi đề ra,<br />
                    + 04 hình vẽ Mindmap còn lại theo chủ đề tự chọn của thí sinh.<br />
                </p>
                <h4>
                    Tôi đăng ký và nộp hồ sơ dự thi như thế nào?
                </h4>
                <p>
                    Thí sinh thực hiện lần lượt và đầy đủ Hướng dẫn dự thi được quy định trong mục V - Hướng dẫn dự thi trong Thể lệ cuộc thi.
                </p>
                <h4 style="text-align: center;">ĐỀ THI</h4>
                <h4>
                    Tôi sẽ nhận đề thi khi nào?
                </h4>
                <p>
                    Thí sinh theo dõi đề thi được công bố trên website sieutrinhohocduong.com và trong Chương trình Tối Thứ 5 Vui Vẻ (19:00 - 21:00) tối thứ 5 hàng tuần.
                </p>
                <h4>
                    Nội dung đề thi được phân bổ như thế nào?
                </h4>
                <p>
                    Đề thi của mỗi tuần được phân bổ theo đầy đủ các môn học và các lớp (từ lớp 1 đến lớp 12) theo nội dung chương trình giáo dục phổ thông hiện hành và chủ đề ghi nhớ ứng dụng.
                    Thí sinh làm đề thi của lớp theo năm học 2021 - 2022. (Ví dụ: Năm học 2021 - 2022, thí sinh sẽ học lớp 6 thì thí sinh làm đề thi được phân theo lớp 6)
                </p>
                <h4>
                    Tôi hiện đang học theo chương trình giáo dục phổ thông mới, vậy tôi có thể tham gia cuộc thi được không? Nội dung đề thi sẽ như thế nào?
                </h4>
                <p>
                    Được.<br />
                    Đề thi của chúng tôi bám sát theo chương trình giáo dục phổ thông và luôn cập nhật cho phù hợp với chương trình, bộ sách giáo khoa mới.<br />
                    Đồng thời, chúng tôi luôn khuyến khích sự tìm tòi và sáng tạo ở thí sinh tham gia cuộc thi trong việc thể hiện những nội dung, hình thức, chủ đề mới.
                </p>
                <h4>
                    Tôi là học sinh ở nước ngoài, vậy tôi có thể trình bày tác phẩm dự thi theo nội dung chương trình tôi đang học tại nước tôi được không?
                </h4>
                <p>
                    Được. <br />
                    Chúng tôi luôn tôn trọng và khuyến khích sự đa dạng và khác biệt trong cuộc thi - điều sẽ tạo nên một sân chơi kiến thức phong phú, đa dạng về nội dung lẫn hình thức thể hiện.
                </p>
                <h4>
                    Tôi có thể tham khảo thông tin để làm đề thi ở đâu?
                </h4>
                <p>
                    Bạn có thể tham khảo trong website <a target="_blank" href="https://sieutrinhohocduong.com">sieutrinhohocduong.com</a> <br />
                    Hàng tuần, Ban Tổ chức cuộc thi sẽ công bố đề thi kèm theo nội dung tham khảo. Ngoài ra, thí sinh có thể tham khảo mọi tài liệu có liên quan đến nội dung đề thi để đảm bảo bài thi được trình bày sinh động, phong phú.
                </p>
            </div>
        </div>
    </div>
</div>