﻿@model GCSOFT.MVC.STNHD.Models.NamPhutViewModels.Contestants
@{
    ViewBag.Title = "Đăng Ký Thành Công - Cuộc Thi 5 Phút Thuộc Bài";
}
<div class="container">
    <div class="row">
        <div class="col-lg-offset-2 col-md-offset-2 col-xs-12 col-sm-12 col-md-8 col-lg-8 mt-90">
            <div class="modify-w-form contact post">
                <h3 style="text-align: center; color:#FF660F">
                    Xin chúc mừng bạn đăng ký dự thi thành công
                </h3>
                <h4>
                    <strong>Thông tin dự thi</strong>
                </h4>

                <p>
                    <strong>Số Báo Danh:</strong> @Model.IdentificationNumber
                </p>
                <p>
                    <strong>Họ và Tên Phụ Huynh:</strong> @Model.ParentName
                </p>
                <p>
                    <strong>Họ và Tên Con:</strong> @Model.ChildName
                </p>
                @*<p>
                    <strong>@Model.GradeName</strong>
                </p>*@
                <p>
                    <strong>Trường:</strong> @Model.SchoolName
                </p>
                <p>
                    <strong>Địa Chỉ:</strong> @Model.Address @Model.DistrictName @Model.CityName
                </p>
                <h4>Đề thi đầu tiên của em</h4>
                <p>
                    " Em hãy giúp người khác hiểu và thuộc thể lệ cuộc thi 5 Phút Thuộc Bài chỉ trong vòng 5 phút dựa trên Sơ Đồ Tư Duy "
                </p>
                <p><strong>Ngày bắt đầu nộp bài:</strong> 22/7/2021</p>
                <p><strong>Hạn chót nộp bài:</strong> 23:59 Chủ Nhật, ngày 25/07/2021</p>
                <div class="text-center"><a href="@Url.Action("Index","NamPhutThuocBai")" class="btn btn-primary">Quay lại cuộc thi</a></div>
            </div>
        </div>
    </div>
</div>