﻿@model GCSOFT.MVC.STNHD.Models.NamPhutViewModels.GiftPage
@{
    ViewBag.Title = "Đổi Quà";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            @Html.Partial("_MenuThiSinh")
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="modify-w-form" id="divRegistration" style="width: 100%">
                <h3 style="text-align: center;font-size: 30px">
                    Chọn Quà
                </h3>
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th>Số điểm đổi</th>
                            <th>Quà tặng</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Gifts)
                        {
                            <tr>
                                <td data-column="Lượt tích điểm">@item.Point điểm</td>
                                <td data-column="Quà">@item.GiftName</td>
                                <td data-column="&nbsp;" style="text-align: center;">
                                    @if (Model.TotalPoint >= item.Point)
                                    {
                                        <a href="@Url.Action("NhanQua", "NamPhutThuocBai", new { giftCode = item.Code })" id="btnNhanQua@(item.Code)" class="btn btn-primary" style="margin-top: 0px; padding: 6px 10px;">Nhận quà</a>
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <h3 id="historyGift" style="text-align: center;font-size: 30px">
                    Lịch sử đổi quà
                </h3>
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th>Tên quà tặng</th>
                            <th>Tình trạng</th>
                            <th>Thời gian quy đổi</th>
                            <th>Điểm đổi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TransGifts)
                        {
                            <tr>
                                <td data-column="Tên quà tặng">@item.GiftName</td>
                                <td data-column="Tình trạng">@item.StatusName</td>
                                <td data-column="Tình trạng">@item.DateTimeStr</td>
                                <td data-column="Tình trạng">@item.Point</td>
                            </tr>
                        }

                    </tbody>
                </table>
                <h4 style="text-align:center">Quà tặng đang trên đường về nhà thí sinh. Xin lỗi thí sinh vì sự chậm trễ này. <br />Cảm ơn sự thông cảm của thí sinh.</h4>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <link href="@Url.Content("~/Scripts/ValidationEngine/validationEngine.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine-vi.js")"></script>
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <link href="@Url.Content("~/Content/gifttable.css")" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            if ($.urlParam('msg') == '2') {
                $.toast({
                    heading: 'Xin Chúc Mừng',
                    text: 'Phiếu nhận quà của bạn đã được gửi đi thành công, bộ phận Chăm Sóc Khách Hàng sẽ liên hệ và gửi cho bạn',
                    showHideTransition: 'slide',
                    icon: 'info',
                    position: 'top-center',
                    hideAfter: 20000
                });
                $('html,body').animate({
                    scrollTop: $("#historyGift").offset().top
                }, 'slow');
            }
        });
        $.urlParam = function (name) {
            var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return '';
            } else {
                return results[1] || 0;
            }
        }
    </script>
}