﻿@model GCSOFT.MVC.STNHD.Models.PageViewModels.SocialViewModel
@{
    ViewBag.Title = "Diễn Đàn Học Tập";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="set-questions">
                <h3 class="h3-all">Góc Hỗ Trợ (Thắc mắc, khiếu nại ...)</h3>
                <form action="" method="POST">
                    <textarea name="content" id="content" cols="30" class="form-control" rows="4" placeholder="Nội dung câu hỏi của bạn"></textarea>
                    <div class="text-right">
                        <button type="button" id="btnQuestion" class="btn btn-primary btn-blue-all">Gửi Câu Hỏi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="ask-answer">
                <div class="tabpanel" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active col-lg-2 col-md-2 col-xs-6 col-sm-4 text-center">
                            <a href="#ask-answer1" aria-controls="ask-answer1" role="tab" data-toggle="tab">
                                <h3 class="ask-answer-title">Mới Nhất</h3>
                            </a>
                        </li>
                        <li role="presentation" class="col-lg-2 col-md-2 col-xs-6 col-sm-4 text-center">
                            <a href="#ask-answer5" aria-controls="ask-answer5" role="tab" data-toggle="tab">
                                <h3 class="ask-answer-title">Câu hỏi của bạn</h3>
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="ask-answer1">
                            <div class="post">
                                <div class="post-top">
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="media-heading">ĐIỂM TÍCH LŨY - QUÀ TẶNG - GIẢI THƯỞNG</h4>
                                            <p>15/07/2021</p>
                                        </div>
                                    </div>
                                    <h4>Làm sao để đổi quà từ điểm tích lũy?</h4>
                                    <p class="txt">
                                        Khi có đủ số điểm tích lũy hợp lệ, thí sinh đăng ký đổi quà trong phần tài khoản dự thi của mình trên trang website <a target="_blank" href="https://sieutrinhohocduong.com">sieutrinhohocduong.com</a>
                                    </p>
                                </div>
                                <div class="clear-both"></div>
                            </div>
                            <div class="clear-both"></div>

                            <div class="post">
                                <div class="post-top">
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="media-heading">ĐIỂM TÍCH LŨY - QUÀ TẶNG - GIẢI THƯỞNG</h4>
                                            <p>15/07/2021</p>
                                        </div>
                                    </div>
                                    <h4>Điểm tích lũy để đổi quà có thời hạn hay không?</h4>
                                    <p class="txt">
                                        Có. <br />
                                        Điểm tích lũy có hiệu lực trong 90 ngày kể từ ngày tham gia đầu tiên của thí sinh. Sau thời gian này, nếu thí sinh không đăng ký đổi quà thì số điểm tích lũy sẽ bị vô hiệu lực.<br />
                                        Khi hoàn tất đổi quà, số điểm tích lũy sẽ bị trừ đi và thí sinh bắt đầu tích lũy lại từ đầu.<br />
                                    </p>
                                </div>
                                <div class="clear-both"></div>
                            </div>
                            <div class="clear-both"></div>

                            <div class="post">
                                <div class="post-top">
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="media-heading">ĐIỂM TÍCH LŨY - QUÀ TẶNG - GIẢI THƯỞNG</h4>
                                            <p>15/07/2021</p>
                                        </div>
                                    </div>
                                    <h4>Có thông báo nào để nhắc nhở tôi về thời hạn đổi quà không?</h4>
                                    <p class="txt">
                                        Có. <br />
                                        Ban Tổ chức sẽ gửi thông báo trước thời điểm điểm tích lũy của thí sinh hết hạn một tuần đến số điện thoại hoặc email đăng ký tham gia cuộc thi của thí sinh
                                    </p>
                                </div>
                                <div class="clear-both"></div>
                            </div>
                            <div class="clear-both"></div>

                            <div class="post">
                                <div class="post-top">
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="media-heading">ĐIỂM TÍCH LŨY - QUÀ TẶNG - GIẢI THƯỞNG</h4>
                                            <p>15/07/2021</p>
                                        </div>
                                    </div>
                                    <h4>Danh mục quà tặng/giá trị theo từng giải thưởng như thế nào?</h4>
                                    <p class="txt">
                                        1. Giải thưởng Nhà Đào tạo Ý Chí:<br />
                                        - Quà tặng là hiện vật với giá trị tương đương, cùng các khóa học online của Học viện Tâm Trí Lực tương ứng với các số lần tích lũy lượt thi được quy định tại mục IV - Cơ cấu giải thưởng trong thể lệ cuộc thi<br />
                                        - Nhận vé bốc thăm may mắn trong tháng để tham gia Giải May mắn Đặc biệt nếu thi sinh có từ 1 phiếu đổi quà trở lên.<br />
                                        2. Giải thưởng Nhà Đào tạo Truyền Cảm hứng<br />
                                        - Giá trị giải thưởng tương đương với 1.000.000 đồng/giải<br />
                                        - Nhận vé bốc thăm may mắn trong tháng để tham gia Giải May mắn Đặc biệt.<br />
                                        3. Giải thưởng Nhà Đào tạo Xuất sắc<br />
                                        - Giá trị giải thưởng tương đương với 1.000.000 đồng/giải<br />
                                        - Thư chúc mừng do Viện Kỷ lục Việt Nam trao tặng<br />
                                        - Đặc cách tham dự vòng Bán Kết cuộc thi Sơ Đồ Tư Duy – V.Mindmap Việt Nam 2021<br />
                                        - Nhận vé bốc thăm may mắn trong tháng để tham gia Giải May mắn Đặc biệt.<br />
                                        4. Giải May mắn Đặc biệt<br />
                                        Giá trị giải thưởng là quà tặng hiện kim hoặc hiện vật tương đương 3.000.000 đồng/giải.<br />
                                    </p>
                                </div>
                                <div class="clear-both"></div>
                            </div>
                            <div class="clear-both"></div>

                            <div class="post">
                                <div class="post-top">
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="media-heading">ĐIỂM TÍCH LŨY - QUÀ TẶNG - GIẢI THƯỞNG</h4>
                                            <p>15/07/2021</p>
                                        </div>
                                    </div>
                                    <h4>Mất thời gian bao lâu để tôi có thể nhận được quà tặng/phần thưởng của cuộc thi?</h4>
                                    <p class="txt">
                                        - Đối với quà tặng là hiện kim: tối đa 3 ngày làm việc kể từ ngày công bố giải thường.<br />
                                        - Đối với quà tặng là hiện vật: tối đa 7 đến 10 ngày làm việc chuyển đến địa chỉ trong nước.<br />
                                        Lưu ý:<br />
                                        - Thí sinh bắt buộc điền chi tiết và chính xác địa chỉ, số điện thoại khi đăng ký dự thi để Ban Tổ chức tặng quà/trao thưởng<br />
                                        - Bên cạnh đó, trong thời gian giãn cách xã hội do dịch Covid-19, công tác vận chuyển quà đến thí sinh có thể sẽ gặp khó khăn và chậm trễ. Tuy nhiên, chúng tôi sẽ đảm bảo quà được vận chuyển đến thí sinh sớm nhất có thể.
                                    </p>
                                </div>
                                <div class="clear-both"></div>
                            </div>
                            <div class="clear-both"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="ask-answer5">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnQuestion').click(function () {
                if ($('#content').val() == '') {
                    $.toast({
                        heading: 'Thông Báo',
                        text: 'Vui lòng quay lại ngày 22/7/2021, Đặt câu hỏi',
                        showHideTransition: 'slide',
                        icon: 'info',
                        position: 'top-center'
                    });
                    return false;
                }
            });
        });
    </script>
}