﻿@using GCSOFT.MVC.STNHD.Models.NamPhutViewModels
@using GCSOFT.MVC.Model.StoreProcedue
@{
    ViewBag.Title = "CUỘC THI 5 PHÚT THUỘC BÀI - CÔNG TY CỔ PHẦN ĐÀO TẠO TÂM TRÍ LỰC";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var baiThis = (IEnumerable<SPBaiThi>)ViewBag.BaiThi;
    var userName = (string)ViewBag.userName;
    var thiSinhInfo = (Contestants)ViewBag.ThiSinh;
}
@section banner{
    <div class="banner">
        <a href="javascript:void(0);" id="banner">
            <img src="https://firebasestorage.googleapis.com/v0/b/tamtriluc-1a443.appspot.com/o/NamPhut%2F5PTB.jpg?alt=media&token=ee58945d-e357-49ba-83b6-0f8759119a3f" class="brochure" />
        </a>
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-center">
                @if (string.IsNullOrEmpty(userName))
                {
                    <h3 id="btnDangKyDuThi" class="h-bhl" style="margin-top: 60px; border-radius: 20px; border: dashed 4px #337ab7;font-size: 30px">
                        <a href="@Url.Action("DangKy", "NamPhutThuocBai")">Đăng Ký Dự Thi</a>
                    </h3>
                }
                else
                {
                    <h3 id="btnDangKyDuThi" class="h-bhl" style="margin-top: 60px; border-radius: 20px; border: dashed 4px #337ab7;font-size: 20px">
                        <a href="javascript:void(0)">Chào bạn @thiSinhInfo.ChildName</a>
                    </h3>
                }
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="margin-bottom: 16px;">
            @if (string.IsNullOrEmpty(userName))
            {
                <a id="btnThongTinThiSinh" class="btn btn-sign-up" href="@Url.Action("DangNhapCuocThi", "NamPhutThuocBai")" style="position: initial; margin-top: 10px; margin-right: 30px;">Đăng Nhập</a>
            }
            else
            {
                <a id="btnThongTinThiSinh" class="btn btn-sign-up" href="@Url.Action("ThoatTaiKhoan", "NamPhutThuocBai")" style="position: initial; margin-top: 10px; margin-right: 30px;">Thoát</a>
            }
            <a id="btnThongTinThiSinh" class="btn btn-sign-up" href="@Url.Action("BaiDuThi", "NamPhutThuocBai")" style="position: initial; margin-top: 10px; margin-right: 30px;">Nộp Bài</a>
            <a id="btnticket" class="btn btn-sign-up" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSejqZ00XFsfsQqXSXRlPPxTcNqcnFD4NbZRms6AuCGDXDfMYg/viewform" style="position: initial; margin-top: 10px; margin-right: 30px;">Cập nhật lượt xem</a>
            <a id="btnThongTinThiSinh" class="btn btn-sign-up" href="javascrip:void(0);" style="position: initial; margin-top: 10px; margin-right: 30px;">Tổng lượt tích điểm: @ViewBag.tongDiem</a>
            <a id="btnThongTinThiSinh" class="btn btn-sign-up" href="@Url.Action("DoiQua", "NamPhutThuocBai")" style="position: initial; margin-top: 10px; margin-right: 30px;">Đổi quà</a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <a id="btnVideos" class="btn btn-sign-up" href="@Url.Action("TheLeCuocThi", "NamPhutThuocBai")" style="position: initial; margin-top: 10px; margin-right: 30px;">Thể Lệ Cuộc Thi</a>
            <a id="btnThongTinThiSinh" class="btn btn-sign-up" href="@Url.Action("ThongTinThiSinh", "NamPhutThuocBai")" style="position: initial; margin-top: 10px; margin-right: 30px;">Thông Tin Thí Sinh</a>
            <a id="btnDocument" class="btn btn-sign-up" href="@Url.Action("CauHoiThuongGap", "NamPhutThuocBai")" style="position: initial; margin-top: 10px; margin-right: 30px;">Câu Hỏi Thường Gặp</a>
            <a id="btnticket" class="btn btn-sign-up" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdeuJhiWJd0XmFZ4n6N8UMsWfaryuv34WB3QCr8OLyH-XofGg/viewform" style="position: initial; margin-top: 10px;">Đơn Phúc Khảo Cuộc Thi</a>
            @*<a id="btnticket" class="btn btn-sign-up" href="@Url.Action("HoTroHoiDap", "NamPhutThuocBai")" style="position: initial; margin-top: 10px;">Góc Hỗ Trợ (Thắc mắc, khiếu nại ...)</a>*@
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-center"><h3 class="h-title" style="margin-bottom: 29px; color: #337ab7; margin-top: 35px;">Danh Sách Đề Thi</h3></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- 2 -->
            @foreach (var item in baiThis)
            {
                <div class="post">
                    <div class="post-top">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading" style="color: #FF660F;">@item.Title</h4>
                                <p>@item.NgayBatDauStr - @item.NgayKetThucStr</p>
                            </div>
                        </div>
                        <p class="txt">
                            @Html.Raw(item.Description)
                        </p>

                        <div class="text-left post-btn">
                            @if (item.StatusCode == 1)
                            {

                                <a href="@Url.Action("NopBai", "NamPhutThuocBai", new { c = item.Code })">@item.StatusName</a>
                            }
                            else if (item.StatusCode == 2)
                            {
                                <a href="@Url.Action("CapNhatBaiNop", "NamPhutThuocBai", new { c = item.Code, id = item.Id })">@item.StatusName</a>
                            }
                            else
                            {
                                <a href="javascript:void(0);">@item.StatusName</a>
                            }
                            @if (item.Code.StartsWith("TUAN2"))
                            {
                                <a href="@Url.Action("CapNhatLuotView", "NamPhutThuocBai", new { c = item.Code, id = item.Id })">Cập nhật lượt View</a>
                            }
                        </div>
                        @if (!string.IsNullOrEmpty(item.Remark1))
                        {
                            <p class="txt">
                                <strong>Ghi chú Trọng Tài</strong>
                                @Html.Raw(item.Remark1)
                            </p>
                        }
                        @if (!string.IsNullOrEmpty(item.Remark2))
                        {
                            <p class="txt">
                                <strong>Ghi chú trọng tài video</strong>
                                @Html.Raw(item.Remark2)
                            </p>
                        }
                        @if (!string.IsNullOrEmpty(item.Remark3))
                        {
                            <p class="txt">
                                <strong>Ghi chú trọng tài mindmap</strong>
                                @Html.Raw(item.Remark3)
                            </p>
                        }
                    </div>
                    <div class="clear-both"></div>
                </div>
                <div class="clear-both"></div>
            }
            <!-- 2 + -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-center"><h3 class="h-title" style="margin-bottom: 29px; color: #337ab7; margin-top: 40px;">Thế Giới Giải Thưởng</h3></div>
        </div>
        <div class="banner">
            <a href="javascript:void(0);">
                <img src="https://stnhd.com/Files/thuocbai/CoCauGiaiThuong.jpg" class="brochure" style=" border-radius: 20px;" />
            </a>
        </div>
    </div>
    <div class="row">
        <section class="ranking">
            <div class="row">
                <div class="col-xs-12 text-center my-5">
                    <img style="border-radius: 15px;" class="bg-rank" src="https://firebasestorage.googleapis.com/v0/b/tamtriluc-1a443.appspot.com/o/NamPhut%2F24tuan4_optimized.jpg?alt=media&token=bd53f105-aa7f-44f3-b392-b0af7c03f3af" alt="">
                </div>
            </div>
        </section>
    </div>
</div>
<link href="@Url.Content("~/Scripts/ValidationEngine/validationEngine.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine.js")"></script>
<script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine-vi.js")"></script>
<link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#banner').click(function () {
            $('html,body').animate({
                scrollTop: $("#btnDangKyDuThi").offset().top
            }, 'slow');
        });
        if ($.urlParam('msg') == '2') {
            $.toast({
                heading: 'Xin Chúc Mừng',
                text: 'Đăng nhập thành công',
                showHideTransition: 'slide',
                icon: 'info',
                position: 'top-center',
                hideAfter: 20000
            });
            $('html,body').animate({
                scrollTop: $("#btnDangKyDuThi").offset().top
            }, 'slow');
        }
    });
    $.urlParam = function (name) {
        var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return '';
        } else {
            return results[1] || 0;
        }
    }
</script>