﻿@model GCSOFT.MVC.STNHD.Models.NamPhutViewModels.TransactionGift
@{
    ViewBag.Title = "Cập Nhật Thông Tin Thí Sinh";
}
<div class="container">
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            @Html.Partial("_MenuThiSinh")
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="divSuccessRegistration" class="modify-w-form contact" style="text-align: center; display: none;">
                <h3 style="text-align: center; margin-top: 25px;">Xin Chúc Mừng phiếu đổi quà đã gửi thành công</h3>
                <p id="msgSuccessRegistration"></p>
            </div>
            <div class="modify-w-form" id="divRegistration">
                @using (Html.BeginForm("NhanQua", "NamPhutThuocBai", FormMethod.Post, new { @id = "frmRegistration", @autocomplete = "off", @class = "form-horizontal" }))
                {
                <div class="support-course">
                    <p>Thông Tin nhận quà</p>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Số phiếu quà (*)</label>
                        <div class="col-sm-9">
                            @Html.HiddenFor(model => model.GiftCode)
                            @Html.TextBoxFor(model => model.Code, new { @placeholder = "Số phiếu quà", @class = "form-control validate[required]", @readonly = true })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Họ và tên phụ huynh</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.FullName, new { @placeholder = "Nhập họ và tên phụ huynh (*)", @class = "form-control validate[required]" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Số điện thoại</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.PhoneNo, new { @placeholder = "Số điện thoại (*)", @class = "form-control validate[required]" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email phụ huynh (*)", @class = "form-control validate[required]" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Địa Chỉ</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Address, new { @placeholder = "Số nhà, đường, phường, xã, Quận huyện, Tỉnh/Thành phố (*)", @class = "form-control validate[required]" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Quà nhận</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.GiftName, new { @placeholder = "Quà nhận (*)", @class = "form-control validate[required]", @readonly = true })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Số điểm quy đổi</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Point, new { @placeholder = "Số điểm quy đổi (*)", @class = "form-control validate[required]", @readonly = true })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Ngày nhận</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.DateTimeStr, new { @placeholder = "Ngày nhận (*)", @class = "form-control validate[required]", @readonly = true })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Ghi chú</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.Remark, new { @placeholder = "Ghi Chú", @class = "form-control" })
                        </div>
                    </div>
                </div>
                    if (Model.StatusCode.Equals("A"))
                    {
                        <div class="text-center"><button type="button" id="btnSend" class="btn btn-primary">Xác nhận đổi quà</button></div>
                    }
                }
            </div>

        </div>
    </div>
</div>
@section scripts{
    <link href="@Url.Content("~/Scripts/ValidationEngine/validationEngine.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine-vi.js")"></script>
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            
            $('#Email').bind('keyup change', function () {
                $('#Email').val($.trim($(this).val()));
            });
            $('#PhoneNo').bind('keyup change', function () {
                $('#PhoneNo').val($.trim($(this).val()));
            });
            $('#frmRegistration').closest('form').find("input[type=text], textarea").change(function () {
                var value = $.trim($(this).val());
                $(this).val(value);
            });
            $('#btnSend').click(function () {
                var objFrom = $('#frmRegistration');
                var flag = objFrom.validationEngine('validate');
                if (flag) {
                    NProgress.start();
                    objFrom.ajaxSubmit(function (data) {
                        if (data.s == 'oke') {
                            window.location.href = data.result;
                        } else {
                            $.toast({
                                heading: 'Thông Báo',
                                text: data.result,
                                showHideTransition: 'slide',
                                icon: 'error',
                                position: 'top-center',
                                hideAfter: 20000
                            });
                            NProgress.done();
                        }
                    });
                }
            });
        });
    
       
    </script>
}