﻿@model GCSOFT.MVC.STNHD.Models.NamPhutViewModels.ForgetUserAndPass
@{
    ViewBag.Title = "Quên Tên Đăng Nhập và Mật Khẩu Cuộc Thi";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="modify-w-form">
                <h3>QUÊN TÊN ĐĂNG NHẬP VÀ MẬT KHẨU</h3>
                @using (Html.BeginForm("UserList", "NamPhutThuocBai", FormMethod.Post, new { @id = "frmForgetusername", @autocomplete = "off", @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        <label class="col-sm-3 control-label">SĐT</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.phonenumber, new { @placeholder = "Nhập số điện thoại (*)", @class = "form-control validate[required,custom[phone]]" })
                                <span class="input-group-btn">
                                    <button class="btn btn-primary btn-customize" type="button" id="btnSendOTP">Gửi Mã Xác Thực</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Mã xác thực</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.OTP, new { @placeholder = "Nhập mã xác thực gửi tới số điện thoại trên", @class = "form-control validate[required]" })
                        </div>
                    </div>
                    <div class="text-center"><button type="button" id="btnResetUsername" class="btn btn-primary">Gửi Lại Tên Đăng Nhập</button></div>
                    <br />
                    <div class="text-center">
                        <a href="@Url.Action("DangNhapCuocThi","NamPhutThuocBai")">Đăng nhập</a>
                    </div>
                    <br />
                    <div class="text-center">
                        <a href="@Url.Action("Index","Student")">Quay lại trang chủ cuộc thi</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="@Url.Content("~/Scripts/ValidationEngine/validationEngine.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine-vi.js")"></script>
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnResetUsername').click(function () {
                var objFrom = $('#frmForgetusername');
                var flag = objFrom.validationEngine('validate');
                if (flag) {
                    $.post('@Url.Action("CheckPhoneAndOTP", "NamPhutThuocBai")', { phone: $('#phonenumber').val(), otp: $('#OTP').val() }, function (data) {
                        if (data.result == '') {
                            $('#frmForgetusername').submit();
                        } else {
                            $.toast({
                                heading: 'Thông báo',
                                text: data.result,
                                showHideTransition: 'slide',
                                icon: 'error',
                                position: 'top-center',
                                hideAfter: 20000
                            });
                        }
                    });
                }
            });
            $('#btnSendOTP').click(function () {
                if ($('#phonenumber').val() == '') {
                    $.toast({
                        heading: 'STNHD Thông Báo',
                        text: 'Vui lòng nhập số điện thoại',
                        showHideTransition: 'slide',
                        icon: 'error',
                        position: 'top-center'
                    });
                } else {
                    $.post('@Url.Action("SendOTPRegister", "AccountEbook")', { p: $('#phonenumber').val() }, function (data) {
                        if (data == '') {
                            $.toast({
                                heading: 'Mã OTP đã được gửi vào số điện thoại ' + $('#phonenumber').val(),
                                text: data,
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                        } else {
                            $.toast({
                                heading: 'Thông báo',
                                text: data,
                                showHideTransition: 'slide',
                                icon: 'error',
                                position: 'top-center',
                                hideAfter: 20000
                            });
                        }
                    });
                }
            });
        });
    </script>
}