﻿@model GCSOFT.MVC.STNHD.Models.NamPhutViewModels.Contestants
@{
    ViewBag.Title = "Cập Nhật Thông Tin Thí Sinh";
}
<div class="container">
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            @Html.Partial("_MenuThiSinh")
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-2 col-md-offset-2 col-xs-12 col-sm-12 col-md-8 col-lg-8 mt-90">
            <div class="modify-w-form contact post">
                <h3 style="text-align: center;">
                    Cập Nhật Thông Tin Thí Sinh
                </h3>
                <p>
                    Thí sinh tham gia dự thi vui lòng nhập đầy đủ thông tin
                </p>
                <p>
                    <strong>- Số Điện Thoại, Email:</strong> Kết quả chấm bài, thông báo giải thường sẽ được gửi qua SMS và Email
                </p>
                <p>
                    <strong>- Lớp Học:</strong> Bài dự thi hiển thị theo lớp học
                </p>
                <p>
                    <strong>- Tỉnh/Thành Phố, Quận Huyện, Địa Chỉ:</strong> Quà sẽ được gửi qua đường bưu điện theo địa chỉ đăng ký dự thi
                </p>
                <p>Trân trọng cám ơn</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="divSuccessRegistration" class="modify-w-form contact" style="text-align: center; display: none;">
                <h3 style="text-align: center; margin-top: 25px;">Xin Chúc Mừng</h3>
                <p id="msgSuccessRegistration"></p>
            </div>
            <div class="modify-w-form" id="divRegistration">
                @using (Html.BeginForm("ThongTinThiSinh", "NamPhutThuocBai", FormMethod.Post, new { @id = "frmRegistration", @autocomplete = "off", @class = "form-horizontal" }))
                {
                    <div class="support-course">
                        <p>Thông Tin Đăng Nhập (*)</p>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Tên đăng nhập</label>
                            <div class="col-sm-9">
                                @Html.HiddenFor(model => model.Id)
                                @Html.HiddenFor(model => model.DateCreate)
                                @Html.HiddenFor(model => model.Password)
                                @Html.TextBoxFor(model => model.Username, new { @placeholder = "Nhập tên đăng nhập (*)", @class = "form-control validate[required,funcCall[ValidUsername[]]", @readonly = true })
                            </div>
                        </div>

                    </div>

                    <div class="support-course">
                        <p>Thông Tin Cá Nhân</p>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Họ tên phụ huynh</label>
                            <div class="col-sm-9">
                                @Html.HiddenFor(model => model.IsAccountSTNHD)
                                @Html.HiddenFor(model => model.IdentificationNumber)
                                @Html.TextBoxFor(model => model.ParentName, new { @placeholder = "Nhập họ tên phụ huynh (*)", @class = "form-control validate[required]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Họ và tên con dự thi</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.ChildName, new { @placeholder = "Nhập họ và tên con dự thi (*)", @class = "form-control validate[required]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Học lớp</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(model => model.GradeId, Model.ClassList, "[ Chọn lớp ]", new { @class = "form-control validate[required]" })
                                <span style="color: #00A1E0; font-size: 10pt; font-style: italic;">Năm học 2021 - 2022</span>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Trường học của con</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.SchoolName, new { @placeholder = "Nhập trường con đang học (*)", @class = "form-control validate[required]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tỉnh/Thành Phố</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(model => model.CityId, Model.CityList, "[ Chọn Tỉnh/Thành phố ] (*)", new { @class = "form-control validate[required]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Quận huyện</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(model => model.DistrictId, Model.DistrictList, "[ Chọn quận huyện ] (*)", new { @class = "form-control validate[required]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Địa Chỉ</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.Address, new { @placeholder = "Số nhà, đường, phường, xã (*)", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email phụ huynh</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email phụ huynh (*)", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">SĐT</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.Phone, new { @placeholder = "Nhập số điện thoại (*)", @class = "form-control validate[required,custom[phone]]" })
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-customize" type="button" id="btnSendOTP">Gửi Mã Xác Thực</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Mã xác thực</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.OTP, new { @placeholder = "Nhập mã xác thực gửi tới số điện thoại trên", @class = "form-control validate[required]" })
                            </div>
                        </div>
                    </div>
                    <div class="text-center"><button type="button" id="btnRegistration2" class="btn btn-primary">Cập Nhật Thông Tin</button></div>
                }
            </div>

        </div>
    </div>
</div>
@section scripts{
    <link href="@Url.Content("~/Scripts/ValidationEngine/validationEngine.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine-vi.js")"></script>
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($.urlParam('msg') == '2') {
                $.toast({
                    heading: 'Xin Chúc Mừng',
                    text: 'Thông tin của bạn đã được cập nhật thành công',
                    showHideTransition: 'slide',
                    icon: 'info',
                    position: 'top-center',
                    hideAfter: 20000
                });
            }
            $('#Email').bind('keyup change', function () {
                $('#Email').val($.trim($(this).val()));
            });
            $('#Phone').bind('keyup change', function () {
                $('#Phone').val($.trim($(this).val()));
            });
            $('#frmRegistration').closest('form').find("input[type=text], textarea").change(function () {
                var value = $.trim($(this).val());
                $(this).val(value);
            });
            $('#CityId').change(function () {
                var provinceId = $(this).val();
                if (provinceId == '') {
                    provinceId = '0';
                }
                $.getJSON('@Url.Action("FetchDistricts", "AccountEbook")', { provinceId: provinceId }, function (response) {
                    var ddlDistrict = $('#DistrictId');
                    ddlDistrict.empty();
                    ddlDistrict.append($('<option></option>').text('[ Chọn quận huyện ]').val(''));
                    $.each(response, function (index, item) {
                        ddlDistrict.append($('<option></option>').text(item.name).val(item.id));
                    });
                });
            });
            $('#btnRegistration2').click(function () {
                var msg = ValidUsername2($('#userName').val());
                if (msg != '') {
                    $.toast({
                        heading: 'Thông Báo',
                        text: msg,
                        showHideTransition: 'slide',
                        icon: 'error',
                        position: 'top-center',
                        hideAfter: 20000
                    });
                } else {
                    var objFrom = $('#frmRegistration');
                    var flag = objFrom.validationEngine('validate');
                    if (flag) {
                        NProgress.start();
                        objFrom.ajaxSubmit(function (data) {
                            if (data.s == 'oke') {
                                window.location.href = data.result;
                            } else {
                                $.toast({
                                    heading: 'Thông Báo',
                                    text: data.result,
                                    showHideTransition: 'slide',
                                    icon: 'error',
                                    position: 'top-center'
                                });
                                NProgress.done();
                            }
                        });
                    }
                }
            });
            $('#btnSendOTP').click(function () {
                if ($('#Phone').val() == '') {
                    $.toast({
                        heading: 'STNHD Thông Báo',
                        text: 'Vui lòng nhập số điện thoại',
                        showHideTransition: 'slide',
                        icon: 'error',
                        position: 'top-center'
                    });
                } else {
                    $.post('@Url.Action("SendOTPRegister", "AccountEbook")', { p: $('#Phone').val() }, function (data) {
                        if (data == '') {
                            $.toast({
                                heading: 'Mã OTP đã được gửi vào số điện thoại ' + $('#Phone').val(),
                                text: data,
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                        } else {
                            $.toast({
                                heading: 'Thông báo',
                                text: data,
                                showHideTransition: 'slide',
                                icon: 'error',
                                position: 'top-center',
                                hideAfter: 20000
                            });
                        }
                    });
                }
            });
        });
    function ValidUsername(field, rules, i, options) {
        var regex = /^[a-zA-Z0-9_-]{3,15}$/;
        if (!regex.test(field.val())) {
            var msg = "Tên Đăng Nhập không hợp lệ";
            msg += "<BR/ >Tên Đăng Nhập có độ dài từ 3 - 15 ký tự";
            msg += "<BR/ >Gồm chữ số hoặc chữ cái từ [0-9] [a-z]";
            msg += "<BR/ >Không có khoảng trắng";
            msg += "<BR/ >Không chứa ký tự đặc biệt # $...";
            return msg;
        }
        }
        function ValidUsername2(value) {
            var regex = /^[a-zA-Z0-9_-]{3,15}$/;
            if (!regex.test(value)) {
                var msg = "Tên Đăng Nhập không hợp lệ";
                msg += "<BR/ >Tên Đăng Nhập có độ dài từ 3 - 15 ký tự";
                msg += "<BR/ >Gồm chữ số hoặc chữ cái từ [0-9] [a-z]";
                msg += "<BR/ >Không có khoảng trắng";
                msg += "<BR/ >Không chứa ký tự đặc biệt # $...";
                return msg;
            }
            return "";
        }
        $.urlParam = function (name) {
            var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return '';
            } else {
                return results[1] || 0;
            }
        }
    </script>
}