﻿@model IEnumerable<GCSOFT.MVC.STNHD.Models.NamPhutViewModels.Contestants>
@{
    ViewBag.Title = "Danh Sách Tài Khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-center"><h3 class="h-title" style="margin-bottom: 29px; color: #337ab7; margin-top: 35px;">Danh Sách tài khoản tham gia dự thi</h3></div>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            @Html.Partial("_MenuThiSinh")
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @foreach (var item in Model)
            {
                <div class="post">
                    <div class="post-top">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading" style="color: #FF660F;">Số báo danh: @item.IdentificationNumber</h4>
                            </div>
                        </div>
                        <p class="txt">
                            <strong>Tài khoản:</strong> @item.Username
                        </p>
                        <p class="txt">
                            <strong>Mật khẩu:</strong> @item.Password
</p>
                        <p class="txt">
                            <strong>Họ và tên phụ huynh:</strong> @item.ParentName
</p>
                        <p class="txt">
                            <strong>Họ và tên con:</strong> @item.ChildName
</p>
                        <p class="txt">
                            <strong>Lớp:</strong> @item.GradeName
</p>
                    </div>
                    <div class="clear-both"></div>
                </div>
                <div class="clear-both"></div>
            }
        </div>
    </div>
</div>