﻿@model GCSOFT.MVC.STNHD.Models.PageViewModels.ContentPageViewModel
@using GCSOFT.MVC.STNHD.Models
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
    var userInfo = (UserInfoViewModel)ViewBag.UserInfo;
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>
                @ViewBag.result
            </p>
            <div class="modify-w-form">
                <h3>THẬT TUYỆT VỜI !!!</h3>
                <p>Mã Kích Hoạt đã được gửi vào SMS và Email của bạn</p>
                <p>Mọi chi tiết vui lòng liên hệ với Tâm Trí Lực để được hổ trợ: <strong>0939 279 868</strong></p>
                <p><strong>Trân trọng cám ơn</strong></p>
                <div class="text-center"><button type="button" id="btn" class="btn btn-primary">Kích Hoạt Tài Khoản</button></div>
                <div class="support-course">
                    <p>Thông tin nhận mã kích hoạt</p>
                    <form method="post" id="submitForm" class="form-horizontal" autocomplete="off">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Tên</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="LastName" name="LastName" value="@userInfo.fullName" readonly="readonly" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Số Điện Thoại</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="Mobile" name="Mobile" value="@userInfo.Phone" readonly="readonly" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="Email" name="Email" value="@userInfo.Email" readonly="readonly" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn').click(function () {
                location.href = '@Url.Action("Index", "ClassInfo")';
            });
        });
    </script>
}