﻿@model GCSOFT.MVC.STNHD.Models.PageViewModels.ContentPageViewModel
@using GCSOFT.MVC.STNHD.Models
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>
                @ViewBag.result
            </p>
            <div class="modify-w-form">
                <h3>THẬT XIN LỖI !</h3>
                <p>Đơn hàng của anh chị thanh toán chưa thành công</p>
                <p>Vui lòng liên hệ với Tâm Trí Lực để được hổ trợ: <strong>0939 279 868</strong></p>
                <p><strong>Trân trọng cám ơn !!!</strong></p>
                <div class="text-center"><button type="button" id="btnRePay" class="btn btn-primary">Thanh toán lại</button></div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnRePay').click(function () {
                location.href = '@Url.Action("Index", "ClassInfo")';
            });
        });
    </script>
}