﻿@model GCSOFT.MVC.STNHD.Models.SCBPayment
@using GCSOFT.MVC.STNHD.Models.PageViewModels
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
    var accountInfo = (ActiveAccountPage)ViewBag.ActivePayment;
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn @accountInfo.UserInfo.fullName</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="modify-w-form">
                <h3>Kích Hoạt Khóa Học</h3>

                <div class="ask-you">
                    <p>Bạn đã có <strong>Mã Kích Hoạt</strong> của Siêu Trí Nhớ Học Đường?</p>
                    <input type="radio" name="question" value="yes" checked> Đã có &nbsp;
                    <input type="radio" name="question" value="no"> Chưa có
                </div>
                <div id="activeCourse">
                    <div class="form-group">
                        <input type="text" class="form-control" id="activeCode" placeholder="Mã kích hoạt" value="">
                    </div>
                    <div class="text-center"><button type="button" id="btnGo" class="btn btn-primary">Vào lớp học</button></div>
                </div>
                <div id="buyCourse" class="support-course" style="margin-top: 10px !important; display: none;">
                    <p>Chọn Hình Thức Mua Hàng</p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label class="radio-label" for="course" name="lblcourse" value="agency">
                                <i class="fa fa-check" aria-hidden="true" style="display:block"></i> <strong>Mua tại các đại lý của Tâm Trí Lực</strong>
                            </label>
                            <input type="radio" name="course">
                            <div id="paymentAgency">
                                <div class="card-right payment-content">
                                    Nếu bạn chưa có mã kích hoạt khóa học, bạn có thể liên hệ với đại lý của Tâm Trí Lực gần nhất để mua mã kích hoạt <a href="@Url.Action("Index","Agency")" target="_blank">tại đây</a>, sau đó quay lại kích hoạt bằng <strong>Mã Kích Hoạt</strong> được Đại Lý cấp qua SMS cho bạn.
                                </div>
                                <div class="support-course">
                                    <p>Giá Mua Tại Đại Lý</p>
                                    <div class="card-right">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-text">Gói trọn đời</span></div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-price">1.368.000</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-text">Khuyến mãi</span></div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-price">0</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-text">Vận chuyển</span></div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-price">0</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3S">
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-total">Tổng tiền</span> </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-total">1.368.000</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <label class="radio-label" for="course" name="lblcourse" value="ttl"><i class="fa fa-check" aria-hidden="true"></i> <strong>Mua tại Tâm Trí Lực</strong></label>
                            <input type="radio" name="course">
                            <div id="paymentTTL" style="display: none;">
                                <div class="support-course">
                                    <p>Giá Mua Tại Tâm Trí Lực</p>
                                    <div class="card-right">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-text">Gói trọn đời</span></div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-price">1.468.000</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-text">Khuyến mãi</span></div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-price">0</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-text">Vận chuyển</span></div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-price">0</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3S">
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-total">Tổng tiền</span> </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="super-total">1.468.000</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="support-course">
                                    <p>Thông Tin Nhận Mã Kích Hoạt</p>
                                    <form method="post" action="https://cardtest.sacombank.com.vn:9448/checkout/stbCheckout" id="submitForm" class="form-horizontal">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Profile ID</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.ProfileID, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">AccessKey (AppID)</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.AccessKey, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Transaction ID</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.TransactionID, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Transaction Time</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.TransactionDateTime, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Language</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.Language, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">IsTokenRequest</label>
                                            <div class="col-sm-9">
                                                <input type="radio" id="yes" value="True" name="IsTokenRequest" class="custom-control-input">
                                                <label class="custom-control-label" for="yes">True</label>
                                                &nbsp;&nbsp;
                                                <input type="radio" id="no" value="False" name="IsTokenRequest" class="custom-control-input" checked="checked">
                                                <label class="custom-control-label" for="no">False</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">SubscribeOnly</label>
                                            <div class="col-sm-9">
                                                <input type="radio" id="subonly-yes" value="true" name="SubscribeOnly" class="custom-control-input">
                                                <label class="custom-control-label" for="subonly-yes">True</label>
                                                &nbsp;&nbsp;
                                                <input type="radio" id="subonly-no" value="false" name="SubscribeOnly" class="custom-control-input" checked="checked">
                                                <label class="custom-control-label" for="subonly-no">False</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">SubscribeWithMin</label>
                                            <div class="col-sm-9">
                                                <input type="radio" id="subwithmin-yes" value="True" name="SubscribeWithMin" class="custom-control-input">
                                                <label class="custom-control-label" for="subwithmin-yes">True</label>
                                                &nbsp;&nbsp;
                                                <input type="radio" id="subwithmin-no" value="False" name="SubscribeWithMin" class="custom-control-input" checked="checked">
                                                <label class="custom-control-label" for="subwithmin-no">False</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">CardNumber</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.CardNumber, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Description</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Amount</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.TotalAmount, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">InternationalFee</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.InternationalFee, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">DomesticFee</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.DomesticFee, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Currency</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.Currency, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">SSN</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.SSN, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">First Name</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Last Name</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Gender</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.Gender, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Address</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">District</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.District, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">City</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Postal Code</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Country</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.Country, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Mobile</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">CancelUrl</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.CancelUrl, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">ReturnUrl</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.ReturnUrl, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Signature</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.Signature, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="text-center"><button type="button" id="submitBtn" class="btn btn-primary">Thanh Toán</button></div>
                                    </form>
                                </div>
                                <div class="support-course">
                                    <p>Ghi chú khi chuyển khoản</p>
                                    <div class="card-right payment-content-2">
                                        Tại mục "Ghi chú" khi chuyển khoản, bạn ghi rõ: <strong>Số điện thoại – Họ và tên – STNHD</strong>
                                        <br />
                                        <strong>Ví dụ:</strong> 0909090909 –Huong Lan – STNHD
                                        <br />
                                        Sau khi xác nhận thanh toán thành công, Mã kích hoạt sẽ được gửi qua SMS cho bạn.
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#activeCode').bind('keyup change', function () {
                $('#activeCode').val($.trim($(this).val().toUpperCase()));
            });
            $("#submitBtn").on("click", function (e) {
                e.preventDefault();
                var data = $('#submitForm').serializeObject();
                $.ajax({
                    url: '@Url.Action("Signature", "ActiveAccount")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    success: function (signature) {
                        console.log(signature);
                        $("#Signature").val(signature);
                        $('#submitForm').attr("action", 'https://cardtest.sacombank.com.vn:9448/checkout/stbCheckout');
                        $('#submitForm').submit();
                    },
                    error: function (xhr) {
                        startLoader(false);
                        console.log('Error: ' + xhr.statusText);
                    },
                    async: true,
                    processData: false
                });
            });
            $('#btnGo').click(function () {
                if ($('#activeCode').val() == '') {
                    $.toast({
                        heading: 'Thông Báo',
                        text: 'Vui lòng nhập mã kích hoạt',
                        showHideTransition: 'slide',
                        icon: 'info',
                        position: 'top-center'
                    });
                    return false;
                } else {
                    NProgress.start();
                    $('#btnGo').hide();
                    $.post("@Url.Action("ActiveCode", "ClassInfo")", { activeCode: $('#activeCode').val() }, function (data) {
                        if (data.s == 'oke') {
                            window.location.href = data.url;
                        } else {
                            NProgress.done();
                            $('#btnGo').show();
                            $.toast({
                                heading: 'Thông Báo',
                                text: data.url,
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                        }
                    });
                }
            });
            $('[name="question"]').change(function () {
                if ($('input[name=question]:checked').val() == 'yes') {
                    $('#activeCourse').show();
                    $('#buyCourse').hide();
                } else {
                    $('#activeCourse').hide();
                    $('#buyCourse').show();
                }
            });
            $('[name="lblcourse"]').click(function () {
                if ($(this).attr('value') == 'agency') {
                    $('#paymentAgency').show();
                    $('#paymentTTL').hide();
                } else {
                    $('#paymentAgency').hide();
                    $('#paymentTTL').show();
                }
            });
        });
        (function ($) {
            $.fn.serializeObject = function () {

                var self = this,
                    json = {},
                    push_counters = {},
                    patterns = {
                        "validate": /^[a-zA-Z][a-zA-Z0-9_]*(?:\[(?:\d*|[a-zA-Z0-9_]+)\])*$/,
                        "key": /[a-zA-Z0-9_]+|(?=\[\])/g,
                        "push": /^$/,
                        "fixed": /^\d+$/,
                        "named": /^[a-zA-Z0-9_]+$/
                    };


                this.build = function (base, key, value) {
                    base[key] = value;
                    return base;
                };

                this.push_counter = function (key) {
                    if (push_counters[key] === undefined) {
                        push_counters[key] = 0;
                    }
                    return push_counters[key]++;
                };

                $.each($(this).serializeArray(), function () {

                    // skip invalid keys
                    if (!patterns.validate.test(this.name)) {
                        return;
                    }

                    var k,
                        keys = this.name.match(patterns.key),
                        merge = this.value,
                        reverse_key = this.name;

                    while ((k = keys.pop()) !== undefined) {

                        // adjust reverse_key
                        reverse_key = reverse_key.replace(new RegExp("\\[" + k + "\\]$"), '');

                        // push
                        if (k.match(patterns.push)) {
                            merge = self.build([], self.push_counter(reverse_key), merge);
                        }

                        // fixed
                        else if (k.match(patterns.fixed)) {
                            merge = self.build([], k, merge);
                        }

                        // named
                        else if (k.match(patterns.named)) {
                            merge = self.build({}, k, merge);
                        }
                    }

                    json = $.extend(true, json, merge);
                });

                return json;
            };
        })(jQuery);
    </script>
}