﻿@model GCSOFT.MVC.STNHD.Models.PageViewModels.ContentPageViewModel
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
        </div>
    </div>
</div>