﻿@{
    ViewBag.Title = "Tài Liệu Hướng Dẫn";
    Layout = "~/Views/Shared/_LayoutOC.cshtml";
}
<link href="@Url.Content("~/Content/Videos.css")" rel="stylesheet" />
<div class="container">
    @*<div class="jumbotron">
        <div class="txt divcenter">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>*@
    <div class="row">
        <h3 style="text-align: center; font-weight: bold; color: #FF660F; font-family: Merriweather;">@ViewBag.Title</h3>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <iframe style="width:100%;height:800px" src="https://online.fliphtml5.com/kksyd/jyye/" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>

        </div>
    </div>
</div>