﻿@{
    ViewBag.Title = ViewBag.TitleVideo;
    Layout = "~/Views/Shared/_LayoutOC.cshtml";
}
<link href="@Url.Content("~/Content/Videos.css")" rel="stylesheet" />
<div class="container">
    @*<div class="jumbotron">
        <div class="txt divcenter">
            <h2>@ViewBag.TitleVideo</h2>
        </div>
    </div>*@
    <div class="row">
        <h3 style="text-align: center; font-weight: bold; color: #FF660F; font-family: Merriweather;">@ViewBag.TitleVideo</h3>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            <div class="box-detail box-detail-lesson">
                <h3>Videos Hướng dẫn</h3>
                <div class="box-detail-inner">
                    <ul>
                        <li><a href="@Url.Action("v", "hientai", new { id = 10 })">Hướng dẫn cài đặt ứng dụng và đăng ký tài khoản Outlier</a></li>
                        <li><a href="@Url.Action("v", "hientai", new { id = 20 })">Hướng dẫn ghi nhận và theo dõi quá trình rèn luyện Hiền Tài</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 mt-17">
            <div class="video" style="text-align:center">
                <video style="height: 600px" controls muted autoplay>
                    <source src="@ViewBag.link" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>