﻿@{
    ViewBag.Title = "Error page";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h3 style="text-align: center; padding-top: 30px; padding-bottom: 30px; color: Green">
        <p>Đã có vấn đề xảy ra khi thực hiện yêu cầu của bạn.</p>
        <p>Vui lòng liên hệ với nhà phát triển để hổ trợ.</p>
        @ViewBag.error
    </h3>
</body>
</html>